@using AttendanceSystem.ViewModel
@{
    ViewBag.Title = "SMS Renew";
    List<SMSPackageVM> lstSMSPackages = ViewData["lstSMSPackages"] as List<SMSPackageVM>;
}
<style>
    a {
        text-decoration: none;
    }

    .pricingTable {
        text-align: center;
        background: #fff;
        margin: 0 -15px;
        box-shadow: 0 0 10px #ababab;
        padding-bottom: 40px;
        border-radius: 10px;
        color: #cad0de;
        transform: scale(1);
        transition: all .5s ease 0s
    }

        .pricingTable:hover {
            transform: scale(1.05);
            z-index: 1
        }

        .pricingTable .pricingTable-header {
            padding: 40px 0;
            background: #f5f6f9;
            border-radius: 10px 10px 50% 50%;
            transition: all .5s ease 0s
        }

        .pricingTable:hover .pricingTable-header {
            background: #ff9624
        }

        .pricingTable .pricingTable-header i {
            font-size: 50px;
            color: #858c9a;
            margin-bottom: 10px;
            transition: all .5s ease 0s
        }

        .pricingTable .price-value {
            font-size: 35px;
            color: #ff9624;
            transition: all .5s ease 0s
        }

        .pricingTable .month {
            display: block;
            font-size: 14px;
            color: #cad0de
        }

        .pricingTable:hover .month,
        .pricingTable:hover .price-value,
        .pricingTable:hover .pricingTable-header i {
            color: #fff
        }

        .pricingTable .heading {
            font-size: 24px;
            color: #ff9624;
            margin-bottom: 20px;
            text-transform: uppercase
        }

        .pricingTable .pricing-content ul {
            list-style: none;
            padding: 0;
            margin-bottom: 30px
        }

            .pricingTable .pricing-content ul li {
                line-height: 30px;
                color: #000000;
            }

                .pricingTable .pricing-content ul li b {
                    color: #425C59;
                }

        .pricingTable .pricingTable-signup a {
            display: inline-block;
            font-size: 15px;
            color: #fff;
            padding: 10px 35px;
            border-radius: 20px;
            background: #ffa442;
            text-transform: uppercase;
            transition: all .3s ease 0s
        }

            .pricingTable .pricingTable-signup a:hover {
                box-shadow: 0 0 10px #ffa442
            }
</style>

<section class="section">

    <div class="card-header" style="margin-bottom:20px;">
        <h4>Buy New SMS Package</h4>
    </div>

    <div class="section-body">

        <div class="row">

            @if (lstSMSPackages != null && lstSMSPackages.Count > 0)
            {
                int smsPackageCounter = 1;
                foreach (SMSPackageVM obj in lstSMSPackages)
                {

                    <div class="col-md-3 col-sm-6">
                        <div class="pricingTable" style="color: @obj.PackageColorCode">
                            <div id="smspricingTableHeader_@smsPackageCounter" class="pricingTable-header" onmouseover="mouseoverSMS('@smsPackageCounter', '@obj.PackageColorCode')" onmouseout="mouseoutSMS('@smsPackageCounter', '@obj.PackageColorCode')">
                                <i class="@obj.PackageFontIcon"></i>
                                <div class="price-value" id="smsheading_@smsPackageCounter" style="color: @obj.PackageColorCode">
                                    @obj.PackageAmount
                                    @*<span class="month">per month</span>*@
                                    <i class="month fas fa-rupee-sign"></i>
                                </div>
                            </div>
                            <h3 class="heading" style="margin-top: 10px; color: @obj.PackageColorCode">@obj.PackageName</h3>
                            <div class="pricing-content">
                                <ul>
                                    <li><b>@obj.AccessDays</b> Access Days</li>
                                    <li><b>@obj.NoOfSMS</b> No Of SMS</li>
                                </ul>
                            </div>
                            <div class="pricingTable-signup">
                                <a href="javascript:void(0);" onclick="fnBuyNowPackage('@obj.SMSPackageId', '@obj.PackageName')" style="background: @obj.PackageColorCode">Buy Now <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    { smsPackageCounter++; }
                }
            }

        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script type="text/javascript">

    function fnBuyNowPackage(smsPackageId, packageName) {
        var r = confirm("Are you sure want to buy '" + packageName + "' package ?");
        if (r == true) {

            var StrURL = '/admin/smsrenew/BuySelectedsmsPackage';
            $.ajax({
                url: StrURL,
                cache: false,
                data: {
                    'PackageId': smsPackageId
                },
                type: 'POST',
                success: function (data) {
                    if (data != null) {
                        alert(data.Message);
                    }
                    else {
                        alert("Something went wrong. Please try again later.")
                    }
                },
                error: function (req, status, error) {
                    alert(error);
                }
            });

        }
    }


    function mouseoverSMS(counter, colorcode) {
        $("#smspricingTableHeader_" + counter).css("background", colorcode);
        $("#smsheading_" + counter).css("color", "white");
        $("#smsper_" + counter).css("color", "white");
    }

    function mouseoutSMS(counter, colorcode) {
        $("#smspricingTableHeader_" + counter).css("background", "#f5f6f9");
        $("#smsheading_" + counter).css("color", colorcode);
        $("#smsper_" + counter).css("color", colorcode);
    }


</script>