@using AttendanceSystem.Helper;
@model AttendanceSystem.ViewModel.CompanySMSPackRenewVM
@{
    ViewBag.Title = "SMS Renew";
}

<section class="section">

    <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h4>SMS Package</h4>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-6">
                            @Html.LabelFor(model => model.SMSPackageName, htmlAttributes: new { @class = "" })
                            @Model.SMSPackageName
                        </div>
                        <div class="form-group col-6">
                            @Html.LabelFor(model => model.RenewDate, htmlAttributes: new { @class = "" })
                            @Model.RenewDate
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            @Html.LabelFor(model => model.AccessDays, htmlAttributes: new { @class = "" })
                            @Model.AccessDays
                        </div>
                        <div class="form-group col-6">
                            @Html.LabelFor(model => model.PackageExpiryDate, htmlAttributes: new { @class = "" })
                            @Model.PackageExpiryDate.ToString("dd MMM yyyy")
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            @Html.LabelFor(model => model.PackageAmount, htmlAttributes: new { @class = "" })
                            @Model.PackageAmount
                        </div>
                        <div class="form-group col-6">
                            @Html.LabelFor(model => model.NoOfSMS, htmlAttributes: new { @class = "" })
                            @Model.NoOfSMS
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            @Html.LabelFor(model => model.RemainingSMS, htmlAttributes: new { @class = "" })
                            @Model.RemainingSMS
                        </div>
                        
                    </div>

                </div>

                <div class="card-footer text-center">
                    <a href="/admin/smsrenew" class="btn btn-secondary">Cancel</a>
                </div>

            </div>
        </div>
    </div>

</section>
