@using AttendanceSystem.Helper;
@model AttendanceSystem.ViewModel.WorkerTypeVM
@{
    /**/

}

<section class="section">

    <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h4>@(Model.WorkerTypeId == 0 ? "Add" : "Edit") Worker Type</h4>
                </div>

                @using (Html.BeginForm("Add", "WorkerType", FormMethod.Post, new { @id = "WorkerTypeFormId", @class = "", enctype = "multipart/form-data", role = "form" }))
                {
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.WorkerTypeName, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.WorkerTypeName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter WorkerType Name ", maxlength = "200", @autofocus = "autofocus" } })
                                @Html.ValidationMessageFor(model => model.WorkerTypeName, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.WorkerTypeId)
                            </div>

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "" })
                            @Html.TextAreaFor(model => model.Description, 10, 5, new { @class = "form-control", @placeholder = "Enter Description", maxlength = "250" })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="card-footer text-center">
                        <button class="btn btn-primary mr-1" type="submit">Submit</button>
                        <a href="/admin/WorkerType" class="btn btn-secondary">Cancel</a>
                    </div>

                }

            </div>
        </div>
    </div>

</section>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $('#btnCancel').click(function () {
            window.location.href = "/admin/workertype";
        });

        $('#btnSubmit').click(function () {
            if ($("#WorkerTypeFormId").valid()) {

            }
            else {
                return false;
            }

        });

        $("#WorkerTypeName").change(function () {
            var workerTypeName = $("#WorkerTypeName").val();
            var workerTypeId = $("#WorkerTypeId").val();
            var StrURL = '/admin/workertype/CheckWorkerTypeName?workerTypeName=' + workerTypeName + "&workerTypeId=" + workerTypeId;
            $.ajax({
                url: StrURL,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                    if (data.Status == true) {
                        alert("WorkerType with same name already exist, Please use another name.")
                        $("#WorkerTypeName").val("");
                        return false;
                    }

                },
                error: function (req, status, error) {
                    alert(error);
                }
            });
        });

    })
</script>