@using AttendanceSystem.Helper
@using AttendanceSystem.ViewModel
@model List<DynamicContentVM>
@{
    ViewBag.Title = "WebsiteContent";
    int counter = 1;
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Dynamic Content List</h4>
                    </div>
                    <div class="card-body">
                        <div class="pull-right">
                            <a href="/admin/dynamiccontent/add" class="btn btn-icon icon-left btn-primary"><i class="fas fa-plus-circle"></i> Add Dynamic Content</a>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th width="5%;">#</th>
                                        <th width="15%;">Content Type</th>
                                        <th width="20%;">Dynamic Title</th>
                                        <th width="15%;">Sequence Number</th>
                                        <th width="10%;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>


                                    @if (Model != null && Model.Count > 0)
                                    {
                                        foreach (DynamicContentVM obj in Model)
                                        {
                                            <tr class="gradeX">
                                                <td>@counter.</td>
                                                <td>
                                                    @if (obj.DynamicContentType == (int)DynamicContents.FAQ)
                                                    {
                                                        <span>FAQ</span>
                                                    }
                                                    else if (obj.DynamicContentType == (int)DynamicContents.PrivacyPolicy)
                                                    {
                                                        <span>Privacy Policy</span>
                                                    }
                                                    else if (obj.DynamicContentType == (int)DynamicContents.TermsCondition)
                                                    {
                                                        <span>Terms & Condition</span>
                                                    }
                                                </td>
                                                <td>@obj.ContentTitle</td>
                                                <td>@obj.SeqNo</td>
                                                <td>                                                    
                                                    <a href="/admin/dynamiccontent/edit/@obj.DynamicContentId" title="Edit" class="btn btn-icon btn-warning"><i class="fas fa-edit"></i></a>
                                                    <a href="javascript:void(0);" title="Delete" class="btn btn-icon btn-danger" onclick="fnDeletedynamiccontent('@obj.DynamicContentId')"><i class="fas fa-trash-alt"></i></a>

                                                </td>
                                            </tr>
                                            counter++;
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade open" id="deletedynamiccontentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Confirm</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete ?
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdnDeletedynamiccontent" />
                <button data-dismiss="modal" class="btn btn-primary" type="button">Close</button>
                <button id="btnDeletedynamiccontent" class="btn btn-danger" type="button">Delete</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade open" id="activeinactiveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Status Confirm</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                Are you sure you want to active ?
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdndataId" />
                <input type="hidden" id="hdnstatus" />
                <button data-dismiss="modal" class="btn btn-primary" type="button">Close</button>
                <button id="btnChangeStatus" class="btn btn-danger" type="button">Submit</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $('#btnDeletedynamiccontent').click(function () {
            var dynamiccontent_Id = jQuery("#hdnDeletedynamiccontent").val();
            if (dynamiccontent_Id != "" && dynamiccontent_Id != null) {
                $('#deletedynamiccontentModal').modal('hide');

                //StartLoading();

                var URL = '@Url.Action("DeleteDynamicContent", "DynamicContent")';
                $.ajax({
                    type: 'POST',
                    async: true,
                    url: URL + "?DynamicContentId=" + dynamiccontent_Id,
                    success: function (result) {
                        if (result == "success") {
                            alert("Dynamic Content deleted successfully");
                            window.location.reload();
                        }
                        else if (result == "notfound") {
                            alert("Dynamic Content Not Found");
                        }
                        else {
                            alert("Something went wrong. Please try again");
                        }

                       StopLoading();
                    },
                    error: function (resultData) {
                       // StopLoading();
                    }
                });
            }
        });

        $('#btnChangeStatus').click(function () {

            var Id = jQuery("#hdndataId").val();
            if (Id != "" && Id != null) {
                $('#activeinactiveModal').modal('hide');

                //StartLoading();

                var URL = '@Url.Action("ChangeStatus", "DynamicContent")';
                $.ajax({
                    type: 'POST',
                    async: true,
                    url: URL + "?Id=" + Id+"&Status="+jQuery("#hdnstatus").val(),
                    success: function (result) {
                        if (result == "success") {
                            alert("Status change Successfully...");
                            window.location.reload();
                        }
                        else {
                            alert("Something went wrong. Please try again");
                        }

                       //StopLoading();
                    },
                    error: function (resultData) {
                        //StopLoading();
                    }
                });
            }
        });

    })

    function fnDeletedynamiccontent(dynamiccontent_Id) {
        jQuery("#hdnDeletedynamiccontent").val(dynamiccontent_Id);
        $('#deletedynamiccontentModal').modal('show');
    }

    function fnChangeStatus(dynamiccontent_Id, status) {
        jQuery("#hdndataId").val(dynamiccontent_Id);
        jQuery("#hdnstatus").val(status);
        if (status == "Active") {
            $('#btnChangeStatus').html("Active");
            $('#activeinactiveModal .modal-body').html(" Are you sure you want to make active ?");
        }
        else {
            $('#btnChangeStatus').html("Inactive");
            $('#activeinactiveModal .modal-body').html(" Are you sure you want to make inactive ?");
        }
        $('#activeinactiveModal').modal('show');
    }

</script>
