@using AttendanceSystem.Helper;
@model AttendanceSystem.ViewModel.EmployeeVM
@{
    ViewBag.Title = "Worker";
}

<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header" style="background-color: #425C59; display: block;">
                        <div class="pull-left">
                            <h4 style="color: #FFCEA3;">View Worker - @Model.FirstName @Model.LastName</h4>
                        </div>
                        <div class="pull-right">
                            <a href="/admin/worker" class="btn btn-warning pull-right"><i class="fas fa-backward"></i> Back</a>
                        </div>
                    </div>
                </div>
                <div class="card">

                    <div class="card-body">
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-4">
                                    @Html.LabelFor(model => model.AdminRoleId)
                                    <p>@Model.AdminRoleText</p>
                                </div>
                                <div class="form-group col-4">
                                    @Html.LabelFor(model => model.WorkerTypeId)
                                    <p>@Model.WorkerTypeText</p>
                                </div>
                                <div class="form-group col-4">
                                    @Html.LabelFor(model => model.Prefix)
                                    <p>@Model.Prefix</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-4">
                                    @Html.LabelFor(model => model.FirstName)
                                    <p>@Model.FirstName</p>
                                </div>
                                <div class="form-group col-4">
                                    @Html.LabelFor(model => model.LastName)
                                    <p>@Model.LastName</p>
                                </div>
                                <div class="form-group col-4">
                                    @Html.LabelFor(model => model.MobileNo)
                                    <p>@Model.MobileNo</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-4">
                                    @Html.LabelFor(model => model.Address)
                                    <p>@Model.Address</p>
                                </div>
                                <div class="form-group col-4">
                                    @Html.LabelFor(model => model.City)
                                    <p>@Model.City</p>
                                </div>
                                <div class="form-group col-4">
                                    @Html.LabelFor(model => model.Dob)
                                    <p>@(Model.Dob != null ? Convert.ToDateTime(Model.Dob).ToString("dd-MM-yyyy") : "")</p>
                                </div>
                            </div>
                            <div class="row">

                                <div class="form-group col-4">
                                    @Html.LabelFor(model => model.DateOfJoin)
                                    <p>@(Model.DateOfJoin != null ? Convert.ToDateTime(Model.DateOfJoin).ToString("dd-MM-yyyy") : "")</p>
                                </div>
                                <div class="form-group col-4">
                                    @Html.LabelFor(model => model.BloodGroup)
                                    <p>@Model.BloodGroup</p>
                                </div>
                                <div class="form-group col-4">
                                    @Html.LabelFor(model => model.AdharCardNo)
                                    <p>@Model.AdharCardNo</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-4">
                                    @Html.LabelFor(model => model.EmploymentCategory)
                                    <p>@Model.EmploymentCategoryText</p>
                                </div>
                                @if (Model.EmploymentCategory == (int)EmploymentCategory.MonthlyBased)
                                {
                                    <div class="form-group col-4">
                                        @Html.LabelFor(model => model.MonthlySalaryPrice)
                                        <p>@Model.MonthlySalaryPrice</p>
                                    </div>
                                }

                                <div class="form-group col-4">
                                    @if (Model.EmploymentCategory == (int)EmploymentCategory.DailyBased)
                                    {
                                        <label>Per Day Salary</label>
                                    }
                                    else if (Model.EmploymentCategory == (int)EmploymentCategory.HourlyBased)
                                    {
                                        <label>Per Hour Price</label>
                                    }
                                    else if (Model.EmploymentCategory == (int)EmploymentCategory.UnitBased)
                                    {
                                        <label>Per Unit Price</label>
                                    }
                                    else
                                    {
                                        @Html.LabelFor(model => model.PerCategoryPrice)
                                    }

                                    <p>@Model.PerCategoryPrice</p>
                                </div>

                            </div>
                            <div class="row">

                                <div class="form-group col-4">
                                    @Html.LabelFor(model => model.ExtraPerHourPrice)
                                    <p>@Model.ExtraPerHourPrice</p>
                                </div>
                                @if (Model.EmploymentCategory == (int)EmploymentCategory.MonthlyBased)
                                {
                                    <div class="form-group col-4">
                                        @Html.LabelFor(model => model.IsLeaveForward)
                                        <p>@(Model.IsLeaveForward ? "Yes" : "No")</p>
                                    </div>
                                    <div class="form-group col-4">
                                        @Html.LabelFor(model => model.NoOfFreeLeavePerMonth)
                                        <p>@Model.NoOfFreeLeavePerMonth</p>
                                    </div>
                                }
                            </div>

                            <div class="row">
                                <div class="form-group col-6">
                                    @Html.LabelFor(model => model.ProfileImageFile)
                                    <p><a target="_blank" href="@ErrorMessage.EmployeeDirectoryPath/@Model.ProfilePicture"> Click here to view image </a></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

</div>