@using AttendanceSystem.Helper;
@model AttendanceSystem.ViewModel.EmployeeVM
@{
    ViewBag.Title = "Worker";

    List<EmployeeFingerprintVM> lstFingerprint = ViewData["lstFingerprint"] as List<EmployeeFingerprintVM>;

}

<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header" style="background-color: #425C59; display: block;">
                        <div class="pull-left">
                            <h4 style="color: #FFCEA3;">View Worker - @Model.FirstName @Model.LastName</h4>
                        </div>
                        <div class="pull-right">
                            <a href="/admin/worker" class="btn btn-warning pull-right"><i class="fas fa-backward"></i> Back</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" style="display: block;">
                        <div class="pull-right">
                            <a href="/admin/worker/add/@Model.EmployeeId" class="btn btn-primary pull-right"><i class="fas fa-edit"></i> Edit</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-4">
                                    @Html.LabelFor(model => model.EmployeeCode)
                                    <p>@Model.EmployeeCode</p>
                                </div>
                                <div class="form-group col-4">
                                    @Html.LabelFor(model => model.WorkerTypeId)
                                    <p>@Model.WorkerTypeText</p>
                                </div>
                                <div class="form-group col-4">
                                    @Html.LabelFor(model => model.Prefix)
                                    <p>@Model.Prefix</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-4">
                                    @Html.LabelFor(model => model.FirstName)
                                    <p>@Model.FirstName</p>
                                </div>
                                <div class="form-group col-4">
                                    @Html.LabelFor(model => model.LastName)
                                    <p>@Model.LastName</p>
                                </div>
                                <div class="form-group col-4">
                                    @Html.LabelFor(model => model.MobileNo)
                                    <p>@Model.MobileNo</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-4">
                                    @Html.LabelFor(model => model.Address)
                                    <p>@Model.Address</p>
                                </div>
                                <div class="form-group col-4">
                                    @Html.LabelFor(model => model.Pincode)
                                    <p>@Model.Pincode</p>
                                </div>
                                <div class="form-group col-4">
                                    @Html.LabelFor(model => model.City)
                                    <p>@Model.City</p>
                                </div>

                            </div>
                            <div class="row">
                                <div class="form-group col-4">
                                    @Html.LabelFor(model => model.State)
                                    <p>@Model.State</p>
                                </div>
                                <div class="form-group col-4">
                                    @Html.LabelFor(model => model.Dob)
                                    <p>@(Model.Dob != null ? Convert.ToDateTime(Model.Dob).ToString("dd-MM-yyyy") : "")</p>
                                </div>

                            </div>
                            <div class="row">

                                <div class="form-group col-4">
                                    @Html.LabelFor(model => model.DateOfJoin)
                                    <p>@(Model.DateOfJoin != null ? Convert.ToDateTime(Model.DateOfJoin).ToString("dd-MM-yyyy") : "")</p>
                                </div>
                                <div class="form-group col-4">
                                    @Html.LabelFor(model => model.BloodGroup)
                                    <p>@Model.BloodGroup</p>
                                </div>
                                <div class="form-group col-4">
                                    @Html.LabelFor(model => model.AdharCardNo)
                                    <p>@Model.AdharCardNo</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-4">
                                    @Html.LabelFor(model => model.EmploymentCategory)
                                    <p>@Model.EmploymentCategoryText</p>
                                </div>
                                @if (Model.EmploymentCategory == (int)EmploymentCategory.MonthlyBased)
                                {
                                    <div class="form-group col-4">
                                        @Html.LabelFor(model => model.MonthlySalaryPrice)
                                        <p>@Model.MonthlySalaryPrice</p>
                                    </div>
                                }

                                <div class="form-group col-4">
                                    @if (Model.EmploymentCategory == (int)EmploymentCategory.DailyBased)
                                    {
                                        <label>Per Day Salary</label>
                                    }
                                    else if (Model.EmploymentCategory == (int)EmploymentCategory.HourlyBased)
                                    {
                                        <label>Per Hour Price</label>
                                    }
                                    else if (Model.EmploymentCategory == (int)EmploymentCategory.UnitBased)
                                    {
                                        <label>Per Unit Price</label>
                                    }
                                    else
                                    {
                                        @Html.LabelFor(model => model.PerCategoryPrice)
                                    }

                                    <p>@Model.PerCategoryPrice</p>
                                </div>

                            </div>
                            <div class="row">
                                <div class="form-group col-4">
                                    @Html.LabelFor(model => model.ExtraPerHourPrice)
                                    <p>@Model.ExtraPerHourPrice</p>
                                </div>
                                @if (Model.EmploymentCategory == (int)EmploymentCategory.MonthlyBased)
                                {
                                    <div class="form-group col-4">
                                        @Html.LabelFor(model => model.IsLeaveForward)
                                        <p>@(Model.IsLeaveForward ? "Yes" : "No")</p>
                                    </div>
                                    <div class="form-group col-4">
                                        @Html.LabelFor(model => model.NoOfFreeLeavePerMonth)
                                        <p>@Model.NoOfFreeLeavePerMonth</p>
                                    </div>
                                }
                            </div>

                            <div class="row">
                                <div class="form-group col-6">
                                    @Html.LabelFor(model => model.ProfileImageFile)
                                    <p><a target="_blank" href="@ErrorMessage.EmployeeDirectoryPath/@Model.ProfilePicture"> Click here to view image </a></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <div class="card-header-action pull-left">
                            <h4>Fingerprint List - @Model.Prefix @Model.FirstName @Model.LastName</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th width="10%">#</th>
                                        <th width="10%">Fingerprint</th>
                                        <th>Created Date</th>
                                        <th width="10%">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (lstFingerprint != null && lstFingerprint.Count > 0)
                                    {
                                        int counter = 1;
                                        foreach (EmployeeFingerprintVM obj in lstFingerprint)
                                        {
                                            <tr>
                                                <td>@counter.</td>
                                                <td>
                                                    <a href="/admin/employee/fingerprint/@obj.EmployeeId" title="Fingerprint">

                                                        @if (string.IsNullOrEmpty(obj.BitmapCode))
                                                        {
                                                            <img src="~/Content/admin-theme/assets/img/contrabook/fingerprint.jpg" alt="" class="img-fluid img-40 blur-up lazyloaded" style="width: 50px; height: 50px;" />
                                                        }
                                                        else
                                                        {
                                                            <img src="data:image/png;base64,@obj.BitmapCode" alt="" class="img-fluid img-40 blur-up lazyloaded" style="width: 50px; height: 50px;" />
                                                        }
                                                    </a>
                                                </td>
                                                <td>@obj.CreatedDate.ToString("dd/MM/yyyy hh:mm tt")</td>
                                                <td>
                                                    <a href="javascript:void(0);" title="Delete" class="btn btn-icon btn-danger" onclick="fnDeleteEmployeeFingerprint('@obj.EmployeeFingerprintId')"><i class="fas fa-trash-alt"></i></a>
                                                </td>
                                            </tr>
                                            counter++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

</div>


<div class="modal fade open" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Confirm</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete ?
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdnDeleteEmployeeFingerprint" />
                <button data-dismiss="modal" class="btn btn-primary" type="button">Close</button>
                <button id="btnDeleteEmployeeFingerprint" class="btn btn-danger" type="button">Submit</button>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>

    $('#btnDeleteEmployeeFingerprint').click(function () {
        var EmployeeFingerprint_Id = jQuery("#hdnDeleteEmployeeFingerprint").val();
        if (EmployeeFingerprint_Id != "" && EmployeeFingerprint_Id != null) {
                $('#deleteEmployeeModal').modal('hide');

                StartLoading();

                var URL = '@Url.Action("DeleteEmployeeFingerprint", "Worker")';
                $.ajax({
                    type: 'POST',
                    async: true,
                    url: URL + "?EmployeeFingerprintId=" + EmployeeFingerprint_Id,
                    success: function (result) {
                        if (result == "success") {
                            alert("Fingerprint deleted successfully");
                            window.location.reload();
                        }
                        else if (result == "notfound") {
                            alert("Fingerprint Not Found");
                        }
                        else {
                            alert("Something went wrong. Please try again");
                        }

                       StopLoading();
                    },
                    error: function (resultData) {
                       StopLoading();
                    }
                });
            }
    });

    function fnDeleteEmployeeFingerprint(EmployeeFingerprint_Id) {
        jQuery("#hdnDeleteEmployeeFingerprint").val(EmployeeFingerprint_Id);
        $('#deleteEmployeeModal').modal('show');
    }
     
</script>