@using AttendanceSystem.Helper;
@model AttendanceSystem.ViewModel.EmployeeVM
@{
    ViewBag.Title = "Worker";
}

<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>View Employee</h5>
                    </div>
                    <div class="card-body">
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-6">
                                    @Html.LabelFor(model => model.AdminRoleId, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                    @Model.AdminRoleText
                                </div>
                                <div class="form-group col-6">
                                    @Html.LabelFor(model => model.Prefix, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                    @Model.Prefix
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                    @Model.FirstName
                                </div>
                                <div class="form-group col-6">
                                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                    @Model.LastName
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    @Html.LabelFor(model => model.MobileNo, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                    @Model.MobileNo
                                </div>
                                <div class="form-group col-6">
                                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                    @Model.Address
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                    @Model.City
                                </div>
                                <div class="form-group col-6">
                                    @Html.LabelFor(model => model.Dob, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                    @Model.Dob
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    @Html.LabelFor(model => model.DateOfJoin, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                    @Model.DateOfJoin
                                </div>
                                <div class="form-group col-6">
                                    @Html.LabelFor(model => model.BloodGroup, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                    @Model.BloodGroup
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    @Html.LabelFor(model => model.AdharCardNo, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                    @Model.AdharCardNo
                                </div>
                                <div class="form-group col-6">
                                    @Html.LabelFor(model => model.AdharCardNo, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                    @Model.AdharCardNo
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    @Html.LabelFor(model => model.EmploymentCategory, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                    @Model.EmploymentCategoryText
                                </div>
                                <div class="form-group col-6">
                                    @Html.LabelFor(model => model.MonthlySalaryPrice, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                    @Model.MonthlySalaryPrice
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    @Html.LabelFor(model => model.PerCategoryPrice, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                    @Model.PerCategoryPrice
                                </div>
                                <div class="form-group col-6">
                                    @Html.LabelFor(model => model.ExtraPerHourPrice, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                    @Model.ExtraPerHourPrice
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    @Html.LabelFor(model => model.IsLeaveForward, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                    @Model.IsLeaveForward
                                </div>
                                <div class="form-group col-6">
                                    @Html.LabelFor(model => model.NoOfFreeLeavePerMonth, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                    @Model.NoOfFreeLeavePerMonth
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    @Html.LabelFor(model => model.ProfileImageFile, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                    <p><a target="_blank" href="@ErrorMessage.EmployeeDirectoryPath/@Model.ProfilePicture"> Click here to view image </a></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

</div>