@using AttendanceSystem.Helper;
@model AttendanceSystem.ViewModel.EmployeeVM
@using System.Configuration
@{
    string strEmpType = (Model.AdminRoleId == (int)AdminRoles.Worker ? "Worker" : "Employee");

    ViewBag.Title = strEmpType;
    List<EmployeeFingerprintVM> lstFingerprint = ViewData["lstFingerprint"] as List<EmployeeFingerprintVM>;

    int totalAddedFingerprint = (lstFingerprint != null ? lstFingerprint.Count : 0);
    int maximumEmployeeFingerprint = Convert.ToInt32(ConfigurationManager.AppSettings["MaximumEmployeeFingerprint"].ToString());
}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header" style="background-color: #425C59; display: block;">
                    <div class="pull-left">
                        <h4 style="color: #FFCEA3;">Fingerprint List - @Model.Prefix @Model.FirstName @Model.LastName</h4>
                    </div>
                    <div class="pull-right">
                        <a href="/admin/employee" class="btn btn-warning pull-right"><i class="fas fa-backward"></i> Back</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" style="display: block;">
                    <div class="pull-right">
                        <a href="/admin/employee/view/@Model.EmployeeId" class="btn btn-primary pull-right"><i class="fas fa-eye"></i> View More</a>
                    </div>
                </div>

                <div class="card-body">

                    <div class="row">
                        <div class="form-group col-4">
                            <label>@Html.LabelFor(model => model.AdminRoleId)</label>
                            <p>@Model.AdminRoleText</p>
                        </div>
                        <div class="form-group col-4">
                            <label>@Html.LabelFor(model => model.EmployeeCode)</label>
                            <p>@Model.EmployeeCode</p>
                        </div>
                        <div class="form-group col-4">
                            <label>@Html.LabelFor(model => model.EmploymentCategory)</label>
                            <p>@Model.EmploymentCategoryText</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-4">
                            <label>@Html.LabelFor(model => model.Prefix)</label>
                            <p>@Model.Prefix</p>
                        </div>
                        <div class="form-group col-4">
                            <label>@Html.LabelFor(model => model.FirstName)</label>
                            <p>@Model.FirstName</p>
                        </div>
                        <div class="form-group col-4">
                            <label>@Html.LabelFor(model => model.LastName)</label>
                            <p>@Model.LastName</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-4">
                            <label>@Html.LabelFor(model => model.Email)</label>
                            <p>@Model.Email</p>
                        </div>
                        <div class="form-group col-4">
                            <label>@Html.LabelFor(model => model.MobileNo)</label>
                            <p>@Model.MobileNo</p>
                        </div>

                        <div class="form-group col-4">
                            <label>@Html.LabelFor(model => model.ProfileImageFile)</label>
                            <p><a target="_blank" href="@ErrorMessage.EmployeeDirectoryPath/@Model.ProfilePicture"> Click here to view image </a></p>
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group col-4">
                            <label>@Html.LabelFor(model => model.IsFingerprintEnabled)</label>
                            <p>@(Model.IsFingerprintEnabled ? "Yes" : "No")</p>
                        </div>
                    </div>

                </div>

            </div>

            <div class="card">
                <div class="card-header" style="display: block;">
                    <div class="card-header-action pull-right">
                        <a id="btnAddEmployeeFingerprint" href="javascript:void(0);" class="btn btn-icon icon-left btn-primary"><i class="fas fa-plus-circle"></i> Add @strEmpType Fingerprint</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
                            <thead>
                                <tr>
                                    <th width="10%">#</th>
                                    <th width="10%">Fingerprint</th>
                                    <th>ISO Code</th>
                                    <th width="10%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (lstFingerprint != null && lstFingerprint.Count > 0)
                                {
                                    int counter = 1;
                                    foreach (EmployeeFingerprintVM obj in lstFingerprint)
                                    {
                                        <tr>
                                            <td>@counter.</td>
                                            <td>
                                                <a href="/admin/employee/fingerprint/@obj.EmployeeId" title="Fingerprint">
                                                    <img src="~/Content/admin-theme/assets/img/contrabook/fingerprint.jpg" alt="" class="img-fluid img-40 blur-up lazyloaded" style="width: 50px; height: 50px;" />
                                                </a>
                                            </td>
                                            <td>@obj.ISOCode</td>
                                            <td>
                                                <a href="javascript:void(0);" title="Delete" class="btn btn-icon btn-danger" onclick="fnDeleteEmployeeFingerprint('@obj.EmployeeFingerprintId')"><i class="fas fa-trash-alt"></i></a>
                                            </td>
                                        </tr>
                                        counter++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="modal fade open" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Confirm</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete ?
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdnDeleteEmployeeFingerprint" />
                <button data-dismiss="modal" class="btn btn-primary" type="button">Close</button>
                <button id="btnDeleteEmployeeFingerprint" class="btn btn-danger" type="button">Delete</button>
            </div>
        </div>
    </div>
</div>
