@using AttendanceSystem.ViewModel
@using AttendanceSystem.Helper
@model CompanyRequestVM
@{
    ViewBag.Title = "Profile";
}

<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header" style="background-color: #425C59;">
                        <h4 style="color: #FFCEA3;">My Profile</h4>
                    </div>
                </div>
                <div class="card">

                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.EmployeeCode, htmlAttributes: new { @class = "" }) :
                                    @Model.EmployeeCode
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CompanyAdminPrefix, htmlAttributes: new { @class = "" }) :
                                    @Model.CompanyAdminPrefix
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CompanyAdminFirstName, htmlAttributes: new { @class = "" }) :
                                    @Model.CompanyAdminFirstName
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CompanyAdminMiddleName, htmlAttributes: new { @class = "" }) :
                                    @Model.CompanyAdminMiddleName
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CompanyAdminLastName, htmlAttributes: new { @class = "" }) :
                                    @Model.CompanyAdminLastName
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CompanyAdminEmailId, htmlAttributes: new { @class = "" }) :
                                    @Model.CompanyAdminEmailId
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CompanyAdminDOB, htmlAttributes: new { @class = "" }) :
                                    @Model.dtCompanyAdminDOB.ToString("dd MMM yyyy")
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CompanyAdminDateOfMarriageAnniversary, htmlAttributes: new { @class = "" }) :
                                    @if (Model.CompanyAdminDateOfMarriageAnniversary.HasValue)
                                    {@Model.CompanyAdminDateOfMarriageAnniversary.Value.ToString("dd MMM yyyy")}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CompanyAdminMobileNo, htmlAttributes: new { @class = "" }) :
                                    @Model.CompanyAdminMobileNo
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CompanyAdminAlternateMobileNo, htmlAttributes: new { @class = "" }) :
                                    @Model.CompanyAdminAlternateMobileNo
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CompanyAdminDesignation, htmlAttributes: new { @class = "" }) :
                                    @Model.CompanyAdminDesignation
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CompanyAdminAddress, htmlAttributes: new { @class = "" }) :
                                    @Model.CompanyAdminAddress
                                </div>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CompanyAdminCity, htmlAttributes: new { @class = "" }) :
                                    @Model.CompanyAdminCity
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CompanyAdminPincode, htmlAttributes: new { @class = "" }) :
                                    @Model.CompanyAdminPincode
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CompanyAdminDistrict, htmlAttributes: new { @class = "" }) :
                                    @Model.CompanyAdminDistrict
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CompanyAdminState, htmlAttributes: new { @class = "" }) :
                                    @Model.CompanyAdminState
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            >
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CompanyAdminProfilePhotoFile, htmlAttributes: new { @class = "" }) :
                                    @if (!string.IsNullOrEmpty(Model.CompanyAdminProfilePhoto))
                                    {
                                        <div class="form-group row">
                                            <p><a target="_blank" href="@ErrorMessage.ProfileDirectoryPath/@Model.CompanyAdminProfilePhoto"> Click here to view image </a></p>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CompanyAdminPanCardNo, htmlAttributes: new { @class = "" }) :
                                    @Model.CompanyAdminPanCardNo
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CompanyAdminPanCardPhotoFile, htmlAttributes: new { @class = "" }) :
                                    @if (!string.IsNullOrEmpty(Model.CompanyAdminPanCardPhoto))
                                    {
                                        <div class="form-group row">
                                            <p><a target="_blank" href="@ErrorMessage.PancardDirectoryPath/@Model.CompanyAdminPanCardPhoto"> Click here to view image </a></p>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CompanyAdminAadharCardNo, htmlAttributes: new { @class = "" }) :
                                    @Model.CompanyAdminAadharCardNo
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CompanyAdminAadharCardPhotoFile, htmlAttributes: new { @class = "" })
                                    @if (!string.IsNullOrEmpty(Model.CompanyAdminAadharCardPhoto))
                                    {
                                        <div class="form-group row">
                                            <p><a target="_blank" href="@ErrorMessage.AdharcardDirectoryPath/@Model.CompanyAdminAadharCardPhoto"> Click here to view image </a></p>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                @if (clsAdminSession.RoleID == (int)AdminRoles.CompanyAdmin)
                {
                    <div class="card">
                        <div class="card-header">
                            <h5>Company Profile</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "" }) :
                                        @Model.CompanyName
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyCode, htmlAttributes: new { @class = "" }) :
                                        @Model.CompanyCode
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyTypeId, htmlAttributes: new { @class = "" }) :
                                        @Model.CompanyTypeText
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyEmailId, htmlAttributes: new { @class = "" }) :
                                        @Model.CompanyEmailId
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyContactNo, htmlAttributes: new { @class = "" }) :
                                        @Model.CompanyContactNo
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyAlternateContactNo, htmlAttributes: new { @class = "" }) :
                                        @Model.CompanyAlternateContactNo
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyWebisteUrl, htmlAttributes: new { @class = "" }) :
                                        @Model.CompanyWebisteUrl
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyDescription, htmlAttributes: new { @class = "" }) :
                                        @Model.CompanyDescription
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyAddress, htmlAttributes: new { @class = "" }) :
                                        @Model.CompanyAddress
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyCity, htmlAttributes: new { @class = "" }) :
                                        @Model.CompanyCity
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyPincode, htmlAttributes: new { @class = "" }) :
                                        @Model.CompanyPincode
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyDistrict, htmlAttributes: new { @class = "" }) :
                                        @Model.CompanyDistrict
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyState, htmlAttributes: new { @class = "" }) :
                                        @Model.CompanyState
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyGSTNo, htmlAttributes: new { @class = "" }) :
                                        @Model.CompanyGSTNo
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyGSTPhotoFile, htmlAttributes: new { @class = "" }) :
                                        @if (!string.IsNullOrEmpty(Model.CompanyGSTPhoto))
                                        {
                                            <div class="form-group row">
                                                <p><a target="_blank" href="@ErrorMessage.CompanyGSTDirectoryPath/@Model.CompanyGSTPhoto"> Click here to view image </a></p>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyPanNo, htmlAttributes: new { @class = "" }) :
                                        @Model.CompanyPanNo
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyPanPhotoFile, htmlAttributes: new { @class = "" }) :
                                        @if (!string.IsNullOrEmpty(Model.CompanyPanPhoto))
                                        {
                                            <div class="form-group row">
                                                <p><a target="_blank" href="@ErrorMessage.CompanyPanCardDirectoryPath/@Model.CompanyPanPhoto"> Click here to view image </a></p>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyLogoImageFile, htmlAttributes: new { @class = "" }) :
                                        @if (!string.IsNullOrEmpty(Model.CompanyLogoImage))
                                        {
                                            <div class="form-group row">
                                                <p><a target="_blank" href="@ErrorMessage.CompanyLogoDirectoryPath/@Model.CompanyLogoImage"> Click here to view image </a></p>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyRegisterProofImageFile, htmlAttributes: new { @class = "" }) :
                                        @if (!string.IsNullOrEmpty(Model.CompanyRegisterProofImage))
                                        {
                                            <div class="form-group row">
                                                <p><a target="_blank" href="@ErrorMessage.CompanyRegisterProofDirectoryPath/@Model.CompanyRegisterProofImage"> Click here to view image </a></p>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

</div>