@using AttendanceSystem.Helper
@{
    var roleId = clsAdminSession.RoleID;
    var companyLogo = clsAdminSession.CompanyLogo;
}
<!DOCTYPE html>
<html lang="en">
<!-- index.html  21 Nov 2019 03:44:50 GMT -->
<head>

    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title> Contract Book - Admin Panel </title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="~/Content/admin-theme/assets/css/app.min.css">

    <!-- DataTable CSS -->
    <link rel="stylesheet" href="~/Content/admin-theme/assets/bundles/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/Content/admin-theme/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">

    <!-- Template CSS -->
    <link rel="stylesheet" href="~/Content/admin-theme/assets/css/style.css">
    <link rel="stylesheet" href="~/Content/admin-theme/assets/css/components.css">

    <!-- Custom style CSS -->
    <link rel="stylesheet" href="~/Content/admin-theme/assets/css/custom.css">
    <link rel='shortcut icon' type='image/x-icon' href='~/favicon.ico' />

</head>

<body>
    <div class="loader"></div>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar sticky">
                <div class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li>
                            <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg
									collapse-btn"><i data-feather="align-justify"></i></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link nav-link-lg fullscreen-btn">
                                <i data-feather="maximize"></i>
                            </a>
                        </li>

                    </ul>
                </div>
                <ul class="navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown"
                           class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                            @if (roleId == (int)AdminRoles.SuperAdmin)
                            {
                                <img alt="image" src="~/Content/admin-theme/assets/img/logo.png"
                                     class="user-img-radious-style">
                            }
                            else
                            {

                                if (string.IsNullOrEmpty(companyLogo) || !File.Exists(Server.MapPath(ErrorMessage.CompanyLogoDirectoryPath + companyLogo)))
                                {
                                    <img alt="image" src="@ErrorMessage.DefaultImagePath"
                                         class="user-img-radious-style">
                                }
                                else
                                {
                                    <img alt="image" src="@ErrorMessage.CompanyLogoDirectoryPath/@companyLogo"
                                         class="user-img-radious-style">
                                }
                            }
                            <span class="d-sm-none d-lg-inline-block"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right pullDown">
                            <div class="dropdown-title">Hello @clsAdminSession.FullName</div>
                            <a href="/admin/myprofile" class="dropdown-item has-icon">
                                <i class="far fa-user"></i> Profile
                            </a>
                            <a href="/admin/setting/changepassword" class="dropdown-item has-icon">
                                <i class="fas fa-bolt"></i>
                                Change Password
                            </a>
                            @if (clsAdminSession.RoleID == (int)AdminRoles.SuperAdmin)
                            {
                                <a href="/admin/setting" class="dropdown-item has-icon">
                                    <i class="fas fa-cog"></i>
                                    Setting
                                </a>
                            }
                            <div class="dropdown-divider"></div>
                            <a href="/admin/login/signout" class="dropdown-item has-icon text-danger">
                                <i class="fas fa-sign-out-alt"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="main-sidebar sidebar-style-2">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a href="/admin/dashboard">
                            @*<img alt="image" src="~/Content/admin-theme/assets/img/logo.png" class="header-logo" /> <span class="logo-name">Contract Book</span>*@
                            <img style="height:50px;" alt="image" src="~/Content/admin-theme/assets/img/contrabook/admin_top_left_logo.png" class="header-logo" />
                        </a>
                    </div>
                    <ul class="sidebar-menu">
                        @if (clsAdminSession.RoleID == (int)AdminRoles.SuperAdmin)
                        {
                            <li class="dropdown @(ViewBag.Title == "Dashboard" ? "active" : "")">
                                <a href="/admin/dashboard" class="nav-link"><i data-feather="monitor"></i><span>Dashboard</span></a>
                            </li>
                            <li class="dropdown @(ViewBag.Title == "Company" ? "active" : "")">
                                <a href="#" class="menu-toggle nav-link has-dropdown">
                                    <i data-feather="briefcase"></i><span>Company</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link" href="/admin/company/requests">Company Request List</a></li>
                                    <li><a class="nav-link" href="/admin/company/registered">Company Registered List</a></li>
                                    <li><a class="nav-link" href="/admin/company/renew">Company Renew List</a></li>
                                </ul>
                            </li>
                            <li class="dropdown @(ViewBag.Title == "Package" ? "active" : "")">
                                <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="command"></i><span>Account Package</span></a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link" href="/admin/package/add/0">Add Account Package</a></li>
                                    <li><a class="nav-link" href="/admin/package">Account Package List</a></li>
                                </ul>
                            </li>

                            <li class="dropdown @(ViewBag.Title == "SMSPackage" ? "active" : "")">
                                <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="message-circle"></i><span>SMS Package</span></a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link" href="/admin/smspackage/add/0">Add SMS Package</a></li>
                                    <li><a class="nav-link" href="/admin/smspackage">SMS Package List</a></li>
                                </ul>
                            </li>
                            <li class="dropdown @(ViewBag.Title == "WebsiteContent" ? "active" : "")">
                                <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="globe"></i><span>Website Content</span></a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link" href="/admin/homeimage">Home Image List</a></li>
                                    <li><a class="nav-link" href="/admin/dynamiccontent">Dynamic Content</a></li>
                                    <li><a class="nav-link" href="/admin/ourclient">Our Clients</a></li>
                                    <li><a class="nav-link" href="/admin/testimonial">Testimonial</a></li>
                                    <li><a class="nav-link" href="/admin/smscontent">SMS Content</a></li>
                                </ul>
                            </li>

                            <li class="dropdown @(ViewBag.Title == "Feedback" ? "active" : "")">
                                <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="file-minus"></i><span>Feedback</span></a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link" href="/admin/feedback">Feedback List</a></li>
                                </ul>
                            </li>
                            <li class="dropdown @(ViewBag.Title == "Setting" ? "active" : "")">
                                <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="settings"></i><span>Setting</span></a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link" href="/admin/setting">General</a></li>
                                </ul>
                            </li>
                        }
                        else if (clsAdminSession.RoleID == (int)AdminRoles.CompanyAdmin)
                        {
                            <li class="dropdown @(ViewBag.Title == "Dashboard" ? "active" : "")">
                                <a href="/admin/dashboard" class="nav-link"><i data-feather="monitor"></i><span>Dashboard</span></a>
                            </li>

                            <li class="dropdown @(ViewBag.Title == "Employee" ? "active" : "")">
                                <a href="#" class="menu-toggle nav-link has-dropdown">
                                    <i data-feather="users"></i><span>Employee</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link" href="/admin/employee/add/0">Add Employee</a></li>
                                    <li><a class="nav-link" href="/admin/employee">Employee List</a></li>
                                    <li><a class="nav-link" href="/admin/employee/loginhistory">Login History</a></li>
                                </ul>
                            </li>
                            if (clsAdminSession.CompanyTypeId == (int)CompanyType.ConstructionCompany)
                            {
                                <li class="dropdown @(ViewBag.Title == "Worker" ? "active" : "")">
                                    <a href="#" class="menu-toggle nav-link has-dropdown">
                                        <i data-feather="users"></i><span>Worker</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="nav-link" href="/admin/worker/add/0">Add Worker</a></li>
                                        <li><a class="nav-link" href="/admin/worker">Worker List</a></li>
                                    </ul>
                                </li>
                            }
                            <li class="dropdown @(ViewBag.Title == "Leave" ? "active" : "")">
                                <a href="#" class="menu-toggle nav-link has-dropdown">
                                    <i data-feather="briefcase"></i><span>Leave</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link" href="/admin/leave">Leave List</a></li>
                                </ul>
                            </li>

                            <li class="dropdown @(ViewBag.Title == "Holiday" ? "active" : "")">
                                <a href="#" class="menu-toggle nav-link has-dropdown">
                                    <i data-feather="film"></i><span>Holiday</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link" href="/admin/holiday/add/0">Add Holiday</a></li>
                                    <li><a class="nav-link" href="/admin/holiday">Holiday List</a></li>
                                </ul>
                            </li>

                            <li class="dropdown @(ViewBag.Title == "Payment" ? "active" : "")">
                                <a href="#" class="menu-toggle nav-link has-dropdown">
                                    <i data-feather="dollar-sign"></i><span>Payment</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link" href="/admin/payment/add/0">Add Payment</a></li>
                                    <li><a class="nav-link" href="/admin/payment">Payment List</a></li>
                                    <li><a class="nav-link" href="/admin/payment/deletedpayment">Deleted Payment List</a></li>
                                </ul>
                            </li>

                            <li class="dropdown @(ViewBag.Title == "Attendance" ? "active" : "")">
                                <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="command"></i><span>Attendance</span></a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link" href="/admin/payment/add/0">Add Attendance</a></li>
                                    <li><a class="nav-link" href="/admin/attendance">Attendance List</a></li>
                                </ul>
                            </li>
                            if (clsAdminSession.CompanyTypeId == (int)CompanyType.ConstructionCompany)
                            {
                                <li class="dropdown @(ViewBag.Title == "Site" ? "active" : "")">
                                    <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="clock"></i><span>Site</span></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="nav-link" href="/admin/site/add/0">Add Site</a></li>
                                        <li><a class="nav-link" href="/admin/site">Site List</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown @(ViewBag.Title == "MaterialCategory" ? "active" : "")">
                                    <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="box"></i><span>Material Category</span></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="nav-link" href="/admin/materialcategory/add/0">Add Material Category</a></li>
                                        <li><a class="nav-link" href="/admin/materialcategory">Material Category List</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown @(ViewBag.Title == "Material" ? "active" : "")">
                                    <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="aperture"></i><span>Materials</span></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="nav-link" href="/admin/material/add/0">Add Material</a></li>
                                        <li><a class="nav-link" href="/admin/material">Material List</a></li>
                                        <li><a class="nav-link" href="/admin/material/deletedmaterial">Deleted Material List</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown @(ViewBag.Title == "WorkerType" ? "active" : "")">
                                    <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="box"></i><span>Worker Type</span></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="nav-link" href="/admin/workertype/add/0">Add Worker Type</a></li>
                                        <li><a class="nav-link" href="/admin/workertype">Worker Type List</a></li>
                                    </ul>
                                </li>
                            }
                            <li class="dropdown @(ViewBag.Title == "EmployeeRating" ? "active" : "")">
                                <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="file-text"></i><span>Employee Rating</span></a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link" href="/admin/employeerating/add">Add Employee Rating</a></li>
                                    <li><a class="nav-link" href="/admin/employeerating">Employee Rating List</a></li>
                                </ul>
                            </li>

                            <li class="dropdown @(ViewBag.Title == "AccountRenew" ? "active" : "")">
                                <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="compass"></i><span>Account Package Renew</span></a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link" href="/admin/accountrenew/buy">Buy Account Package</a></li>
                                    <li><a class="nav-link" href="/admin/accountrenew">Account Renew List</a></li>
                                </ul>
                            </li>

                            <li class="dropdown @(ViewBag.Title == "SMSPackageRenew" ? "active" : "")">
                                <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="cpu"></i><span>SMS Package Renew</span></a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link" href="/admin/smsrenew/buy">Buy SMS Package</a></li>
                                    <li><a class="nav-link" href="/admin/smsrenew">SMS Package Renew List</a></li>
                                </ul>
                            </li>
                            <li class="dropdown @(ViewBag.Title == "BuyEmployee" ? "active" : "")">
                                <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="cpu"></i><span>Buy Employee</span></a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link" href="/admin/employeebuytransaction/buy">Buy Employee</a></li>
                                    <li><a class="nav-link" href="/admin/employeebuytransaction">Buy Employee List</a></li>
                                </ul>
                            </li>

                            @*<li class="dropdown @(ViewBag.Title == "Setting" ? "active" : "")">
                                <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="settings"></i><span>Setting</span></a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link" href="/admin/setting">General</a></li>
                                </ul>
                            </li>*@
                            <li class="dropdown @(ViewBag.Title == "Feedback" ? "active" : "")">
                                <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="file-minus"></i><span>Feedback</span></a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link" href="/admin/feedback">Feedback List</a></li>
                                    <li><a class="nav-link" href="/admin/feedback/add">Add Feedback</a></li>
                                </ul>
                            </li>

                            <li class="dropdown @(ViewBag.Title == "Report" ? "active" : "")">
                                <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="server"></i><span>Report</span></a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link" href="/admin/report/report1">Report 1</a></li>
                                    <li><a class="nav-link" href="/admin/report/report2">Report 2</a></li>
                                    <li><a class="nav-link" href="/admin/report/report3">Report 3</a></li>
                                </ul>
                            </li>

                        }

                    </ul>
                </aside>
            </div>
            <!-- Main Content -->
            <div class="main-content">
                @RenderBody()
            </div>
            <footer class="main-footer">
                <div class="footer-left">
                    <a href="/">Contract Book</a>
                </div>
                <div class="footer-right">
                </div>
            </footer>
        </div>
    </div>
    <!-- General JS Scripts -->
    <script src="~/Content/admin-theme/assets/js/app.min.js"></script>
    <!-- JS Libraies -->
    <script src="~/Content/admin-theme/assets/bundles/apexcharts/apexcharts.min.js"></script>
    <!-- Page Specific JS File -->
    <script src="~/Content/admin-theme/assets/js/page/index.js"></script>
    <!-- Template JS File -->
    <script src="~/Content/admin-theme/assets/js/scripts.js"></script>
    <!-- Custom JS File -->
    <script src="~/Content/admin-theme/assets/js/custom.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <!-- Datatable - JS - start -->
    <script src="~/Content/admin-theme/assets/bundles/datatables/datatables.min.js"></script>
    <script src="~/Content/admin-theme/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/admin-theme/assets/bundles/datatables/export-tables/dataTables.buttons.min.js"></script>
    <script src="~/Content/admin-theme/assets/bundles/datatables/export-tables/buttons.flash.min.js"></script>
    <script src="~/Content/admin-theme/assets/bundles/datatables/export-tables/jszip.min.js"></script>
    <script src="~/Content/admin-theme/assets/bundles/datatables/export-tables/pdfmake.min.js"></script>
    <script src="~/Content/admin-theme/assets/bundles/datatables/export-tables/vfs_fonts.js"></script>
    <script src="~/Content/admin-theme/assets/bundles/datatables/export-tables/buttons.print.min.js"></script>
    <script src="~/Content/admin-theme/assets/js/page/datatables.js"></script>
    <!-- Datatable - JS - End -->
    <script src="~/Scripts/jquery.blockUI.js"></script>

    <script>

        function StartLoading() {
            $.blockUI({ message: '<h4> Please Wait...</h4>' });
        }

        function StopLoading() {
            $.unblockUI();
        }

    </script>

</body>

</html>
