@model DistrictVM
@{
    ViewBag.Title = "StateDistrict";
}

<section class="section">

    <div class="row">
        <div class="col-12">

            <div class="card card-primary"> 
                @using (Html.BeginForm("Add", "District", FormMethod.Post, new { @id = "FormId", @class = "", enctype = "multipart/form-data", role = "form" }))
                {
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-12">
                                @Html.LabelFor(model => model.StateId, htmlAttributes: new { @class = "" })
                                @Html.DropDownListFor(model => model.StateId, new SelectList(Model.StateList, "Value", "Text"), "- Select -", new { @class = "form-control required" })
                                @Html.ValidationMessageFor(model => model.StateId, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-12">
                                @Html.LabelFor(model => model.DistrictName, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.DistrictName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter District Name (by comma)", maxlength = "100", @autofocus = "autofocus" } })
                                @Html.ValidationMessageFor(model => model.DistrictName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="card-footer text-center"> 
                        <button class="btn btn-success mr-1" type="submit">Submit</button>
                        <a href="/admin/district" class="btn btn-secondary">Cancel</a>
                    </div> 
                }

            </div>
        </div>
    </div>

</section>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $('#btnCancel').click(function () {
            window.location.href = "/admin/district";
        });

        $('#btnSubmit').click(function () {
            if ($("#FormId").valid()) {
            }
            else {
                return false;
            }
        });
    })
</script>