@model TestimonialVM
@{
    ViewBag.Title = "WebsiteContent";
}

<section class="section">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header" style="background-color: #425C59;">
                    <h4 style="color: #FFCEA3;">@(Model.TestimonialId == 0 ? "Add" : "Edit") Testimonial</h4>
                </div>
            </div>
            <div class="card card-primary">
                 
                @using (Html.BeginForm("Add", "Testimonial", FormMethod.Post, new { @id = "TestimonialFormId", @class = "", enctype = "multipart/form-data", role = "form" }))
                {
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.CompanyPersonName, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.CompanyPersonName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Contact Person Name", maxlength = "100" } })
                                @Html.ValidationMessageFor(model => model.CompanyPersonName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Company Name ", maxlength = "100", @autofocus = "autofocus" } })
                                @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.TestimonialId)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.FeedbackText, htmlAttributes: new { @class = "" })
                            @Html.TextAreaFor(model => model.FeedbackText, 10, 5, new { @class = "form-control", @placeholder = "Enter Feedback Text", maxlength = "500" })
                            @Html.ValidationMessageFor(model => model.FeedbackText, "", new { @class = "text-danger" })
                        </div>

                    </div>

                    <div class="card-footer text-center">
                        <button class="btn btn-success mr-1" type="submit">Submit</button>
                        <a href="/admin/testimonial" class="btn btn-secondary">Cancel</a>
                    </div>

                }

            </div>
        </div>
    </div>

</section>
