@using AttendanceSystem.Helper;
@model AttendanceSystem.ViewModel.AttendanceVM
@{
    ViewBag.Title = "Attendance";
    List<SelectListItem> lstAttendanceStatus = new List<SelectListItem>();
    lstAttendanceStatus.Add(new SelectListItem { Value = "2", Text = "Accept" });
    lstAttendanceStatus.Add(new SelectListItem { Value = "3", Text = "Reject" });
}

<div class="page-body">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header" style="background-color: #425C59;display: block;">
                        <div class="pull-left">
                            <h4 style="color: #FFCEA3;">View Attendance</h4>
                        </div>
                        <div class="pull-right">
                            <a href="/admin/attendance" class="btn btn-warning pull-right"><i class="fas fa-backward"></i> Back</a>
                        </div>
                    </div>
                </div>

                @if (Model.Status == (int)AttendanceStatus.Pending)
                {
                    <div class="card">
                        <div class="card-header">
                            <div class="pull-left">
                                <h4>Change Status of Attendance</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            @using (Html.BeginForm("Detail", "Attendance", FormMethod.Post, new { @id = "AttendanceForm", @class = "", enctype = "multipart/form-data", role = "form" }))
                            {
                                @Html.HiddenFor(model => model.AttendanceId)
                                <div style="margin-left:20px;">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.Status)
                                                @Html.DropDownListFor(model => model.Status, new SelectList(lstAttendanceStatus, "Value", "Text"), "- Select -", new { @class = "form-control required", @style = "" })

                                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group row" id="dvRejectReason">
                                                @Html.LabelFor(model => model.RejectReason)
                                                @Html.TextBoxFor(model => model.RejectReason, new { @type = "text", @class = "form-control", @placeholder = "Enter Reject Reason" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group ">
                                            <button type="submit" class="btn btn-primary" style="margin-right:10px;" id="btnSubmit">Submit</button>
                                            <button type="button" class="btn btn-danger" id="btnCancel">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }

                <div class="card">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Name)
                                    <p>@Model.Name</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AttendanceDate)
                                    <p>@Model.AttendanceDate.ToString("dd MMM yyyy")</p>
                                </div>
                            </div>
                        </div>



                        @if (Model.EmploymentCategory == (int)EmploymentCategory.MonthlyBased || Model.EmploymentCategory == (int)EmploymentCategory.DailyBased)
                        {
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DayType)
                                        <p>@Model.DayTypeText</p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Employment Category</label>
                                        <p>@Model.EmploymentCategoryText</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ExtraHours)
                                        <p>@Model.ExtraHours</p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Extra Per Hour Price</label>
                                        <p>@Model.ExtraPerHourPrice</p>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Employment Category</label>
                                        <p>@Model.EmploymentCategoryText</p>
                                    </div>
                                </div>
                            </div>
                        }

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TodayWorkDetail)
                                    <p>@Model.TodayWorkDetail</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TomorrowWorkDetail)
                                    <p>@Model.TomorrowWorkDetail</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.InDateTime)
                                    @if (Model.InDateTime != null)
                                    {
                                        <p>@Model.InDateTime.ToString("dd MMM yyyy hh:mm tt")</p>
                                    }
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.OutDateTime)
                                    @if (Model.OutDateTime != null)
                                    {
                                        <p>@Convert.ToDateTime(Model.OutDateTime).ToString("dd MMM yyyy hh:mm tt")</p>
                                    }
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Status)
                                    <p>@Model.StatusText</p>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.LocationFrom)
                                    <p>@Model.LocationFrom</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.OutLocationFrom)
                                    <p>@Model.OutLocationFrom</p>
                                </div>
                            </div>
                        </div>

                        @if (Model.EmploymentCategory == (int)EmploymentCategory.HourlyBased)
                        {
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.NoOfHoursWorked)
                                        <p>@Model.NoOfHoursWorked</p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Per Hour Price</label>
                                        <p>@Model.PerCategoryPrice.ToString("#.##")</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.WorkedHoursAmount)
                                        <p>@Model.WorkedHoursAmount.ToString("#.##")</p>
                                    </div>
                                </div>
                            </div>
                        }


                        @if (Model.EmploymentCategory == (int)EmploymentCategory.UnitBased)
                        {
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.NoOfUnitWorked)
                                        <p>@Model.NoOfUnitWorked</p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Per Unit Price</label>
                                        <p>@Model.PerCategoryPrice.ToString("#.##")</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.WorkedUnitAmount)
                                        <p>@Model.WorkedUnitAmount.ToString("#.##")</p>
                                    </div>
                                </div>
                            </div>
                        }


                        @if (Model.Status == (int)AttendanceStatus.Reject)
                        {
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.RejectReason)
                                        <p>@Model.RejectReason</p>
                                    </div>
                                </div>

                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        if ($("#Status").val() == "3") {
            $("#dvRejectReason").show();
        } else {
            $("#dvRejectReason").hide();
            $("#RejectReason").val("");
        }

        $('#btnCancel').click(function () {
            window.location.href = "/admin/attendance";
        });

        $("#Status").change(function () {
            var status = $("#Status").val();
            if (status == "3") {
                $("#dvRejectReason").show();
            } else {
                $("#dvRejectReason").hide();
                $("#RejectReason").val("");
            }

        });

        $('#btnSubmit').click(function () {
            if ($("#AttendanceForm").valid()) {
                var status = $("#Status").val();
                if (status == "") {
                    alert("Please select status.");
                    return false;
                }
                if (status == "3" && $("#RejectReason").val() == "") {
                    alert("Please enter reject reason.");
                    return false;
                }
                StartLoading();
            }
            else {
                return false;
            }

        });
    })
</script>