@using AttendanceSystem.Helper
@using AttendanceSystem.ViewModel;
@model AttendanceSystem.ViewModel.AttendanceFilterVM
@{
    /**/

    ViewBag.Title = "Attendance";
    int counter = 1;

    List<SelectListItem> lstAttendanceStatus = new List<SelectListItem>();
    lstAttendanceStatus.Add(new SelectListItem { Value = "1", Text = "Pending" });
    lstAttendanceStatus.Add(new SelectListItem { Value = "2", Text = "Accept" });
    lstAttendanceStatus.Add(new SelectListItem { Value = "3", Text = "Reject" });
    lstAttendanceStatus.Add(new SelectListItem { Value = "4", Text = "Login" });

}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header" style="background-color: #425C59;">
                        <h4 style="color: #FFCEA3;">Employee Attendance List</h4>
                    </div>
                </div>
                <div class="card">

                    <div class="card-body">
                        <div class="row">
                            <div class="card-header ">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label>Attendance Start Date</label>
                                        @Html.TextBoxFor(model => model.StartDate, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control", @placeholder = "Start Date", style = "height: calc(2.25rem + 6px)" })
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label>Attendance End Date</label>
                                        @Html.TextBoxFor(model => model.EndDate, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control", @placeholder = "End Date", style = "height: calc(2.25rem + 6px)" })
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label>Attendance Status</label>
                                        @Html.DropDownListFor(model => model.AttendanceStatus, new SelectList(lstAttendanceStatus, "Value", "Text"), "- All -", new { @class = "form-control required", style = "" })
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Employee</label>
                                        @Html.DropDownListFor(model => model.UserId, new SelectList(Model.EmployeeList, "Value", "Text"), "- All -", new { @class = "form-control required", style = "" })
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="card-header-action">
                                        <button class="btn btn-primary mr-1" style="font-size: 1rem" id="btnSearch" type="button">Search</button>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-12 ">
                                <div class="form-group float-left">
                                    <button class="btn btn-primary mr-1" id="btnAccept" type="button">Approve</button>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover" id="tableExport1" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Approve <br /><input type="checkbox" class="chkBox" id='chkAll' name="Select"></th>
                                        <th style="display:none">Attendance Id</th>
                                        <th style="display:none">Company Id</th>
                                        <th style="display:none">User Id</th>
                                        <th>Attendance Date</th>
                                        <th>Employee</th>
                                        <th>Employee Code</th>
                                        <th>Designation</th>
                                        <th>Day Type</th>
                                        <th style="display:none">In Date Time</th>
                                        <th style="display:none">Out Date Time</th>
                                        <th>Employment Category</th>
                                        <th>Per Unit/Hour Work</th>
                                        <th style="display:none">Today Work Detail</th>
                                        <th style="display:none">Tomorrow Work Detail</th>
                                        <th style="display:none">In Location</th>
                                        <th style="display:none">Out Location</th>
                                        <th style="display:none">In Latitude</th>
                                        <th style="display:none">In Longitude</th>
                                        <th style="display:none">Out Latitude</th>
                                        <th style="display:none">Out Longitude</th>
                                        <th style="display:none">Reject Reason</th>
                                        <th style="display:none">No Of Hours Worked</th>
                                        <th style="display:none">No Of Unit Worked</th>
                                        <th style="display:none">Reject Reason</th>
                                        <th style="display:none">Remarks</th>
                                        <th>Status</th>
                                        <th>Lunch Break</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.AttendanceList.Count > 0)
                                    {
                                        foreach (AttendanceVM obj in Model.AttendanceList)
                                        {
                                            <tr style="background-color:@obj.BgColor;">
                                                <td>@counter.</td>
                                                <td>
                                                    @if (obj.Status == (int)AttendanceStatus.Pending)
                                                    {
                                                        <input type="checkbox" class="chkBox" id='@obj.AttendanceId' name="Select">
                                                    }
                                                </td>
                                                <td style="display:none">@obj.AttendanceId</td>
                                                <td style="display:none">@obj.CompanyId</td>
                                                <td style="display:none">@obj.UserId</td>
                                                <td>@obj.AttendanceDate.ToString("dd MMM yyyy")</td>
                                                <td>@obj.Name</td>
                                                <td>@obj.EmployeeCode</td>
                                                <td>@obj.EmployeeDesignation</td>
                                                <td>@obj.DayTypeText</td>
                                                <td style="display:none">@obj.InDateTime</td>
                                                <td style="display:none">@obj.OutDateTime</td>
                                                <td>@obj.EmploymentCategoryText</td>
                                                <td>
                                                    @{
                                                        decimal? perPrice = null;
                                                        if (obj.EmploymentCategory == (int)EmploymentCategory.HourlyBased)
                                                        {
                                                            perPrice = obj.NoOfHoursWorked;
                                                        }
                                                        else if (obj.EmploymentCategory == (int)EmploymentCategory.UnitBased)
                                                        {
                                                            perPrice = obj.NoOfUnitWorked;
                                                        }
                                                        else
                                                        {
                                                            perPrice = obj.ExtraHours;
                                                        }
                                                    }
                                                    @perPrice
                                                </td>
                                                <td style="display:none">@obj.TodayWorkDetail</td>
                                                <td style="display:none">@obj.TomorrowWorkDetail</td>
                                                <td style="display:none">@obj.LocationFrom</td>
                                                <td style="display:none">@obj.OutLocationFrom</td>
                                                <td style="display:none">@obj.InLatitude</td>
                                                <td style="display:none">@obj.InLongitude</td>
                                                <td style="display:none">@obj.OutLatitude</td>
                                                <td style="display:none">@obj.OutLongitude</td>
                                                <td style="display:none">@obj.RejectReason</td>
                                                <td style="display:none">@obj.NoOfHoursWorked</td>
                                                <td style="display:none">@obj.NoOfUnitWorked</td>
                                                <td style="display:none">@obj.RejectReason</td>
                                                <td style="display:none">@obj.Remarks</td>
                                                <td>@obj.StatusText</td>
                                                <td>
                                                    <a href="/admin/attendance/lunchbreak/@obj.AttendanceId" title="Break" class="btn btn-icon btn-primary">Break</a>
                                                </td>
                                                <td>
                                                    @if (obj.Status == (int)AttendanceStatus.Pending)
                                                    {
                                                        <a href="/admin/attendance/detail/@obj.AttendanceId" title="Edit" class="btn btn-icon btn-warning"><i class="fas fa-edit"></i></a>
                                                    }
                                                    else
                                                    {
                                                        <a href="/admin/attendance/detail/@obj.AttendanceId" title="View" class="btn btn-icon btn-success"><i class="fas fa-eye"></i></a>
                                                    }
                                                </td>
                                            </tr>

                                            counter++;
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade open" id="activeinactiveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Status Confirm</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                Are you sure you want to Accept ?
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdndataId" />
                <input type="hidden" id="hdnstatus" />
                <button data-dismiss="modal" class="btn btn-primary" type="button">Close</button>
                <button id="btnChangeStatus" class="btn btn-danger" type="button">Submit</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<script type="text/javascript">
    $(document).ready(function () {

        $('#tableExport1').DataTable({
            dom: 'Bfrtip',
            "columnDefs": [
                { "sortable": false, "targets": [0,1] }
            ],
            buttons: [
                'excel' //'copy', 'csv', , 'pdf', 'print'
            ]
        });

        $('#btnSearch').click(function () {
            if ($("#StartDate").val() == "" || $("#EndDate").val() == "") {
                alert("Please fill Start Date and End Date");
                return false;
            }

            var startDate = $("#StartDate").val();
            var endDate = $("#EndDate").val();

            var attendanceStatus = $("#AttendanceStatus").val();
            var userId = $("#UserId").val();
            StartLoading();
            if (attendanceStatus == "") {
                attendanceStatus = "0";
            }
            window.location.href = "/admin/attendance/Index?userId=" + userId + "&attendanceStatus=" + attendanceStatus + "&startDate=" + startDate + "&endDate=" + endDate;
        });

         $('#btnAccept').click(function () {

            var Ids = [];
            var count = 0;
            $(".chkBox").each(function () {
                if ($(this).prop("checked")) {
                    var id = $(this).attr("Id");
                    Ids.push(id);
                    count = parseFloat(count) + 1;
                }
            });

            if (count == 0) {
                alert("Please select alteast one attendance to accept");
                return false;
            }

             fnChangeStatus(Ids)


        });

        $('#chkAll').click(function () {
            var checked = $(this).prop("checked");
            $(".chkBox").each(function () {
                $(this).prop("checked", checked);
            });
        });

        $('#btnChangeStatus').click(function () {

            var Id = jQuery("#hdndataId").val();
            if (Id != "" && Id != null) {
                $('#activeinactiveModal').modal('hide');

                StartLoading();

                var URL = '@Url.Action("Accept", "Attendance")';
                $.ajax({
                    type: 'POST',
                    async: true,
                    url: URL + "?ids=" + Id,
                    success: function (result) {
                        if (result == "success") {
                            alert("Attendance accept Successfully...");
                            window.location.reload();
                        }
                        else {
                            alert("Something went wrong. Please try again");
                        }

                       StopLoading();
                    },
                    error: function (resultData) {
                        StopLoading();
                    }
                });
            }
        });
    })

    function fnChangeStatus(ids) {
        jQuery("#hdndataId").val(ids);

        $('#btnChangeStatus').html("Accept");
        $('#activeinactiveModal .modal-body').html(" Are you sure you want to Accept ?");
        $('#activeinactiveModal').modal('show');
    }

</script> 