@using AttendanceSystem.Helper;
@model AttendanceSystem.ViewModel.AttendanceVM
@{

    ViewBag.Title = "Attendance";
    List<SelectListItem> lstAttendanceStatus = new List<SelectListItem>();
    lstAttendanceStatus.Add(new SelectListItem { Value = "2", Text = "Accept" });
    lstAttendanceStatus.Add(new SelectListItem { Value = "3", Text = "Reject" });
}


<div class="page-body">

    <!-- Container-fluid starts-->
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Attendance Details</h5>
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm("Reject", "Attendance", FormMethod.Post, new { @id = "AttendanceForm", @class = "needs-validation", enctype = "multipart/form-data", role = "form" }))
                        {
                            @Html.HiddenFor(model => model.AttendanceId)

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                        @Model.Name
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.AttendanceDate, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                        @Model.AttendanceDate.ToString("dd MMM yyyy")
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DayType, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                       @Model.DayTypeText
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ExtraHours, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                        @Model.ExtraHours
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.TodayWorkDetail, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                        @Model.TodayWorkDetail
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.TomorrowWorkDetail, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                        @Model.TomorrowWorkDetail
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                        @Model.Remarks
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.InDateTime, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                        @Model.InDateTime
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                        @Model.StatusText
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.OutDateTime, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                        @Model.OutDateTime
                                    </div>
                                </div>
                            </div>
                            if (Model.Status == (int)AttendanceStatus.Reject)
                            {
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.RejectReason, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                            @Model.RejectReason
                                        </div>
                                    </div>

                                </div>
                            }
                            if (Model.Status == (int)AttendanceStatus.Pending)
                            {
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                    @Html.DropDownListFor(model => model.Status, new SelectList(lstAttendanceStatus, "Value", "Text"), "- Select -", new { @class = "form-control required", @style = "width:20%" })

                                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group row" id="dvRejectReason">
                                    @Html.LabelFor(model => model.RejectReason, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                    @Html.TextBoxFor(model => model.RejectReason, new { @type = "text", @class = "form-control", @placeholder = "Enter Reject Reason", @style = "width:50%" })
                                </div>

                                <div class="form-group row">
                                    <lable class="col-xl-3 col-md-4"></lable>
                                    <button type="submit" class="btn btn-primary" style="margin-right:10px;" id="btnSubmit">Submit</button>
                                    <button type="button" class="btn btn-danger" id="btnCancel">Cancel</button>
                                </div>
                            }
                            else
                            {
                                <div class="form-group row">
                                    <lable class="col-xl-3 col-md-4"></lable>
                                    <button type="button" class="btn btn-danger" id="btnCancel">Cancel</button>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

</div>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        if ($("#Status").val() == "3") {
            $("#dvRejectReason").show();
        } else {
            $("#dvRejectReason").hide();
            $("#RejectReason").val("");
        }

        $('#btnCancel').click(function () {
            window.location.href = "/admin/attendance";
        });

        $("#Status").change(function () {
            var status = $("#Status").val();
            if (status == "3") {
                $("#dvRejectReason").show();
            } else {
                $("#dvRejectReason").hide();
                $("#RejectReason").val("");
            }

        });

        $('#btnSubmit').click(function () {
            if ($("#AttendanceForm").valid()) {
                var status = $("#Status").val();
                if (status == "") {
                    alert("Please select status.");
                    return false;
                }
                if (status == "3" && $("#RejectReason").val() == "") {
                    alert("Please enter reject reason.");
                    return false;
                }
            }
            else {
                return false;
            }

        });
    })
</script>