@using AttendanceSystem.ViewModel
@{
    ViewBag.Title = "AccountRenew";
    List<PackageVM> lstAccountPackages = ViewData["lstAccountPackages"] as List<PackageVM>;
}

<style>
    a {
        text-decoration: none;
    }

    .pricingTable {
        text-align: center;
        background: #fff;
        margin: 0 -15px;
        box-shadow: 0 0 10px #ababab;
        padding-bottom: 40px;
        border-radius: 10px;
        color: #cad0de;
        transform: scale(1);
        transition: all .5s ease 0s
    }

        .pricingTable:hover {
            transform: scale(1.05);
            z-index: 1
        }

        .pricingTable .pricingTable-header {
            padding: 40px 0;
            background: #f5f6f9;
            border-radius: 10px 10px 50% 50%;
            transition: all .5s ease 0s
        }

        .pricingTable:hover .pricingTable-header {
            background: #ff9624
        }

        .pricingTable .pricingTable-header i {
            font-size: 50px;
            color: #858c9a;
            margin-bottom: 10px;
            transition: all .5s ease 0s
        }

        .pricingTable .price-value {
            font-size: 35px;
            color: #ff9624;
            transition: all .5s ease 0s
        }

        .pricingTable .month {
            display: block;
            font-size: 14px;
            color: #cad0de
        }

        .pricingTable:hover .month,
        .pricingTable:hover .price-value,
        .pricingTable:hover .pricingTable-header i {
            color: #fff
        }

        .pricingTable .heading {
            font-size: 24px;
            color: #ff9624;
            margin-bottom: 20px;
            text-transform: uppercase
        }

        .pricingTable .pricing-content ul {
            list-style: none;
            padding: 0;
            margin-bottom: 30px
        }

            .pricingTable .pricing-content ul li {
                line-height: 30px;
                color: #000000;
            }

                .pricingTable .pricing-content ul li b {
                    color: #425C59;
                }

                .pricingTable .pricingTable-signup a {
                    display: inline-block;
                    font-size: 15px;
                    color: #fff;
                    padding: 10px 35px;
                    border-radius: 20px;
                    background: #ffa442;
                    text-transform: uppercase;
                    transition: all .3s ease 0s
                }

            .pricingTable .pricingTable-signup a:hover {
                box-shadow: 0 0 10px #ffa442
            }
</style>

<section class="section">

    <div class="card-header" style="margin-bottom:20px;">
        <h4>Buy New Account Package</h4>
    </div>

    <div class="section-body">

        <div class="row">

            @if (lstAccountPackages != null && lstAccountPackages.Count > 0)
            {
                int accountPackageCounter = 1;
                foreach (PackageVM obj in lstAccountPackages)
                {
                    <div class="col-md-3 col-sm-6">
                        <div class="pricingTable">
                            <div id="pricingTableHeader_@accountPackageCounter" class="pricingTable-header" onmouseover="mouseover('@accountPackageCounter', '@obj.PackageColorCode')" onmouseout="mouseout('@accountPackageCounter', '@obj.PackageColorCode')">
                                <i class="@obj.PackageFontIcon"></i>
                                <div class="price-value" id="heading_@accountPackageCounter" style="color: @obj.PackageColorCode">
                                    @obj.Amount
                                    @*<span class="month" id="per_@accountPackageCounter">per month</span>*@
                                    <i class="month fas fa-rupee-sign"></i>
                                </div>
                            </div>
                            <h3 class="heading" style="margin-top: 10px; color: @obj.PackageColorCode">@obj.PackageName</h3>
                            <div class="pricing-content">
                                <ul>
                                    <li><b>@obj.AccessDays</b> Access Days</li>
                                    <li><b>@obj.NoOfEmployee</b> No Of Employee</li>
                                    <li><b>@obj.NoOfSMS</b> No Of SMS</li>
                                </ul>
                            </div>
                            <div class="pricingTable-signup">
                                @*<a target="_blank" href="/admin/login" style="background: @obj.PackageColorCode" onclick="fnBuyNowPackage('@obj.PackageId', '@obj.PackageName')">
                                    Buy Now <i class="fas fa-arrow-right"></i>*@

                                    <form action="/Premium/Charge" method="POST">
                                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                                data-key="@ViewBag.StripePublishKey"
                                                data-amount=@obj.Amount
                                                data-name=@obj.PackageName
                                                data-description=@obj.PackageFontIcon
                                                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                                data-locale="auto"
                                                data-zip-code="true"
                                                data-currency="inr">
                                        </script>
                                    </form>
                                @*</a>*@
                            </div>
                        </div>
                    </div>
                    { accountPackageCounter++; }

                }
            }

        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script type="text/javascript">

    function mouseover(counter, colorcode) {
        $("#pricingTableHeader_" + counter).css("background", colorcode);
        $("#heading_" + counter).css("color", "white");
        $("#per_" + counter).css("color", "white");
    }

    function mouseout(counter, colorcode) {
        $("#pricingTableHeader_" + counter).css("background", "#f5f6f9");
        $("#heading_" + counter).css("color", colorcode);
        $("#per_" + counter).css("color", colorcode);
    }


    function fnBuyNowPackage(packageId, packageName) {
        var r = confirm("Are you sure want to buy '" + packageName + "' package ?");
        if (r == true) {

            var StrURL = '/admin/accountrenew/BuySelectedAccountPackage';
            $.ajax({
                url: StrURL,
                cache: false,
                data: {
                    'PackageId': packageId
                },
                type: 'POST',
                success: function (data) {
                    debugger;
                    if (data != null) {
                        alert(data.Message);
                    }
                    else {
                        alert("Something went wrong. Please try again later.")
                    }
                },
                error: function (req, status, error) {
                    debugger;
                    alert(error);
                }
            });

        }
    }

    function GetSelectedAccountPackageDetail(packageId) {

        var StrURL = '/admin/accountrenew/GetSelectedAccountPackageDetail/' + packageId;
        $.ajax({
            url: StrURL,
            cache: false,
            data: {},
            type: 'POST',
            success: function (data) {
                if (data != null) {

                }
                else {

                }
            },
            error: function (req, status, error) {
                alert(error);
            }
        });

    }

</script>