@using AttendanceSystem.Helper;
@model AttendanceSystem.ViewModel.CompanyRenewPaymentVM
@{
    ViewBag.Title = "Account Renew";
}

<section class="section">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header" style="background-color: #425C59; display: block;">
                    <div class="pull-left">
                        <h4 style="color: #FFCEA3;">Account Package Renew Detail</h4>
                    </div>
                    <div class="pull-right">
                        <a href="/admin/accountrenew" class="btn btn-warning pull-right"><i class="fas fa-backward"></i> Back</a>
                    </div>
                </div>
            </div>
            <div class="card card-primary">
                

                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-6">
                            @Html.LabelFor(model => model.PackageName)
                            <p>@Model.PackageName</p>
                        </div>
                        <div class="form-group col-6">
                            @Html.LabelFor(model => model.CreatedDate)
                            <p>@Model.CreatedDate.ToString("dd MMM yyyy hh:mm tt")</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            @Html.LabelFor(model => model.StartDate)
                            <p>@Model.StartDate.ToString("dd MMM yyyy hh:mm tt")</p>
                        </div>
                        <div class="form-group col-6">
                            @Html.LabelFor(model => model.EndDate)
                            <p>@Model.EndDate.ToString("dd MMM yyyy hh:mm tt")</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            @Html.LabelFor(model => model.Amount)
                            <p>@Model.Amount</p>
                        </div>
                        <div class="form-group col-6">
                            @Html.LabelFor(model => model.AccessDays)
                            <p>@Model.AccessDays</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            @Html.LabelFor(model => model.NoOfEmployee)
                            <p>@Model.NoOfEmployee</p>
                        </div>
                        <div class="form-group col-6">
                            @Html.LabelFor(model => model.NoOfSMS)
                            <p>@Model.NoOfSMS</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-12">
                            @Html.LabelFor(model => model.BuyNoOfEmployee)
                            <p>@Model.BuyNoOfEmployee</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
