@using AttendanceSystem.Helper
@using AttendanceSystem.ViewModel;
@model AttendanceSystem.ViewModel.SalesReportFilterVM
@{
    ViewBag.Title = "Report";
    int counter = 1;

    decimal finalAmountWithGST = 0;
    decimal finalAmountWithoutGST = 0;

    string headerBGcolor = "lightgray";
}


<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header" style="background-color: #425C59;">
                        <h4 style="color: #FFCEA3;">Sales Report</h4>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-header ">
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="StartDate">Start Date</label>
                                            @Html.TextBoxFor(model => model.StartDate, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control", @placeholder = "Start Date", style = "height: calc(2.25rem + 6px)" })
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="EndDate">End Date</label>
                                            @Html.TextBoxFor(model => model.EndDate, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control ", @placeholder = "End Date", style = "height: calc(2.25rem + 6px)" })
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="UserRole">Select Company</label>
                                            @Html.DropDownListFor(model => model.CompanyId, new SelectList(Model.CompanyList, "Value", "Text"), "- All -", new { @class = "form-control required", style = "" })
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="UserRole">Select Report Type</label>
                                            @Html.DropDownListFor(model => model.ReportType, new SelectList(Model.ReportTypeList, "Value", "Text"), "- All -", new { @class = "form-control required", style = "" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card-header-action">
                                            <button class="btn btn-primary mr-1" style="font-size: 1rem" id="btnSearch" type="button">Search</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="card-header" style="display: block; margin-bottom: 20px;">
                            <div class="card-header-action pull-right">
                                <button class="btn btn-success" style="float: right;" onclick="exportexcel('tbl', 'Sales Report')">Export to Excel</button>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-hover" id="tbl" style="width:100%; margin-top:25px;">
                                <thead>
                                    <tr>
                                        @*<td>#</td>*@
                                        <th width="10%">Buy Date</th>
                                        <th>Company Name</th>
                                        <th>Package Type</th>
                                        <th>Package Name</th>
                                        <th>Package Amount</th>
                                        <th>GST(%)</th>
                                        <th>GST Amount</th>
                                        <th>Final Amount</th>
                                        <th>Total Free Employee</th>
                                        <th>Free Access Days</th>
                                        <th>Total Free SMS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.SalesReportList.Count > 0)
                                    {
                                        DateTime? compareDate = null;
                                        decimal rowPackageAmount = 0;
                                        decimal rowGSTAmount = 0;
                                        decimal rowFinalAmount = 0;
                                        bool showDate = false;
                                        foreach (SalesReportVM obj in Model.SalesReportList)
                                        {
                                            if (compareDate == null)
                                            {
                                                compareDate = obj.BuyDate.Date;
                                                showDate = true;
                                            }
                                            else if (compareDate != obj.BuyDate.Date)
                                            {
                                                showDate = true;
                                                <tr>
                                                    @*<td></td>*@
                                                    <td></td>
                                                    <td style="font-weight:bold;">Total</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td style="font-weight:bold;">@rowPackageAmount</td>
                                                    <td></td>
                                                    <td style="font-weight:bold;">@rowGSTAmount</td>
                                                    <td style="font-weight:bold;">@rowFinalAmount</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                @*<tr>
                                                        <td colspan="12"></td>
                                                    </tr>*@
                                                <tr>
                                                    <td></td>
                                                    <td style="border: 0.5px solid #000000; font-weight:bold;">GST%</td>
                                                    <td style="border: 0.5px solid #000000; font-weight:bold;">Total Package Amount</td>
                                                    <td style="border: 0.5px solid #000000; font-weight:bold;">GST Amount</td>
                                                    <td style="border: 0.5px solid #000000; font-weight: bold;">Total</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>

                                                var grpObjList = Model.SalesReportList.Where(x => x.BuyDate.Date == compareDate)
                                                               .GroupBy(l => l.GST)
                                                                .Select(cl => new
                                                                {
                                                                    GST = cl.First().GST,
                                                                    PackageAmount = cl.Sum(c => c.PackageAmount).ToString(),
                                                                    GSTAmount = cl.Sum(c => c.GSTAmount).ToString(),
                                                                    Total = cl.Sum(c => c.FinalAmount).ToString(),
                                                                }).ToList();
                                                foreach (var grpObj in grpObjList)
                                                {
                                                    <tr>
                                                        <td></td>
                                                        <td style="border:0.5px solid #000000;">@grpObj.GST%</td>
                                                        <td style="border:0.5px solid #000000;">@grpObj.PackageAmount</td>
                                                        <td style="border:0.5px solid #000000;">@grpObj.GSTAmount</td>
                                                        <td style="border:0.5px solid #000000;">@grpObj.Total</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                }
                                                rowPackageAmount = 0;
                                                rowGSTAmount = 0;
                                                rowFinalAmount = 0;
                                                compareDate = obj.BuyDate.Date;
                                            }
                                            else
                                            {
                                                showDate = false;
                                            }

                                            @*<tr>
                                                    <td colspan="12"></td>
                                                </tr>
                                            *@

                                            <tr>
                                                @*<td>@counter.</td>*@
                                                <td>@if (showDate) { @obj.BuyDate.ToString("dd MMM yyyy")}</td>
                                                <td>@obj.CompanyName</td>
                                                <td>@obj.PackageType</td>
                                                <td>@obj.PackageName</td>
                                                <td>@obj.PackageAmount</td>
                                                <td>@obj.GST%</td>
                                                <td>@obj.GSTAmount</td>
                                                <td>@obj.FinalAmount</td>
                                                <td>@obj.TotalFreeEmployee</td>
                                                <td>@obj.FreeAccessDays</td>
                                                <td>@obj.TotalFreeSMS</td>
                                            </tr>

                                            rowPackageAmount = rowPackageAmount + obj.PackageAmount;
                                            rowGSTAmount = rowGSTAmount + obj.GSTAmount;
                                            rowFinalAmount = rowFinalAmount + obj.FinalAmount;
                                            finalAmountWithGST = finalAmountWithGST + obj.FinalAmount;
                                            finalAmountWithoutGST = finalAmountWithoutGST + obj.PackageAmount;

                                            if (Model.SalesReportList.Count == counter)
                                            {
                                                compareDate = obj.BuyDate.Date;
                                                <tr>
                                                    @*<td></td>*@
                                                    <td></td>
                                                    <td style="font-weight:bold;">Total</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td style="font-weight:bold;">@rowPackageAmount</td>
                                                    <td></td>
                                                    <td style="font-weight:bold;">@rowGSTAmount</td>
                                                    <td style="font-weight:bold;">@rowFinalAmount</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>

                                                @*<tr>
                                                        <td colspan="12"></td>
                                                    </tr>*@

                                                <tr>
                                                    <td></td>
                                                    <td style="font-weight:bold; border: 0.5px solid #000000;">GST%</td>
                                                    <td style="font-weight:bold; border: 0.5px solid #000000;">Total Package Amount</td>
                                                    <td style="font-weight:bold; border: 0.5px solid #000000;">GST Amount</td>
                                                    <td style="font-weight:bold; border: 0.5px solid #000000;">Total</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>

                                                var grpObjList = Model.SalesReportList.Where(x => x.BuyDate.Date == compareDate)
                                                               .GroupBy(l => l.GST)
                                                                .Select(cl => new
                                                                {
                                                                    GST = cl.First().GST,
                                                                    PackageAmount = cl.Sum(c => c.PackageAmount).ToString(),
                                                                    GSTAmount = cl.Sum(c => c.GSTAmount).ToString(),
                                                                    Total = cl.Sum(c => c.FinalAmount).ToString(),
                                                                }).ToList();
                                                foreach (var grpObj in grpObjList)
                                                {
                                                    <tr>
                                                        <td></td>
                                                        <td style="border: 0.5px solid #000000;">@grpObj.GST%</td>
                                                        <td style="border: 0.5px solid #000000;">@grpObj.PackageAmount</td>
                                                        <td style="border: 0.5px solid #000000;">@grpObj.GSTAmount</td>
                                                        <td style="border: 0.5px solid #000000;">@grpObj.Total</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                }
                                            }
                                            counter++;
                                        }
                                    }
                                    <tr>
                                        <td colspan="12"></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td style="font-weight: bold; border: 0.5px solid #000000;">Final Amount Without GST</td>
                                        <td style="border: 0.5px solid #000000;">@finalAmountWithoutGST</td>
                                        <td></td>
                                        <td colspan="7"></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td style="font-weight: bold; border: 0.5px solid #000000;">Final Amount With GST</td>
                                        <td style="border: 0.5px solid #000000;">@finalAmountWithGST</td>
                                        <td></td>
                                        <td colspan="7"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="12"></td>
                                    </tr>
                                    @{
                                        var finalGrpObjList = Model.SalesReportList
                                                                  .GroupBy(l => l.GST)
                                                                   .Select(cl => new
                                                                   {
                                                                       GST = cl.First().GST,
                                                                       PackageAmount = cl.Sum(c => c.PackageAmount).ToString(),
                                                                       GSTAmount = cl.Sum(c => c.GSTAmount).ToString(),
                                                                       Total = cl.Sum(c => c.FinalAmount).ToString(),
                                                                   }).ToList();

                                        <tr>
                                            <td></td>
                                            <td style="border: 0.5px solid #000000; font-weight:bold; background-color:@headerBGcolor;">GST(%)</td>
                                            <td style="border: 0.5px solid #000000; font-weight:bold; background-color:@headerBGcolor;">Total Amount</td>
                                            <td style="border: 0.5px solid #000000; font-weight:bold; background-color:@headerBGcolor;">Total GST</td>
                                            <td style="border: 0.5px solid #000000; font-weight: bold; background-color: @headerBGcolor;">Final Amount</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        foreach (var grpObj in finalGrpObjList)
                                        {
                                            <tr>
                                                <td></td>
                                                <td style="border: 0.5px solid #000000;">@grpObj.GST%</td>
                                                <td style="border: 0.5px solid #000000;">@grpObj.PackageAmount</td>
                                                <td style="border: 0.5px solid #000000;">@grpObj.GSTAmount</td>
                                                <td style="border: 0.5px solid #000000;">@grpObj.Total</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        }

                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
 
<script type="text/javascript">

    function exportexcel(tableId, filename) {
        $("#" + tableId).table2excel({
            name: "Table2Excel",
            filename: filename,
            fileext: ".xls"
        });
    }

    $(document).ready(function () {
        $('#btnSearch').click(function () {
            var startDate = $("#StartDate").val();
            var endDate = $("#EndDate").val();
            var companyId = $("#CompanyId").val();
            var reportType = $("#ReportType").val();

            if (startDate == "") {
                alert("Please select valid start date");
                return false;
            }

            if (endDate == "") {
                alert("Please select valid end date");
                return false;
            }

            StartLoading();
            window.location.href = "/admin/report/salesreport?startDate=" + startDate + "&endDate=" + endDate + "&companyId=" + companyId + "&reportType=" + reportType;
        });
    })

</script>