@using AttendanceSystem.Helper
@model List<OurClientVM>
@{
    ViewBag.Title = "WebsiteContent";
    int counter = 1;
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Our Clients List</h4>
                    </div>
                    <div class="card-body">
                        <div class="pull-right">
                            <a href="/admin/ourclient/add/0" class="btn btn-icon icon-left btn-primary"><i class="fas fa-plus-circle"></i> Add Our Client</a>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Client Logo Image</th>
                                        <th>Client Name</th>
                                        <th>Website Link</th>
                                        <th>Active</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @if (Model != null && Model.Count > 0)
                                    {
                                        foreach (OurClientVM obj in Model)
                                        {
                                            <tr class="gradeX">
                                                <td>@counter.</td>
                                                <td>
                                                    @if (!string.IsNullOrEmpty(obj.SponsorImage))
                                                    {
                                                        if (File.Exists(Server.MapPath(ErrorMessage.OurClientDirectoryPath + obj.SponsorImage)))
                                                        {
                                                            <img src="@ErrorMessage.OurClientDirectoryPath/@obj.SponsorImage" alt="" class="img-fluid img-40 blur-up lazyloaded" style="width: 40px; height:40px;" />
                                                        }
                                                        else
                                                        {
                                                            <img src="@ErrorMessage.DefaultImagePath" alt="" class="img-fluid img-40 blur-up lazyloaded" style="width: 40px; height: 40px;" />
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <img src="@ErrorMessage.DefaultImagePath" alt="" class="img-fluid img-40 blur-up lazyloaded" style="width: 40px; height: 40px;" />
                                                    }

                                                </td>
                                                <td>@obj.SponsorName</td>
                                                <td>@obj.SponsorLink</td>
                                                @if (obj.IsActive == true)
                                                {
                                                    <td><span class="badge badge-success" style="cursor:pointer;" title="Click to Inactive" onclick="fnChangeStatus('@obj.SponsorId', 'InActive');">Active</span></td>
                                                }
                                                else
                                                {
                                                    <td><span class="badge badge-danger" style="cursor:pointer;" title="Click to Active" onclick="fnChangeStatus('@obj.SponsorId','Active');">InActive</span></td>
                                                }

                                                <td>
                                                    <a href="/admin/ourclient/add/@obj.SponsorId" title="Edit" class="btn btn-icon btn-warning"><i class="fas fa-edit"></i></a>
                                                    <a href="javascript:void(0);" title="Delete" class="btn btn-icon btn-danger" onclick="fnDeleteOurClient('@obj.SponsorId')"><i class="fas fa-trash-alt"></i></a>
                                                </td>
                                            </tr>
                                            counter++;
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade open" id="deleteOurClientModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Confirm</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete ?
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdnDeleteOurClient" />
                <button data-dismiss="modal" class="btn btn-primary" type="button">Close</button>
                <button id="btnDeleteOurClient" class="btn btn-danger" type="button">Delete</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade open" id="activeinactiveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Status Confirm</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                Are you sure you want to active ?
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdndataId" />
                <input type="hidden" id="hdnstatus" />
                <button data-dismiss="modal" class="btn btn-primary" type="button">Close</button>
                <button id="btnChangeStatus" class="btn btn-danger" type="button">Submit</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {


        $('#btnDeleteOurClient').click(function () {
            var OurClient_Id = jQuery("#hdnDeleteOurClient").val();
            if (OurClient_Id != "" && OurClient_Id != null) {
                $('#deleteOurClientModal').modal('hide');

                StartLoading();

                var URL = '@Url.Action("DeleteOurClient", "OurClient")';
                $.ajax({
                    type: 'POST',
                    async: true,
                    url: URL + "?Id=" + OurClient_Id,
                    success: function (result) {
                        if (result == "success") {
                            alert("Our Client record deleted successfully");
                            window.location.reload();
                        }
                        else if (result == "notfound") {
                            alert("Our Client record Not Found");
                        }
                        else {
                            alert("Something went wrong. Please try again");
                        }

                       StopLoading();
                    },
                    error: function (resultData) {
                       StopLoading();
                    }
                });
            }
        });

        $('#btnChangeStatus').click(function () {

            var Id = jQuery("#hdndataId").val();
            if (Id != "" && Id != null) {
                $('#activeinactiveModal').modal('hide');

                StartLoading();

                var URL = '@Url.Action("ChangeStatus", "OurClient")';
                $.ajax({
                    type: 'POST',
                    async: true,
                    url: URL + "?Id=" + Id+"&Status="+jQuery("#hdnstatus").val(),
                    success: function (result) {
                        if (result == "success") {
                            alert("Status change Successfully...");
                            window.location.reload();
                        }
                        else {
                            alert("Something went wrong. Please try again");
                        }

                       StopLoading();
                    },
                    error: function (resultData) {
                        StopLoading();
                    }
                });
            }
        });

    })

    function fnDeleteOurClient(OurClient_Id) {
        jQuery("#hdnDeleteOurClient").val(OurClient_Id);
        $('#deleteOurClientModal').modal('show');
    }

    function fnChangeStatus(OurClient_Id, status) {
        jQuery("#hdndataId").val(OurClient_Id);
        jQuery("#hdnstatus").val(status);
        if (status == "Active") {
            $('#btnChangeStatus').html("Active");
            $('#activeinactiveModal .modal-body').html(" Are you sure you want to make active ?");
        }
        else {
            $('#btnChangeStatus').html("Inactive");
            $('#activeinactiveModal .modal-body').html(" Are you sure you want to make inactive ?");
        }
        $('#activeinactiveModal').modal('show');
    }

</script>
