@model AttendanceSystem.ViewModel.AccountModels.LoginVM
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">


<!-- auth-login.html  21 Nov 2019 03:49:32 GMT -->
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Contract Book - Forget Password</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="~/Content/admin-theme/assets/css/app.min.css">
    <link rel="stylesheet" href="~/Content/admin-theme/assets/bundles/bootstrap-social/bootstrap-social.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/Content/admin-theme/assets/css/style.css">
    <link rel="stylesheet" href="~/Content/admin-theme/assets/css/components.css">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="~/Content/admin-theme/assets/css/custom.css">
    <link rel='shortcut icon' type='image/x-icon' href='~/Content/admin-themeassets/img/favicon.ico' />
</head>

<body>
    <div class="loader"></div>
    <div id="app">
        <section class="section">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h4>Forgot Password</h4>
                            </div>
                            <div class="card-body">
                                @using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post, new { @id = "submit_form", @class = "login-form", ReturnUrl = ViewBag.ReturnUrl }))
                                {
                                  
                                <div id="dv_login">
                                    <p class="text-muted">We will send a OTP to reset your password</p>
                                    <div class="form-group">
                                        <label for="email">UserName</label>
                                        @*<input id="email" type="email" class="form-control" name="email" tabindex="1" required autofocus>*@
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control required autofocus", @placeholder = "User Name", @autocomplete = "off" })
                                        <div class="invalid-feedback">
                                            Please fill in your UserName
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" id="btn_GetOtp" class="btn btn-primary btn-lg btn-block" tabindex="4">
                                            Send OTP
                                        </button>
                                    </div>
                                </div>

                                <div id="dv_otp">
                                    <p class="text-muted">Submit one time password sent on registred mobile no.</p>
                                    <div class="form-group">
                                        <div class="d-block">
                                            <label for="password" class="control-label">OTP</label>
                                        </div>
                                        @Html.TextBoxFor(m => m.TextOTP, new { @class = "form-control autofocus", @placeholder = "OTP", @autocomplete = "off" })
                                        @*<input id="Txt_OTP" type="text" class="form-control" name="email" tabindex="1" required autofocus>*@
                                        <div class="invalid-feedback">
                                            please enter OTP
                                        </div>
                                        @Html.HiddenFor(m => m.OTP)
                                        @Html.HiddenFor(m => m.UserName)
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" id="btn_OtpSubmit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                                            Submit OTP
                                        </button>
                                    </div>
                                </div>
                                <div id="dv_setpwd">
                                    <p class="text-muted">Reset your new password.</p>
                                    <div class="form-group">
                                        <label for="password">New Password</label>
                                        @Html.HiddenFor(m => m.UserName)
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control placeholder-no-fix required", @placeholder = "New Password", @autocomplete = "off" })
                                        <div id="pwindicator" class="pwindicator">
                                            <div class="bar"></div>
                                            <div class="label"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="password-confirm">Confirm Password</label>
                                        <input id="confirmpassword" placeholder="Confirm Password" type="password" class="form-control" name="confirm-password" pal required>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" id="btn_setPassword" class="btn btn-primary btn-lg btn-block" tabindex="4">
                                            Reset Password
                                        </button>
                                    </div>

                                </div>
                                }
                                <div class="mt-5 text-muted text-center">
                                    Do you have already account? <a href="/admin/login">Login</a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
    </div>
    </section>
    </div>
    <!-- General JS Scripts -->
    <script src="~/Content/admin-theme/assets/js/app.min.js"></script>
    <!-- JS Libraies -->
    <!-- Page Specific JS File -->
    <!-- Template JS File -->
    <script src="~/Content/admin-theme/assets/js/scripts.js"></script>
    <!-- Custom JS File -->
    <script src="~/Content/admin-theme/assets/js/custom.js"></script>
</body>


<!-- auth-login.html  21 Nov 2019 03:49:32 GMT -->
</html>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#dv_login").show();
        $("#dv_otp").hide();
        $("#dv_setpwd").hide();

        $('#btn_GetOtp').click(function () {
            var userName = $("#UserName").val();

            var StrURL = '/admin/login/sendotptoreset?userName=' + userName;
            $.ajax({
                url: StrURL,
                cache: false,
                data: {},
                type: 'POST',
                success: function (data) {
                    if (data.Status == 1) {
                        $("#dv_login").hide();
                        $("#dv_otp").show();
                        $("#dv_setpwd").hide();
                        $("#OTP").val(data.Otp);
                        if (data.SetOtp) {
                            $("#TextOTP").val(data.Otp);
                        }
                        $("#UserName").val(data.UserName);
                    }
                    else {
                        alert(data.ErrorMessage);
                    }

                },
                error: function (req, status, error) {
                    alert(error);
                }
            });
        });

        $('#btn_OtpSubmit').click(function () {

            var otpText = $("#TextOTP").val();

            var OTP = $("#OTP").val();

            if (otpText == "") {
                alert("Please enter OTP")
                return false;
            }
            if (otpText != OTP) {
                alert("Invalid OTP")
                return false;
            } else {
                $("#dv_otp").hide();
                $("#dv_setpwd").show();
            }

        });

        $('#btn_setPassword').click(function () {
            if ($("#submit_form").valid()) {

                if ($("#Password").val() == "") {
                    alert("New password is required");
                    return false;
                }
                if ($("#confirmpassword").val() == "") {
                    alert("Confirm password is required");
                    return false;
                }
                var newPassword = $("#Password").val();
                var confirmPassword = $("#confirmpassword").val();

                if (confirmPassword != newPassword) {
                    alert("New password and confirm password must be same");
                    return false;
                }
            }

        });
    })

</script>
