@model AttendanceSystem.ViewModel.AccountModels.LoginVM
@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">


<!-- auth-login.html  21 Nov 2019 03:49:32 GMT -->
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Contra Book - Admin Login</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="~/Content/admin-theme/assets/css/app.min.css">
    <link rel="stylesheet" href="~/Content/admin-theme/assets/bundles/bootstrap-social/bootstrap-social.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/Content/admin-theme/assets/css/style.css">
    <link rel="stylesheet" href="~/Content/admin-theme/assets/css/components.css">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="~/Content/admin-theme/assets/css/custom.css">
    <link rel='shortcut icon' type='image/x-icon' href='~/Content/admin-themeassets/img/favicon.ico' />
</head>

<body>
    <div class="loader"></div>
    <div id="app">
        <section class="section">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h4>Login</h4>
                            </div>
                            <div class="card-body">
                                @using (Html.BeginForm("LoginSubmit", "Login", FormMethod.Post, new { @id = "submit_form", @class = "login-form", ReturnUrl = ViewBag.ReturnUrl }))
                                {
                                    <div id="dv_login">
                                        <div class="form-group">
                                            <label for="email">UserName</label>
                                            @*<input id="email" type="email" class="form-control" name="email" tabindex="1" required autofocus>*@
                                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control required autofocus", @placeholder = "User Name", @autocomplete = "off" })
                                            <div class="invalid-feedback">
                                                Please fill in your email
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="d-block">
                                                <label for="password" class="control-label">Password</label>
                                                <div class="float-right">
                                                    <a href="~/admin/login/forgotpassword" class="text-small">
                                                        Forgot Password?
                                                    </a>
                                                </div>
                                            </div>

                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control placeholder-no-fix required", @placeholder = "Password", @autocomplete = "off" })
                                            <div class="invalid-feedback">
                                                please fill in your password
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" name="remember" class="custom-control-input" tabindex="3" id="remember-me">
                                                <label class="custom-control-label" for="remember-me">Remember Me</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button type="button" id="btn_login" class="btn btn-primary btn-lg btn-block" tabindex="4">
                                                Login
                                            </button>
                                        </div>
                                    </div>
                                }

                                <div id="dv_otp">
                                    @using (Html.BeginForm("LoginSubmit", "Login", FormMethod.Post, new { @id = "submit_form", @class = "login-form", ReturnUrl = ViewBag.ReturnUrl }))
                                    {
                                    <div class="form-group">
                                        <div class="d-block">
                                            <label for="password" class="control-label">OTP</label>
                                        </div>
                                        @Html.TextBoxFor(m => m.TextOTP, new { @class = "form-control autofocus", @placeholder = "OTP", @autocomplete = "off" })
                                        @*<input id="Txt_OTP" type="text" class="form-control" name="email" tabindex="1" required autofocus>*@
                                        <div class="invalid-feedback">
                                            please enter OTP
                                        </div>
                                        @Html.HiddenFor(m => m.OTP)
                                        @Html.HiddenFor(m => m.UserName) 
                                    </div>
                                        <div class="form-group">
                                            <button type="submit" id="btn_OtpSubmit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                                                Submit OTP
                                            </button>
                                        </div>
                                    }
                                </div>
                                <div class="mt-5 text-muted text-center">
                                    Don't have an account? <a href="/companyrequest">Create One</a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
    </div>
    </section>
    </div>
    <!-- General JS Scripts -->
    <script src="~/Content/admin-theme/assets/js/app.min.js"></script>
    <!-- JS Libraies -->
    <!-- Page Specific JS File -->
    <!-- Template JS File -->
    <script src="~/Content/admin-theme/assets/js/scripts.js"></script>
    <!-- Custom JS File -->
    <script src="~/Content/admin-theme/assets/js/custom.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
</body>


<!-- auth-login.html  21 Nov 2019 03:49:32 GMT -->
</html>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#dv_login").show();
        $("#dv_otp").hide();


        $('#btn_login').click(function (e) {
            if ($("#submit_form").valid()) {
                $(".loader").fadeOut("slow");
                var userName = $("#UserName").val();
                var password = $("#Password").val();


                var StrURL = '/admin/login/login?userName=' + userName + "&password=" + password;
                $.ajax({
                    url: StrURL,
                    cache: false,
                    data: {},
                    type: 'POST',
                    success: function (data) {
                        if (data.Status == 1) {
                            $("#dv_login").hide();
                            $("#dv_otp").show();
                            $("#OTP").val(data.Otp);
                            $("#TextOTP").val(data.Otp);
                            $("#EncryptedKey").val(data.EncryptedUserDetails);
                        }
                        else {
                            alert(data.ErrorMessage);
                        }

                    },
                    error: function (req, status, error) {
                        alert(error);
                    }
                });
            }
            else {

                return false;
            }
            
        });


        $('#btn_OtpSubmit').click(function (e) {
            $(".loader").fadeOut("slow");
            var otpText = $("#TextOTP").val();

            var OTP = $("#OTP").val();

            if (otpText == "") {
                alert("Please enter OTP")
                return false;
            }
            if (otpText != OTP) {
                alert("Invalid OTP")
                return false;
            } else {
                $("#submit_form").submit();
            }

        });
    })

</script>