@model AttendanceSystem.ViewModel.DashboardVM
@using AttendanceSystem.Helper;
@{
    ViewBag.Title = "Dashboard";
    var CurrentYear = CommonMethod.CurrentIndianDateTime().Year;
}


<section class="section">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header" style="background-color: #425C59;">
                    <h4 style="color: #FFCEA3;">Dashboard</h4>
                </div>
            </div>
        </div>
    </div>

    @if (clsAdminSession.RoleID == (int)AdminRoles.CompanyAdmin)
    {



        <div class="row ">
            @if (!clsAdminSession.IsTrialMode)
            {
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="card-statistic-4">
                            <div class="align-items-center justify-content-between">
                                <div class="row ">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                        <div class="card-content">
                                            <h5 class="font-15">Account Expiry Date</h5>
                                            <h2 class="mb-3 font-18">@Model.AccountExpiryDate.ToString("dd MMM yyyy")</h2>
                                            @if (clsAdminSession.IsTrialMode)
                                            {
                                                <h5 class="font-15">Trial Mode</h5>
                                            }
                                            else
                                            {
                                                <a href="/admin/accountrenew/view/@Model.CurrentPackageId">More info</a>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                        <div class="banner-img">
                                            @*<img src="~/Content/admin-theme/assets/img/banner/3.png" alt="">*@
                                            <img src="~/Content/admin-theme/assets/img/contrabook/clipart/companyadmin/account-expiry-date.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="card-statistic-4">
                            <div class="align-items-center justify-content-between">
                                <div class="row ">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                        <div class="card-content">
                                            <h5 class="font-15">SMS Left</h5>
                                            <h2 class="mb-3 font-18">@Model.SMSLeft</h2>
                                            @if (clsAdminSession.IsTrialMode)
                                            {
                                                <h5 class="font-15">Trial Mode</h5>
                                            }
                                            else
                                            {
                                                <a href="/admin/smsrenew/view/@Model.CurrentSMSPackageId">More info</a>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                        <div class="banner-img">
                                            @*<img src="~/Content/admin-theme/assets/img/banner/3.png" alt="">*@
                                            <img src="~/Content/admin-theme/assets/img/contrabook/clipart/companyadmin/sms-left.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-statistic-4">
                        <div class="align-items-center justify-content-between">
                            <div class="row ">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                    <div class="card-content">
                                        <h5 class="font-15"> Pending Attendance</h5>
                                        <h2 class="mb-3 font-18">@Model.PendingAttendance</h2>
                                        <a href="/admin/attendance">More info</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                    <div class="banner-img">
                                        @*<img src="~/Content/admin-theme/assets/img/banner/2.png" alt="">*@
                                        <img src="~/Content/admin-theme/assets/img/contrabook/clipart/companyadmin/sms-left.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-statistic-4">
                        <div class="align-items-center justify-content-between">
                            <div class="row ">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                    <div class="card-content">
                                        <h5 class="font-15">Pending Leaves</h5>
                                        <h2 class="mb-3 font-18">@Model.PendingLeaves</h2>
                                        <a href="/admin/leave/Index?userRole=&leaveStatus=1&startMonth=&endMonth=&year=@CurrentYear">More info</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                    <div class="banner-img">
                                        @*<img src="~/Content/admin-theme/assets/img/banner/1.png" alt="">*@
                                        <img src="~/Content/admin-theme/assets/img/contrabook/clipart/companyadmin/pending-leaves.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-statistic-4">
                        <div class="align-items-center justify-content-between">
                            <div class="row ">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                    <div class="card-content">
                                        <h5 class="font-15">Current Month Holiday</h5>
                                        <h2 class="mb-3 font-18">@Model.ThisMonthHoliday</h2>
                                        <a href="/admin/holiday">More info</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                    <div class="banner-img">
                                        @*<img src="~/Content/admin-theme/assets/img/banner/4.png" alt="">*@
                                        <img src="~/Content/admin-theme/assets/img/contrabook/clipart/companyadmin/holiday.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-statistic-4">
                        <div class="align-items-center justify-content-between">
                            <div class="row ">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                    <div class="card-content">
                                        <h5 class="font-15">Employees</h5>
                                        <h2 class="mb-3 font-18">@Model.Employee</h2>
                                        <a href="/admin/employee/Index?userRole=3&userStatus=">More info</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                    <div class="banner-img">
                                        @*<img src="~/Content/admin-theme/assets/img/banner/1.png" alt="">*@
                                        <img src="~/Content/admin-theme/assets/img/contrabook/clipart/companyadmin/employee.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (!Model.IsOfficeCompany)
            {
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="card-statistic-4">
                            <div class="align-items-center justify-content-between">
                                <div class="row ">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                        <div class="card-content">
                                            <h5 class="font-15"> Supervisors</h5>
                                            <h2 class="mb-3 font-18">@Model.Supervisor</h2>
                                            <a href="/admin/employee/Index?userRole=4&userStatus=">More info</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                        <div class="banner-img">
                                            @*<img src="~/Content/admin-theme/assets/img/banner/2.png" alt="">*@
                                            <img src="~/Content/admin-theme/assets/img/contrabook/clipart/companyadmin/supervisor.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="card-statistic-4">
                            <div class="align-items-center justify-content-between">
                                <div class="row ">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                        <div class="card-content">
                                            <h5 class="font-15">Checkers</h5>
                                            <h2 class="mb-3 font-18">@Model.Checker</h2>
                                            <a href="/admin/employee/Index?userRole=5&userStatus=">More info</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                        <div class="banner-img">
                                            @*<img src="~/Content/admin-theme/assets/img/banner/3.png" alt="">*@
                                            <img src="~/Content/admin-theme/assets/img/contrabook/clipart/companyadmin/checker.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="card-statistic-4">
                            <div class="align-items-center justify-content-between">
                                <div class="row ">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                        <div class="card-content">
                                            <h5 class="font-15">Payers</h5>
                                            <h2 class="mb-3 font-18">@Model.Payer</h2>
                                            <a href="/admin/employee/Index?userRole=6&userStatus=">More info</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                        <div class="banner-img">
                                            @*<img src="~/Content/admin-theme/assets/img/banner/4.png" alt="">*@
                                            <img src="~/Content/admin-theme/assets/img/contrabook/clipart/companyadmin/payer.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="card-statistic-4">
                            <div class="align-items-center justify-content-between">
                                <div class="row ">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                        <div class="card-content">
                                            <h5 class="font-15">Workers</h5>
                                            <h2 class="mb-3 font-18">@Model.Worker</h2>
                                            <a href="/admin/worker">More info</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                        <div class="banner-img">
                                            @*<img src="~/Content/admin-theme/assets/img/banner/4.png" alt="">*@
                                            <img src="~/Content/admin-theme/assets/img/contrabook/clipart/companyadmin/workers.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="row ">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-statistic-4">
                        <div class="align-items-center justify-content-between">
                            <div class="pull-left">
                                Conversion For @Model.MonthName - @Model.Year
                                @Html.HiddenFor(m => m.Month)
                                @Html.HiddenFor(m => m.Year)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.AllowForEmployee)
            {
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="card-statistic-4">
                            <div class="align-items-center justify-content-between">
                                <div class="pull-right">
                                    <button class="btn btn-primary mr-1" id="btnEmployee" type="button">Employee Conversion</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (Model.AllowForWorker)
            {
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="card-statistic-4">
                            <div class="align-items-center justify-content-between">
                                <div class="pull-right">
                                    <button class="btn btn-primary mr-1" id="btnWorker" type="button">Worker Conversion</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }

    @if (clsAdminSession.RoleID == (int)AdminRoles.SuperAdmin)
    {
        <div class="row ">

            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-statistic-4">
                        <div class="align-items-center justify-content-between">
                            <div class="row ">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                    <div class="card-content">
                                        <h5 class="font-15">Total Customers</h5>
                                        <h2 class="mb-3 font-18">@Model.TotalCustomer</h2>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                    <div class="banner-img">
                                        @*<img src="~/Content/admin-theme/assets/img/banner/1.png" alt="">*@
                                        <img src="~/Content/admin-theme/assets/img/contrabook/clipart/superadmin/total-customers.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-statistic-4">
                        <div class="align-items-center justify-content-between">
                            <div class="row ">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                    <div class="card-content">
                                        <h5 class="font-15"> Pending Request</h5>
                                        <h2 class="mb-3 font-18">@Model.PendingCompanyRequest</h2>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                    <div class="banner-img">
                                        @*<img src="~/Content/admin-theme/assets/img/banner/2.png" alt="">*@
                                        <img src="~/Content/admin-theme/assets/img/contrabook/clipart/superadmin/pending-company-request.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-statistic-4">
                        <div class="align-items-center justify-content-between">
                            <div class="row ">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                    <div class="card-content">
                                        <h5 class="font-15">Account Package</h5>
                                        <h2 class="mb-3 font-18">@Model.AccountPackage</h2>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                    <div class="banner-img">
                                        @*<img src="~/Content/admin-theme/assets/img/banner/3.png" alt="">*@
                                        <img src="~/Content/admin-theme/assets/img/contrabook/clipart/superadmin/account-packages.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-statistic-4">
                        <div class="align-items-center justify-content-between">
                            <div class="row ">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                    <div class="card-content">
                                        <h5 class="font-15">SMS Package</h5>
                                        <h2 class="mb-3 font-18">@Model.SMSPackage</h2>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                    <div class="banner-img">
                                        @*<img src="~/Content/admin-theme/assets/img/banner/4.png" alt="">*@
                                        <img src="~/Content/admin-theme/assets/img/contrabook/clipart/companyadmin/sms-left.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-statistic-4">
                        <div class="align-items-center justify-content-between">
                            <div class="row ">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                    <div class="card-content">
                                        <h5 class="font-15">Feedback/Query Pending</h5>
                                        <h2 class="mb-3 font-18">@Model.FeedBack_QueryPending</h2>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                    <div class="banner-img">
                                        @*<img src="~/Content/admin-theme/assets/img/banner/1.png" alt="">*@
                                        <img src="~/Content/admin-theme/assets/img/contrabook/clipart/superadmin/feedback-query.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-statistic-4">
                        <div class="align-items-center justify-content-between">
                            <div class="row ">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                    <div class="card-content">
                                        <h5 class="font-15"> Total Client Registration</h5>
                                        <h2 class="mb-3 font-18">@Model.TotalClientRegistration</h2>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                    <div class="banner-img">
                                        @*<img src="~/Content/admin-theme/assets/img/banner/2.png" alt="">*@
                                        <img src="~/Content/admin-theme/assets/img/contrabook/clipart/superadmin/total-customers.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-statistic-4">
                        <div class="align-items-center justify-content-between">
                            <div class="row ">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                    <div class="card-content">
                                        <h5 class="font-15">Total Client For Contsruction</h5>
                                        <h2 class="mb-3 font-18">@Model.TotalClientForConstruction</h2>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                    <div class="banner-img">
                                        @*<img src="~/Content/admin-theme/assets/img/banner/3.png" alt="">*@
                                        <img src="~/Content/admin-theme/assets/img/contrabook/clipart/superadmin/total-construction-company.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-statistic-4">
                        <div class="align-items-center justify-content-between">
                            <div class="row ">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                    <div class="card-content">
                                        <h5 class="font-15">Total Client For Office</h5>
                                        <h2 class="mb-3 font-18">@Model.TotalClientForOffice</h2>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                    <div class="banner-img">
                                        @*<img src="~/Content/admin-theme/assets/img/banner/4.png" alt="">*@
                                        <img src="~/Content/admin-theme/assets/img/contrabook/clipart/superadmin/total-office-company.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    }
</section>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {


        $('#btnEmployee').click(function () {
                StartLoading();
                var month = $("#Month").val();
                var year = $("#Year").val();
                var URL = '@Url.Action("ConversionOfEmployeeUsers", "Dashboard")';
                $.ajax({
                    type: 'POST',
                    async: true,
                    url: URL + "?month=" + month + "&year=" + year ,
                    success: function (result) {
                        if (result.Status == 1) {
                            alert("Conversion complete successfully");
                        }
                        else {

                            alert(result.ErrorMessage);
                        }

                       StopLoading();
                    },
                    error: function (resultData) {
                       StopLoading();
                    }
                });
        });

        $('#btnWorker').click(function () {

            StartLoading();
            var month = $("#Month").val();
            var year = $("#Year").val();
                var URL = '@Url.Action("ConversionOfWorkerUsers", "Dashboard")';
                $.ajax({
                    type: 'POST',
                    async: true,
                    url: URL + "?month=" + month + "&year=" + year ,
                    success: function (result) {
                        if (result.Status == 1) {
                            alert("Conversion complete successfully");
                        }
                        else {
                            alert(result.ErrorMessage);
                        }

                       StopLoading();
                    },
                    error: function (resultData) {
                       StopLoading();
                    }
                });
        });


    })

</script>

