@model AttendanceSystem.ViewModel.DashboardVM
@using AttendanceSystem.Helper;
@{
    ViewBag.Title = "Dashboard";
    var CurrentYear = CommonMethod.CurrentIndianDateTime().Year;
}


<section class="section">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header" style="background-color: #425C59;">
                    <h4 style="color: #FFCEA3;">Dashboard</h4>
                </div>
            </div>
        </div>
    </div>

    @if (clsAdminSession.RoleID == (int)AdminRoles.CompanyAdmin)
    {

        <div class="row ">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-statistic-4">
                        <div class="align-items-center justify-content-between">
                            <div class="row ">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                    <div class="card-content">
                                        <h5 class="font-15">Account Expiry Date</h5>
                                        <h2 class="mb-3 font-18">@Model.AccountExpiryDate.ToString("dd MMM yyyy")</h2>
                                        @if (clsAdminSession.IsTrialMode)
                                        {
                                            <h5 class="font-15">Trial Mode</h5>
                                        }
                                        else if (!clsAdminSession.IsPackageExpired)
                                        {
                                            <a href="/admin/accountrenew/view/@Model.CurrentPackageId">More info</a>
                                        }
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                    <div class="banner-img">
                                        @*<img src="~/Content/admin-theme/assets/img/banner/3.png" alt="">*@
                                        <img src="~/Content/admin-theme/assets/img/contrabook/clipart/companyadmin/account-expiry-date.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-statistic-4">
                        <div class="align-items-center justify-content-between">
                            <div class="row ">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                    <div class="card-content">
                                        <h5 class="font-15">SMS Left</h5>
                                        <h2 class="mb-3 font-18">@Model.SMSLeft</h2>
                                        @if (clsAdminSession.IsTrialMode)
                                        {
                                            <h5 class="font-15">Trial Mode</h5>
                                        }
                                        else if (!clsAdminSession.IsPackageExpired)
                                        {
                                            <a href="/admin/smsrenew/view/@Model.CurrentSMSPackageId">More info</a>
                                        }
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                    <div class="banner-img">
                                        @*<img src="~/Content/admin-theme/assets/img/banner/3.png" alt="">*@
                                        <img src="~/Content/admin-theme/assets/img/contrabook/clipart/companyadmin/sms-left.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-statistic-4">
                        <div class="align-items-center justify-content-between">
                            <div class="row ">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                    <div class="card-content">
                                        <h5 class="font-15"> Pending Attendance</h5>
                                        <h2 class="mb-3 font-18">@Model.PendingAttendance</h2>
                                        @if (!clsAdminSession.IsPackageExpired)
                                        {
                                            <a href="/admin/attendance">More info</a>
                                        }
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                    <div class="banner-img">
                                        @*<img src="~/Content/admin-theme/assets/img/banner/2.png" alt="">*@
                                        <img src="~/Content/admin-theme/assets/img/contrabook/clipart/companyadmin/sms-left.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-statistic-4">
                        <div class="align-items-center justify-content-between">
                            <div class="row ">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                    <div class="card-content">
                                        <h5 class="font-15">Pending Leaves</h5>
                                        <h2 class="mb-3 font-18">@Model.PendingLeaves</h2>
                                        @if (!clsAdminSession.IsPackageExpired)
                                        {
                                            <a href="/admin/leave/Index?userRole=&leaveStatus=1&startMonth=&endMonth=&year=@CurrentYear">More info</a>
                                        }
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                    <div class="banner-img">
                                        @*<img src="~/Content/admin-theme/assets/img/banner/1.png" alt="">*@
                                        <img src="~/Content/admin-theme/assets/img/contrabook/clipart/companyadmin/pending-leaves.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-statistic-4">
                        <div class="align-items-center justify-content-between">
                            <div class="row ">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                    <div class="card-content">
                                        <h5 class="font-15">Current Month Holiday</h5>
                                        <h2 class="mb-3 font-18">@Model.ThisMonthHoliday</h2>
                                        @if (!clsAdminSession.IsPackageExpired)
                                        {
                                            <a href="/admin/holiday">More info</a>
                                        }
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                    <div class="banner-img">
                                        @*<img src="~/Content/admin-theme/assets/img/banner/4.png" alt="">*@
                                        <img src="~/Content/admin-theme/assets/img/contrabook/clipart/companyadmin/holiday.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-statistic-4">
                        <div class="align-items-center justify-content-between">
                            <div class="row ">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                    <div class="card-content">
                                        <h5 class="font-15">Total Employees Allowed</h5>
                                        <h2 class="mb-3 font-18">@Model.NoOfEmployeeAllowed</h2>
                                        @if (!clsAdminSession.IsPackageExpired)
                                        {
                                            <a href="/admin/holiday">More info</a>
                                        }
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                    <div class="banner-img">
                                        @*<img src="~/Content/admin-theme/assets/img/banner/4.png" alt="">*@
                                        <img src="~/Content/admin-theme/assets/img/contrabook/clipart/companyadmin/holiday.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-statistic-4">
                        <div class="align-items-center justify-content-between">
                            <div class="row ">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                    <div class="card-content">
                                        <h5 class="font-15">Employees</h5>
                                        <h2 class="mb-3 font-18">@Model.Employee</h2>
                                        @if (!clsAdminSession.IsPackageExpired)
                                        {
                                            <a href="/admin/employee/Index?userRole=3&userStatus=">More info</a>
                                        }
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                    <div class="banner-img">
                                        @*<img src="~/Content/admin-theme/assets/img/banner/1.png" alt="">*@
                                        <img src="~/Content/admin-theme/assets/img/contrabook/clipart/companyadmin/employee.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (!Model.IsOfficeCompany)
            {
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="card-statistic-4">
                            <div class="align-items-center justify-content-between">
                                <div class="row ">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                        <div class="card-content">
                                            <h5 class="font-15"> Supervisors</h5>
                                            <h2 class="mb-3 font-18">@Model.Supervisor</h2>
                                            @if (!clsAdminSession.IsPackageExpired)
                                            {
                                                <a href="/admin/employee/Index?userRole=4&userStatus=">More info</a>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                        <div class="banner-img">
                                            @*<img src="~/Content/admin-theme/assets/img/banner/2.png" alt="">*@
                                            <img src="~/Content/admin-theme/assets/img/contrabook/clipart/companyadmin/supervisor.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="card-statistic-4">
                            <div class="align-items-center justify-content-between">
                                <div class="row ">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                        <div class="card-content">
                                            <h5 class="font-15">Checkers</h5>
                                            <h2 class="mb-3 font-18">@Model.Checker</h2>
                                            @if (!clsAdminSession.IsPackageExpired)
                                            {
                                                <a href="/admin/employee/Index?userRole=5&userStatus=">More info</a>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                        <div class="banner-img">
                                            @*<img src="~/Content/admin-theme/assets/img/banner/3.png" alt="">*@
                                            <img src="~/Content/admin-theme/assets/img/contrabook/clipart/companyadmin/checker.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="card-statistic-4">
                            <div class="align-items-center justify-content-between">
                                <div class="row ">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                        <div class="card-content">
                                            <h5 class="font-15">Payers</h5>
                                            <h2 class="mb-3 font-18">@Model.Payer</h2>
                                            @if (!clsAdminSession.IsPackageExpired)
                                            {
                                                <a href="/admin/employee/Index?userRole=6&userStatus=">More info</a>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                        <div class="banner-img">
                                            @*<img src="~/Content/admin-theme/assets/img/banner/4.png" alt="">*@
                                            <img src="~/Content/admin-theme/assets/img/contrabook/clipart/companyadmin/payer.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="card-statistic-4">
                            <div class="align-items-center justify-content-between">
                                <div class="row ">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                        <div class="card-content">
                                            <h5 class="font-15">Workers</h5>
                                            <h2 class="mb-3 font-18">@Model.Worker</h2>
                                            @if (!clsAdminSession.IsPackageExpired)
                                            {
                                                <a href="/admin/worker">More info</a>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                        <div class="banner-img">
                                            @*<img src="~/Content/admin-theme/assets/img/banner/4.png" alt="">*@
                                            <img src="~/Content/admin-theme/assets/img/contrabook/clipart/companyadmin/workers.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="row ">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-statistic-4">
                        <div class="align-items-center justify-content-between">
                            <div class="pull-left">
                                Conversion For @Model.MonthName - @Model.Year
                                @Html.HiddenFor(m => m.Month)
                                @Html.HiddenFor(m => m.Year)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.AllowForEmployee)
            {
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-statistic-4">
                            <div class="align-items-center justify-content-between">
                                <div style="text-align:center;">
                                    <button class="btn btn-primary mr-1" id="btnEmployee" type="button" style="color: #FFCEA3;background-color: #425A49;">Employee Conversion</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (Model.AllowForWorker)
            {
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-statistic-4">
                            <div class="align-items-center justify-content-between">
                                <div style="text-align:center;">
                                    <button class="btn btn-primary mr-1" id="btnWorker" type="button" style="color: #FFCEA3;background-color: #425A49;">Worker Conversion</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-statistic-4">
                        <div class="align-items-center justify-content-between">
                            <div class="row ">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                    <div class="card-content">
                                        <h5 class="font-15">Find Fingerprint</h5>
                                        <button id="btnStartTestFingerprint" class="btn" style="margin-top: 15px; color: #FFCEA3;background-color: #425A49;">Start</button>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                    <div class="banner-img">
                                        <img style="height:94px;" src="~/Content/admin-theme/assets/img/contrabook/fingerprint.jpg" alt="">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    @if (clsAdminSession.RoleID == (int)AdminRoles.SuperAdmin)
    {
        <div class="row ">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-statistic-4">
                        <div class="align-items-center justify-content-between">
                            <div class="row ">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                    <div class="card-content">
                                        <h5 class="font-15">Total Customers</h5>
                                        <h2 class="mb-3 font-18">@Model.TotalCustomer</h2>
                                        <a href="/admin/company/requests">More info</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                    <div class="banner-img">
                                        @*<img src="~/Content/admin-theme/assets/img/banner/1.png" alt="">*@
                                        <img src="~/Content/admin-theme/assets/img/contrabook/clipart/superadmin/total-customers.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-statistic-4">
                        <div class="align-items-center justify-content-between">
                            <div class="row ">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                    <div class="card-content">
                                        <h5 class="font-15"> Pending Request</h5>
                                        <h2 class="mb-3 font-18">@Model.PendingCompanyRequest</h2>
                                        <a href="/admin/company/requests?status=1">More info</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                    <div class="banner-img">
                                        @*<img src="~/Content/admin-theme/assets/img/banner/2.png" alt="">*@
                                        <img src="~/Content/admin-theme/assets/img/contrabook/clipart/superadmin/pending-company-request.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-statistic-4">
                        <div class="align-items-center justify-content-between">
                            <div class="row ">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                    <div class="card-content">
                                        <h5 class="font-15">Account Package</h5>
                                        <h2 class="mb-3 font-18">@Model.AccountPackage</h2>
                                        <a href="/admin/package">More info</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                    <div class="banner-img">
                                        @*<img src="~/Content/admin-theme/assets/img/banner/3.png" alt="">*@
                                        <img src="~/Content/admin-theme/assets/img/contrabook/clipart/superadmin/account-packages.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-statistic-4">
                        <div class="align-items-center justify-content-between">
                            <div class="row ">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                    <div class="card-content">
                                        <h5 class="font-15">SMS Package</h5>
                                        <h2 class="mb-3 font-18">@Model.SMSPackage</h2>
                                        <a href="/admin/smspackage">More info</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                    <div class="banner-img">
                                        @*<img src="~/Content/admin-theme/assets/img/banner/4.png" alt="">*@
                                        <img src="~/Content/admin-theme/assets/img/contrabook/clipart/companyadmin/sms-left.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-statistic-4">
                        <div class="align-items-center justify-content-between">
                            <div class="row ">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                    <div class="card-content">
                                        <h5 class="font-15">Feedback/Query Pending</h5>
                                        <h2 class="mb-3 font-18">@Model.FeedBack_QueryPending</h2>
                                        <a href="/admin/feedback?feedbackType=&feedbackStatus=1">More info</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                    <div class="banner-img">
                                        @*<img src="~/Content/admin-theme/assets/img/banner/1.png" alt="">*@
                                        <img src="~/Content/admin-theme/assets/img/contrabook/clipart/superadmin/feedback-query.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-statistic-4">
                        <div class="align-items-center justify-content-between">
                            <div class="row ">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                    <div class="card-content">
                                        <h5 class="font-15"> Total Client Registration</h5>
                                        <h2 class="mb-3 font-18">@Model.TotalClientRegistration</h2>
                                        <a href="/admin/company/requests?status=2">More info</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                    <div class="banner-img">
                                        @*<img src="~/Content/admin-theme/assets/img/banner/2.png" alt="">*@
                                        <img src="~/Content/admin-theme/assets/img/contrabook/clipart/superadmin/total-customers.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-statistic-4">
                        <div class="align-items-center justify-content-between">
                            <div class="row ">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                    <div class="card-content">
                                        <h5 class="font-15">Total Client For Construction</h5>
                                        <h2 class="mb-3 font-18">@Model.TotalClientForConstruction</h2>
                                        <a href="/admin/company/requests">More info</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                    <div class="banner-img">
                                        @*<img src="~/Content/admin-theme/assets/img/banner/3.png" alt="">*@
                                        <img src="~/Content/admin-theme/assets/img/contrabook/clipart/superadmin/total-construction-company.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-statistic-4">
                        <div class="align-items-center justify-content-between">
                            <div class="row ">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                    <div class="card-content">
                                        <h5 class="font-15">Total Client For Office</h5>
                                        <h2 class="mb-3 font-18">@Model.TotalClientForOffice</h2>
                                        <a href="/admin/company/requests">More info</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                    <div class="banner-img">
                                        @*<img src="~/Content/admin-theme/assets/img/banner/4.png" alt="">*@
                                        <img src="~/Content/admin-theme/assets/img/contrabook/clipart/superadmin/total-office-company.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }
</section>

<!-- Fingerprint Popup -->
<div class="modal fade open " id="fingerprintPlayModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content" style="align-items: center; background-color: #425C59; padding-bottom: 25px;">
            <div class="modal-header" style="background-color: #425C59; padding-bottom: 15px; ">
                <h4 class="modal-title" style="color: #FFCEA3;">Find Fingerprint</h4>
                @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true" style=" background: white;">&times;</button>*@
            </div>

            <img style="width: 200px;" id="imgFingerprintPlay" src="~/Content/admin-theme/assets/img/contrabook/fingerprint_play.gif" alt="Employee Thumb Image" />
        </div>
    </div>
</div>

<div class="modal fade open" id="fingerprintEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Fingerprint Match Details:</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <label><strong>Employee Name:</strong> <span id="spn_EmpName"></span></label><br />
                <label><strong>Employee Code:</strong> <span id="spn_EmpCode"></span></label><br />
                <label><strong>Employee Role:</strong> <span id="spn_EmpRole"></span></label><br />

                <a href="" class="btn btn-primary">More details</a>

            </div>
            @*<div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-primary" type="button">Close</button>
                </div>*@
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/admin-theme/assets/js/mfs100-9.0.2.6.js"></script>

<script type="text/javascript">

    //...Globally Declare...
    var thumbCaptured = 1;
    var quality = 70; //(1 to 100) (recommanded minimum 55)
    var timeout = 10; // seconds (minimum=10(recommanded), maximum=60, unlimited=0)

    $(document).ready(function () {


        $('#btnEmployee').click(function () {
            StartLoading();
            var month = $("#Month").val();
            var year = $("#Year").val();
            var URL = '@Url.Action("ConversionOfEmployeeUsers", "Dashboard")';
            $.ajax({
                type: 'POST',
                async: true,
                url: URL + "?month=" + month + "&year=" + year,
                success: function (result) {
                    if (result.Status == 1) {
                        alert("Conversion complete successfully");
                        window.location.reload();
                    }
                    else {

                        alert(result.ErrorMessage);
                    }

                    StopLoading();
                },
                error: function (resultData) {
                    StopLoading();
                }
            });
        });

        $('#btnWorker').click(function () {

            StartLoading();
            var month = $("#Month").val();
            var year = $("#Year").val();
            var URL = '@Url.Action("ConversionOfWorkerUsers", "Dashboard")';
            $.ajax({
                type: 'POST',
                async: true,
                url: URL + "?month=" + month + "&year=" + year,
                success: function (result) {
                    if (result.Status == 1) {
                        alert("Conversion complete successfully");
                        window.location.reload();
                    }
                    else {
                        alert(result.ErrorMessage);
                    }

                    StopLoading();
                },
                error: function (resultData) {
                    StopLoading();
                }
            });
        });


    });

    $('#btnStartTestFingerprint').click(function () {
        var scannerConnectionValid = PrepareScanner();
        if (scannerConnectionValid) {
            $('#fingerprintPlayModal').modal('show');

            setTimeout(() => {

                var fingerprintResponse = CaptureFinger(quality, timeout);

                if (fingerprintResponse.data.ErrorDescription == "MFS100 not Found") {

                    iziToast.error({
                        //title: '',
                        message: 'Fingerprint device is not found.',
                        position: 'topCenter'
                    });

                    setTimeout(() => {
                        $('#fingerprintPlayModal').modal('hide');
                    }, 300);

                }
                else if (fingerprintResponse.data.ErrorDescription == "Timeout") {
                    alert("Timeout !!!");

                    setTimeout(() => {
                        $('#fingerprintPlayModal').modal('hide');
                    }, 200);

                }
                else {
                    alert("Fingerprint Captured");
                    //alert("IsoTemplate = " + fingerprintResponse.data.IsoTemplate);

                    setTimeout(() => {
                        $('#fingerprintPlayModal').modal('hide');
                        setTimeout(() => {
                            fnMatchCapturedFingerprint(fingerprintResponse.data.IsoTemplate);
                        }, 200);
                    }, 200);



                }



            }, 300);
        }
        else {
            setTimeout(() => {
                alert("Fingerprint device service not properly connected.");
            }, 200);
        }
    });


    function fnMatchCapturedFingerprint(ISOTemplateCode) {

        $.blockUI({ message: '<h4> Please Wait...</h4><p><h5>We are matching your fingerprint...</h5></p>' });

        setTimeout(() => {
        var StrURL = '/Admin/Employee/GetAllEmployeesFingerprintList';
          $.ajax({
            url: StrURL,
            cache: false,
            async: false,
            type: 'GET',
            success: function (result) {

                if (result.IsSuccess) {
                    var isMatched = false;
                    console.log("result.data = ", result.data);
                    var allEmployeeFingerprintList = result.data;
                    if (allEmployeeFingerprintList != null) {

                        for (var f in allEmployeeFingerprintList) {
                            var o = allEmployeeFingerprintList[f];

                            var resultVerify = VerifyFinger(o.ISOCode, ISOTemplateCode);
                            if (resultVerify.httpStaus) {
                                if (resultVerify.data.Status) {
                                    //$('#fingerprintEmployeeModal .modal-title').text(o.EmployeeName);
                                    $("#spn_EmpName").text(o.EmployeeName);
                                    $("#spn_EmpCode").text(o.EmployeeCode);
                                    $("#spn_EmpRole").text(o.EmployeeRole);

                                    if (o.EmployeeRole == "Worker") {
                                        $('#fingerprintEmployeeModal a').attr("href", "/admin/worker/view/" + o.EmployeeId);
                                    }
                                    else {
                                        $('#fingerprintEmployeeModal a').attr("href", "/admin/employee/view/" + o.EmployeeId);
                                    }

                                    $('#fingerprintEmployeeModal').modal('show');
                                    isMatched = true;
                                    break;
                                }
                            }
                        }

                        if (!isMatched) {
                            alert("Fingerprint does not exist in the system");
                        }

                        StopLoading();
                    }
                }
                else {
                    StopLoading();
                    alert("Something went wrong.");
                }
            },
            error: function (req, status, error) {
                alert(error);
            }
        });
        }, 200);
    }

</script>

