@model AttendanceSystem.ViewModel.DashboardVM
@using AttendanceSystem.Helper;
@{
    ViewBag.Title = "Dashboard";
}


<section class="section">
    @if (clsAdminSession.RoleID == (int)AdminRoles.CompanyAdmin)
    {
        <div class="row ">

            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-statistic-4">
                        <div class="align-items-center justify-content-between">
                            <div class="row ">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                    <div class="card-content">
                                        <h5 class="font-15">Pending Leaves</h5>
                                        <h2 class="mb-3 font-18">@Model.PendingLeaves</h2>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                    <div class="banner-img">
                                        <img src="~/Content/admin-theme/assets/img/banner/1.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-statistic-4">
                        <div class="align-items-center justify-content-between">
                            <div class="row ">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                    <div class="card-content">
                                        <h5 class="font-15"> Pending Attendance</h5>
                                        <h2 class="mb-3 font-18">@Model.PendingAttendance</h2>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                    <div class="banner-img">
                                        <img src="~/Content/admin-theme/assets/img/banner/2.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-statistic-4">
                        <div class="align-items-center justify-content-between">
                            <div class="row ">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                    <div class="card-content">
                                        <h5 class="font-15">Account Expiry Date</h5>
                                        <h2 class="mb-3 font-18">@Model.AccountExpiryDate.ToString("dd MMM yyyy")</h2>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                    <div class="banner-img">
                                        <img src="~/Content/admin-theme/assets/img/banner/3.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-statistic-4">
                        <div class="align-items-center justify-content-between">
                            <div class="row ">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                    <div class="card-content">
                                        <h5 class="font-15">This Month Holiday</h5>
                                        <h2 class="mb-3 font-18">@Model.ThisMonthHoliday</h2>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                    <div class="banner-img">
                                        <img src="~/Content/admin-theme/assets/img/banner/4.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-statistic-4">
                        <div class="align-items-center justify-content-between">
                            <div class="row ">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                    <div class="card-content">
                                        <h5 class="font-15">Employees</h5>
                                        <h2 class="mb-3 font-18">@Model.Employee</h2>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                    <div class="banner-img">
                                        <img src="~/Content/admin-theme/assets/img/banner/1.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (!Model.IsOfficeCompany)
            {
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="card-statistic-4">
                            <div class="align-items-center justify-content-between">
                                <div class="row ">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                        <div class="card-content">
                                            <h5 class="font-15"> Supervisors</h5>
                                            <h2 class="mb-3 font-18">@Model.Supervisor</h2>

                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                        <div class="banner-img">
                                            <img src="~/Content/admin-theme/assets/img/banner/2.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="card-statistic-4">
                            <div class="align-items-center justify-content-between">
                                <div class="row ">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                        <div class="card-content">
                                            <h5 class="font-15">Checkers</h5>
                                            <h2 class="mb-3 font-18">@Model.Checker</h2>

                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                        <div class="banner-img">
                                            <img src="~/Content/admin-theme/assets/img/banner/3.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="card-statistic-4">
                            <div class="align-items-center justify-content-between">
                                <div class="row ">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                        <div class="card-content">
                                            <h5 class="font-15">Payers</h5>
                                            <h2 class="mb-3 font-18">@Model.Payer</h2>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                        <div class="banner-img">
                                            <img src="~/Content/admin-theme/assets/img/banner/4.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="card-statistic-4">
                            <div class="align-items-center justify-content-between">
                                <div class="row ">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                        <div class="card-content">
                                            <h5 class="font-15">Workers</h5>
                                            <h2 class="mb-3 font-18">@Model.Worker</h2>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                        <div class="banner-img">
                                            <img src="~/Content/admin-theme/assets/img/banner/4.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="row ">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="card">
                    <div class="card-statistic-4">
                        <div class="align-items-center justify-content-between">
                            <div class="pull-left">
                              Conversion For @Model.MonthName - @Model.Year
                                @Html.HiddenFor(m => m.Month)
                                @Html.HiddenFor(m => m.Year)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.AllowForEmployee)
            {
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="card-statistic-4">
                            <div class="align-items-center justify-content-between">
                                <div class="pull-right">


                                    <button class="btn btn-primary mr-1" id="btnEmployee" type="button">Employee Conversion</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (Model.AllowForWorker)
            {
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="card-statistic-4">
                            <div class="align-items-center justify-content-between">
                                <div class="pull-right">

                                    <button class="btn btn-primary mr-1" id="btnWorker" type="button">Worker Conversion</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</section>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {


        $('#btnEmployee').click(function () {
                StartLoading();
                var month = $("#Month").val();
                var year = $("#Year").val();
                var URL = '@Url.Action("ConversionOfEmployeeUsers", "Dashboard")';
                $.ajax({
                    type: 'POST',
                    async: true,
                    url: URL + "?month=" + month + "&year=" + year ,
                    success: function (result) {
                        if (result == "success") {
                            alert("Conversion complete successfully");
                            window.location.reload();
                        }
                        else if (result == "notfound") {
                            alert("Employee Not Found");
                        }
                        else {
                            alert("Something went wrong. Please try again");
                        }

                       StopLoading();
                    },
                    error: function (resultData) {
                       StopLoading();
                    }
                });
        });

        $('#btnWorker').click(function () {

            StartLoading();
            var month = $("#Month").val();
            var year = $("#Year").val();
                var URL = '@Url.Action("ConversionOfWorkerUsers", "Dashboard")';
                $.ajax({
                    type: 'POST',
                    async: true,
                    url: URL + "?month=" + month + "&year=" + year ,
                    success: function (result) {
                        if (result == "success") {
                            alert("Conversion complete successfully");
                            window.location.reload();
                        }
                        else if (result == "notfound") {
                            alert("Employee Not Found");
                        }
                        else {
                            alert("Something went wrong. Please try again");
                        }

                       StopLoading();
                    },
                    error: function (resultData) {
                       StopLoading();
                    }
                });
        });


    })

</script>

