@using AttendanceSystem.ViewModel;
@model List<AttendanceSystem.ViewModel.EmployeeBuyTransactionVM>
@{
    ViewBag.Title = "BuyEmployee";
    int counter = 1;
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header" style="background-color: #425C59;">
                        <h4 style="color: #FFCEA3;">Buy Employee List</h4>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" style="display:block;"> 
                        <div class="card-header-action pull-right">
                            <a href="/admin/employeebuytransaction/buy" class="btn btn-icon icon-left btn-primary"><i class="fas fa-plus-circle"></i> Buy Employee</a>
                        </div>
                    </div>
                    <div class="card-body"> 
                         
                        <div class="table-responsive">
                            <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
                                <thead>
                                    <tr>
                                        <td>#</td>
                                        <th>Buy Date</th>
                                        <th>No Of Employee</th>
                                        <th>No Of Days</th>
                                        <th>Amount Per Employee</th>
                                        <th>Total Paid Amount</th>
                                        <th>Expiry Date</th>
                                        <th>Invoice</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.Count > 0)
                                    {
                                        foreach (EmployeeBuyTransactionVM obj in Model)
                                        {
                                    <tr>
                                        <td>@counter.</td>
                                        <td>@obj.CreatedDate.ToString("dd/MM/yyyy hh:mm tt")</td>
                                        <td>@obj.NoOfEmpToBuy</td>
                                        <td>@obj.RemainingDays</td>
                                        <td>@obj.AmountPerEmp</td>
                                        <td>@obj.TotalPaidAmount</td>
                                        <td>@obj.ExpiryDate</td> 
                                        <td>
                                            <a title="Download Invoice PDF" href="/admin/EmployeeBuyTransaction/downloadinvoice/@obj.EmployeeBuyTransactionId" class="btn btn-icon icon-left btn-info">
                                                <i class="fas fa-download"></i>
                                            </a>
                                        </td>
                                    </tr>

                                            counter++;
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
     

</script>