@using AttendanceSystem.ViewModel;
@using AttendanceSystem.Helper;
@model AttendanceSystem.ViewModel.PaymentFilterVM
@{
    ViewBag.Title = "Payment";
    int counter = 1;
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-header" style="background-color: #425C59;">
                        <h4 style="color: #FFCEA3;">Payment List</h4>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" style="display: block;">
                        <div class="card-header-action pull-right">
                            <a href="/admin/payment/add/0" class="btn btn-icon icon-left btn-primary"><i class="fas fa-plus-circle"></i> Give Payment</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-header ">
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label style="font-size: 1rem">Start Date</label>
                                            @Html.TextBoxFor(model => model.StartDate, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control required", @placeholder = "Start Date", style = "height: calc(2.25rem + 6px)" })
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label style="font-size: 1rem">End Date</label>
                                            @Html.TextBoxFor(model => model.EndDate, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control required", @placeholder = "End Date", style = "height: calc(2.25rem + 6px)" })
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label style="font-size: 1rem">Employee Role</label>
                                            @Html.DropDownListFor(model => model.UserRole, new SelectList(Model.UserRoleList, "Value", "Text"), "- All -", new { @class = "form-control required", style = "height: calc(2.25rem + 6px)" })
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="card-header-action">
                                            <button class="btn btn-primary mr-1" style="font-size: 1rem" id="btnSearch" type="button">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
                                <thead>
                                    <tr>
                                        <td>#</td>
                                        <th>Payment Date</th>
                                        <th>Employee Code</th>
                                        <th>Employee</th>
                                        <th>Amount</th>
                                        <th>Payment Type</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.PaymentList.Count > 0)
                                    {
                                        foreach (PaymentVM obj in Model.PaymentList)
                                        {
                                            <tr>
                                                <td>@counter.</td>
                                                <td>@obj.PaymentDate.ToString("dd MMM yyyy hh:mm tt")</td>
                                                <td>@obj.EmployeeCode</td>
                                                <td>@obj.UserName</td>
                                                <td>@obj.DebitAmount</td>
                                                <td>@obj.PaymentTypeText</td>
                                                <td>

                                                    <a href="/admin/payment/add/@obj.EmployeePaymentId" title="Edit" class="btn btn-icon btn-warning"><i class="fas fa-edit"></i></a>
                                                    <a href="javascript:void(0);" title="Delete" class="btn btn-icon btn-danger" onclick="fnDeleteEmployee('@obj.EmployeePaymentId','@obj.UserId')"><i class="fas fa-trash-alt"></i></a>

                                                </td>
                                            </tr>

                                            counter++;
                                        }
                                    }

                                </tbody>
                            </table>

                            @if (Model.PaymentList != null && Model.PaymentList.Count > 0)
                            {
                                <p>
                                    @{
                                        decimal? totalSalaryAmount = Model.PaymentList.Where(x => x.PaymentType == (int)EmployeePaymentType.Salary).Sum(x => x.DebitAmount);
                                        decimal? totalExtraAmount = Model.PaymentList.Where(x => x.PaymentType == (int)EmployeePaymentType.Extra).Sum(x => x.DebitAmount);
                                        decimal? totalAmount = totalSalaryAmount + totalExtraAmount;
                                    }
                                    <b>Total Salary Amount &nbsp;: @totalSalaryAmount</b><br />
                                    <b>Total Extra Amount &nbsp;&nbsp;&nbsp;: @totalExtraAmount</b><br />
                                                                                                   <b>Total Amount &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : @totalAmount</b>
                                </p>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade open" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Confirm</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete ?
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdnDeleteEmployeePaymentId" />
                <input type="hidden" id="hdnDeleteEmployeeId" />
                <input type="hidden" id="OTP" />
                <button data-dismiss="modal" class="btn btn-primary" type="button">Close</button>
                <button id="btnDeletePayment" class="btn btn-danger" type="button">Delete</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="OtpModal" tabindex="-1" role="dialog" aria-labelledby="formModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModal">Mobile Verification</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="">
                    <div class="form-group">
                        <label>OTP</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-envelope"></i>
                                </div>
                            </div>
                            <input type="text" class="form-control" placeholder="OTP" name="OTP" id="TextOTP">
                        </div>
                    </div>
                    <button type="button" id="BtnOtpSubmit" class="btn btn-primary m-t-15 waves-effect">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {


        $('#btnDeletePayment').click(function () {
             var employeePayment_Id = $("#hdnDeleteEmployeePaymentId").val();
             var employee_Id = $("#hdnDeleteEmployeeId").val();
             if (employeePayment_Id != "" && employeePayment_Id != null) {
                $('#deleteEmployeeModal').modal('hide');

                StartLoading();
                 var StrURL = '/admin/Payment/VerifyEmployeeMobileNo?employeeId=' + employee_Id;
                 $.ajax({
                     url: StrURL,
                     cache: false,
                     data: {},
                     type: 'POST',
                     success: function (data) {
                         $.unblockUI();
                         if (data.Status == 1) {
                             $('#OtpModal').modal('show');
                             $("#OTP").val(data.Otp);
                             if (data.SetOtp) {
                                 $("#TextOTP").val(data.Otp);
                             }
                         }
                         else {
                             alert(data.ErrorMessage);
                         }

                     },
                     error: function (req, status, error) {
                         $.unblockUI();
                         alert(error);
                     }
                 });

                 return false;
            }
        });


        $('#BtnOtpSubmit').click(function () {
            var OTP = $("#OTP").val();
            var TextOTP = $("#TextOTP").val();
            var employeePayment_Id = $("#hdnDeleteEmployeePaymentId").val();

            if (TextOTP == OTP) {
               StartLoading();

                var URL = '@Url.Action("DeletePayment", "Payment")';
                $.ajax({
                    type: 'POST',
                    async: true,
                    url: URL + "?employeePaymentId=" + employeePayment_Id ,
                    success: function (result) {
                        if (result == "success") {
                            alert("Payment deleted successfully");
                            window.location.reload();
                        }
                        else if (result == "notfound") {
                            alert("Payment Not Found");
                        }
                        else if (result =="convertioncomplete")
                        {
                            alert("Monthly convesrion completed you can not add or modify payment details");
                        }
                        else {
                            alert("Something went wrong. Please try again");
                        }

                       StopLoading();
                    },
                    error: function (resultData) {
                       StopLoading();
                    }
                });
            } else {
                alert("Wrong OTP you have entered.")
                return false;
            }
        });


        $('#btnSearch').click(function () {
            var startDate = $("#StartDate").val();
            var endDate= $("#EndDate").val();
            var userRole = $("#UserRole").val();
            StartLoading();
            window.location.href = "/admin/payment/Index?userRole=" + userRole + "&startDate=" + startDate + "&endDate=" + endDate ;
        });
    })

    function fnDeleteEmployee(employeePayment_Id, employee_Id) {
        $("#hdnDeleteEmployeePaymentId").val(employeePayment_Id);
        $("#hdnDeleteEmployeeId").val(employee_Id);
        $('#deleteEmployeeModal').modal('show');
    }

</script> 