@using AttendanceSystem.Helper;
@model AttendanceSystem.ViewModel.CompanyRequestVM
@{
    List<SelectListItem> lstCompanyStatus = new List<SelectListItem>();

    lstCompanyStatus.Add(new SelectListItem { Value = "2", Text = "Accept" });
    lstCompanyStatus.Add(new SelectListItem { Value = "3", Text = "Reject" });
}

<div class="page-body">

    <!-- Container-fluid starts-->
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Company Details</h5>
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm("Edit", "company", FormMethod.Post, new { @id = "CompanyRequestForm", @class = "needs-validation", enctype = "multipart/form-data", role = "form" }))
                        {
                            @Html.HiddenFor(model => model.CompanyRequestId)
                            @Html.HiddenFor(model => model.CompanyName)
                            <div class="row">
                                <div class="col-12">
                                    <h5>Company Information</h5>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                        @Model.CompanyName
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyTypeId, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                        @Html.HiddenFor(model => model.CompanyTypeId)
                                        @Model.CompanyTypeText
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyEmailId, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                        @Model.CompanyEmailId
                                        @Html.HiddenFor(model => model.CompanyEmailId)
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyContactNo, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                        @Model.CompanyContactNo
                                        @Html.HiddenFor(model => model.CompanyContactNo)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyAlternateContactNo, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                        @Model.CompanyAlternateContactNo
                                        @Html.HiddenFor(model => model.CompanyAlternateContactNo)
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyWebisteUrl, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                        @Model.CompanyWebisteUrl
                                        @Html.HiddenFor(model => model.CompanyWebisteUrl)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CompanyDescription, htmlAttributes: new { @class = "" })
                                @Model.CompanyDescription
                                @Html.HiddenFor(model => model.CompanyDescription)
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyAddress, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                        @Model.CompanyAddress
                                        @Html.HiddenFor(model => model.CompanyAddress)
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyPincode, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                        @Model.CompanyPincode
                                        @Html.HiddenFor(model => model.CompanyPincode)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyState, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                        @Model.CompanyState
                                        @Html.HiddenFor(model => model.CompanyState)
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyCity, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                        @Model.CompanyCity
                                        @Html.HiddenFor(model => model.CompanyCity)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyGSTNo, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                        @Model.CompanyGSTNo
                                        @Html.HiddenFor(model => model.CompanyGSTNo)
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyGSTPhotoFile, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                        @if (!string.IsNullOrEmpty(Model.CompanyGSTPhoto))
                                        {
                                            <div class="form-group row">
                                                <p><a target="_blank" href="@ErrorMessage.CompanyGSTDirectoryPath/@Model.CompanyGSTPhoto"> Click here to view image </a></p>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyPanNo, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                        @Model.CompanyPanNo
                                        @Html.HiddenFor(model => model.CompanyPanNo)
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyPanPhotoFile, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                        @if (!string.IsNullOrEmpty(Model.CompanyPanPhoto))
                                        {
                                            <div class="form-group row">
                                                <p><a target="_blank" href="@ErrorMessage.CompanyPanCardDirectoryPath/@Model.CompanyPanPhoto"> Click here to view image </a></p>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyLogoImageFile, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                        @if (!string.IsNullOrEmpty(Model.CompanyLogoImage))
                                        {
                                            <div class="form-group row">
                                                <p><a target="_blank" href="@ErrorMessage.CompanyLogoDirectoryPath/@Model.CompanyLogoImage"> Click here to view image </a></p>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyRegisterProofImageFile, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                        @if (!string.IsNullOrEmpty(Model.CompanyRegisterProofImage))
                                        {
                                            <div class="form-group row">
                                                <p><a target="_blank" href="@ErrorMessage.CompanyRegisterProofDirectoryPath/@Model.CompanyRegisterProofImage"> Click here to view image </a></p>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-12">
                                    <h5>Company Admin Information</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyAdminPrefix, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                        @Model.CompanyAdminPrefix
                                        @Html.HiddenFor(model => model.CompanyAdminPrefix)
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyAdminFirstName, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                        @Model.CompanyAdminFirstName
                                        @Html.HiddenFor(model => model.CompanyAdminFirstName)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyAdminMiddleName, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                        @Model.CompanyAdminMiddleName
                                        @Html.HiddenFor(model => model.CompanyAdminMiddleName)
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyAdminLastName, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                        @Model.CompanyAdminLastName
                                        @Html.HiddenFor(model => model.CompanyAdminLastName)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyAdminEmailId, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                        @Model.CompanyAdminEmailId
                                        @Html.HiddenFor(model => model.CompanyAdminEmailId)
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyAdminDOB, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                        @Model.CompanyAdminDOB.ToString("dd MMM yyyy")
                                        @Html.HiddenFor(model => model.CompanyAdminDOB)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyAdminMobileNo, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                        @Model.CompanyAdminMobileNo
                                        @Html.HiddenFor(model => model.CompanyAdminMobileNo)
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyAdminAlternateMobileNo, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                        @Model.CompanyAdminAlternateMobileNo
                                        @Html.HiddenFor(model => model.CompanyAdminAlternateMobileNo)
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyAdminDesignation, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                        @Model.CompanyAdminDesignation
                                        @Html.HiddenFor(model => model.CompanyAdminDesignation)
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyAdminAddress, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                        @Model.CompanyAdminAddress
                                        @Html.HiddenFor(model => model.CompanyAdminAddress)
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyAdminPincode, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                        @Model.CompanyAdminPincode
                                        @Html.HiddenFor(model => model.CompanyAdminPincode)
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyAdminCity, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                        @Model.CompanyAdminCity
                                        @Html.HiddenFor(model => model.CompanyAdminCity)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyAdminState, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                        @Model.CompanyAdminState
                                        @Html.HiddenFor(model => model.CompanyAdminState)
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyAdminProfilePhotoFile, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                        @if (!string.IsNullOrEmpty(Model.CompanyAdminProfilePhoto))
                                        {
                                            <div class="form-group row">
                                                <p><a target="_blank" href="@ErrorMessage.ProfileDirectoryPath/@Model.CompanyAdminProfilePhoto"> Click here to view image </a></p>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyAdminPanCardNo, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                        @Model.CompanyAdminPanCardNo
                                        @Html.HiddenFor(model => model.CompanyAdminPanCardNo)
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyAdminPanCardPhotoFile, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                        @if (!string.IsNullOrEmpty(Model.CompanyAdminPanCardPhoto))
                                        {
                                            <div class="form-group row">
                                                <p><a target="_blank" href="@ErrorMessage.PancardDirectoryPath/@Model.CompanyAdminPanCardPhoto"> Click here to view image </a></p>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyAdminAadharCardNo, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                        @Model.CompanyAdminAadharCardNo
                                        @Html.HiddenFor(model => model.CompanyAdminAadharCardNo)
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyAdminAadharCardPhotoFile, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                        @if (!string.IsNullOrEmpty(Model.CompanyAdminAadharCardPhoto))
                                        {
                                            <div class="form-group row">
                                                <p><a target="_blank" href="@ErrorMessage.AdharcardDirectoryPath/@Model.CompanyAdminAadharCardPhoto"> Click here to view image </a></p>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                @Html.LabelFor(model => model.RequestStatus, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                @Html.DropDownListFor(model => model.RequestStatus, new SelectList(lstCompanyStatus, "Value", "Text"), "- Select -", new { @class = "form-control required", @style = "width:20%" })

                                @Html.ValidationMessageFor(model => model.RequestStatus, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group row" id="dvRejectReason">
                                @Html.LabelFor(model => model.RejectReason, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                @Html.TextBoxFor(model => model.RejectReason, new { @type = "text", @class = "form-control", @placeholder = "Enter Reject Reason", @style = "width:50%" })
                            </div>
                            <div class="form-group row">
                                <lable class="col-xl-3 col-md-4"></lable>
                                <button type="submit" class="btn btn-primary" style="margin-right:10px;" id="btnSubmit">Submit</button>
                                <button type="button" class="btn btn-danger" id="btnCancel">Cancel</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

</div>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        if ($("#RequestStatus").val() == "3") {
            $("#dvRejectReason").show();
        } else {
            $("#dvRejectReason").hide();
            $("#RejectReason").val("");
        }

        $('#btnCancel').click(function () {
            window.location.href = "/admin/company/Requests";
        });

        $("#RequestStatus").change(function () {
            var requestStatus = $("#RequestStatus").val();
            if (requestStatus == "3") {
                $("#dvRejectReason").show();
            } else {
                $("#dvRejectReason").hide();
                $("#RejectReason").val("");
            }

        });

        $('#btnSubmit').click(function () {
            if ($("#CompanyRequestForm").valid()) {
                var requestStatus = $("#RequestStatus").val();
                if (requestStatus == "") {
                    alert("Please select request reason.");
                    return false;
                }
                if (requestStatus == "3" && $("#RejectReason").val() == "") {
                    alert("Please enter reject reason.");
                    return false;
                }
            }
            else {
                return false;
            }

        });
    })
</script>