@using AttendanceSystem.Helper;
@model AttendanceSystem.ViewModel.RegisteredCompanyVM
@{
 
 
}

<div class="page-body">

    <!-- Container-fluid starts-->
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Company Details</h5>
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm("EditCompany", "company", FormMethod.Post, new { @id = "CompanyEditForm", @class = "needs-validation", enctype = "multipart/form-data", role = "form" }))
                        {
                            @Html.HiddenFor(model => model.CompanyId)
                            @Html.HiddenFor(model => model.CompanyName)

                            <div class="row">
                                <div class="form-group col-6">
                                    @Html.LabelFor(model => model.CompanyTypeId, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                    @Model.CompanyTypeText
                                </div>
                                <div class="form-group col-6">
                                    @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                    @Model.CompanyName
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-6">
                                    @Html.LabelFor(model => model.CompanyCode, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                    @Model.CompanyName
                                </div>

                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter City" } })
                                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-6">
                                    @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter State" } })
                                    @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                                </div>

                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    @Html.LabelFor(model => model.GSTNo, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.GSTNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter GST No", maxlength = "15", @min = "1" } })
                                    @Html.ValidationMessageFor(model => model.GSTNo, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-6">
                                    @Html.LabelFor(model => model.FreeAccessDays, htmlAttributes: new { @class = "" })
                                    @Html.EditorFor(model => model.FreeAccessDays, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Free Access Days" } })
                                    @Html.ValidationMessageFor(model => model.FreeAccessDays, "", new { @class = "text-danger" })
                                </div>

                            </div>
                            <div class="row">
                                <div class="form-group col-lg-12">
                                    @Html.LabelFor(model => model.GSTPhotoFile, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                    @Html.TextBoxFor(model => model.GSTPhotoFile, new { type = "file", @class = "form-control col-md-8" })
                                    @Html.ValidationMessageFor(model => model.GSTPhotoFile, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.GSTPhoto)
                                    @if (!string.IsNullOrEmpty(Model.GSTPhoto))
                                    {
                                        <div class="form-group row">
                                            <lable class="col-xl-3 col-md-4"></lable>
                                            <p><a target="_blank" href="@ErrorMessage.CompanyDirectoryPath/@Model.GSTPhoto"> Click here to view image </a></p>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-12">
                                    @Html.LabelFor(model => model.CompanyPhotoFile, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                    @Html.TextBoxFor(model => model.CompanyPhotoFile, new { type = "file", @class = "form-control col-md-8" })
                                    @Html.ValidationMessageFor(model => model.CompanyPhotoFile, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.CompanyPhoto)
                                    @if (!string.IsNullOrEmpty(Model.CompanyPhoto))
                                    {
                                        <div class="form-group row">
                                            <lable class="col-xl-3 col-md-4"></lable>
                                            <p><a target="_blank" href="@ErrorMessage.CompanyDirectoryPath/@Model.CompanyPhoto"> Click here to view image </a></p>
                                        </div>
                                    }
                                </div>

                            </div>
                            <div class="row">
                                <div class="form-group col-12">
                                    @Html.LabelFor(model => model.CancellationChequePhotoFile, htmlAttributes: new { @class = "col-xl-3 col-md-4" })
                                    @Html.TextBoxFor(model => model.CancellationChequePhotoFile, new { type = "file", @class = "form-control col-md-8" })
                                    @Html.ValidationMessageFor(model => model.CancellationChequePhotoFile, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.CancellationChequePhoto)
                                    @if (!string.IsNullOrEmpty(Model.CancellationChequePhoto))
                                    {
                                        <div class="form-group row">
                                            <lable class="col-xl-3 col-md-4"></lable>
                                            <p><a target="_blank" href="@ErrorMessage.CompanyDirectoryPath/@Model.CancellationChequePhoto"> Click here to view image </a></p>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="form-group row">
                                <lable class="col-xl-3 col-md-4"></lable>
                                <button type="submit" class="btn btn-primary" style="margin-right:10px;" id="btnSubmit">Submit</button>
                                <button type="button" class="btn btn-danger" id="btnCancel">Cancel</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

</div>
<div class="modal fade" id="OtpModal" tabindex="-1" role="dialog" aria-labelledby="formModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModal">Mobile Verification</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="">
                    <div class="form-group">
                        <label>OTP</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-envelope"></i>
                                </div>
                            </div>
                            <input type="text" class="form-control" placeholder="OTP" name="OTP" id="TextOTP">
                        </div>
                    </div>
                    <button type="button" id="BtnOtpSubmit" class="btn btn-primary m-t-15 waves-effect">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
         
        $('#btnCancel').click(function () {
            window.location.href = "/admin/company/registered";
        });

        $('#btnSubmit').click(function () {
            if ($("#CompanyEditForm").valid()) {
                if ($("#GSTPhotoFile").val() == "" && $("#GSTPhoto").val() == "") {
                    alert("Please select GST photo.");
                    return false;
                }

                if ($("#CompanyPhotoFile").val() == "" && $("#CompanyPhoto").val() == "") {
                    alert("Please select company photo.");
                    return false;
                }

                if ($("#CancellationChequePhotoFile").val() == "" && $("#CancellationChequePhoto").val() == "") {
                    alert("Please select cancelled cheque photo.");
                    return false;
                }

                var companyId = $("#CompanyId").val();
                StartLoading();

                var StrURL = '/admin/company/VerifyCopmany?companyId=' + companyId;
                $.ajax({
                    url: StrURL,
                    cache: false,
                    data: {},
                    type: 'POST',
                    success: function (data) {
                        StopLoading();
                        if (data.Status == 1) {
                            $('#OtpModal').modal('show');
                            $("#OTP").val(data.Otp);
                            $("#TextOTP").val(data.Otp);
                        }
                        else {
                            StopLoading();
                            alert(data.ErrorMessage);
                        }

                    },
                    error: function (req, status, error) {
                        StopLoading();
                        alert(error);
                    }
                });
            }
            else {
                return false;
            }
            return false;
        });
        $('#BtnOtpSubmit').click(function () {
            var OTP = $("#OTP").val();
            var TextOTP = $("#TextOTP").val();

            if (TextOTP == OTP) {
                $("#CompanyEditForm").submit();
            } else {
                alert("Wrong OTP you have entered.")
                return false;
            }
        });
    })
</script>