@using AttendanceSystem.Helper
@using Newtonsoft.Json;
@using AttendanceSystem.ViewModel;
@model AttendanceSystem.ViewModel.CompanyRequestFilterVM
@{
    /**/

    List<SelectListItem> lstCompanyStatus = new List<SelectListItem>();

    lstCompanyStatus.Add(new SelectListItem { Value = "1", Text = "Pending" });
    lstCompanyStatus.Add(new SelectListItem { Value = "3", Text = "Reject" });

    ViewBag.Title = "Company Request";
    int counter = 1;
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Company Request List</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Request Status</label>
                                    @Html.DropDownListFor(model => model.RequestStatus, new SelectList(lstCompanyStatus, "Value", "Text"), "- Select -", new { @class = "form-control col-md-8 required", style = "" })
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">

                            <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Company Type</th>
                                        <th>Company Name</th>
                                        <th>EmailId</th>
                                        <th>First name</th>
                                        <th>Last name</th>
                                        <th>Mobile No</th>
                                        <th>City</th>
                                        <th>State</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @if (Model != null && Model.companyRequest.Count > 0)
                                    {
                                        foreach (CompanyRequestVM obj in Model.companyRequest)
                                        {
                                            <tr class="gradeX">
                                                <td>@counter.</td>
                                                <td>
                                                    @obj.CompanyTypeText
                                                </td>
                                                <td>@obj.CompanyName</td>
                                                <td>@obj.CompanyEmailId</td>
                                                <td>@obj.CompanyAdminFirstName</td>
                                                <td>@obj.CompanyAdminLastName</td>
                                                <td>@obj.CompanyAdminMobileNo</td>
                                                <td>@obj.CompanyAdminCity</td>
                                                <td>@obj.CompanyAdminState</td>


                                                <td>
                                                    <a href="/admin/company/edit/@obj.CompanyRequestId" title="Edit" class="btn btn-icon btn-warning"><i class="fas fa-edit"></i></a>
                                                </td>
                                            </tr>
                                            counter++;
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#RequestStatus").change(function () {
            var status = $("#RequestStatus").val();
            window.location.href = "/admin/company/Requests?status=" + status;
            
        });
        
    })
</script>