@using AttendanceSystem.Helper;
@model AttendanceSystem.ViewModel.CompanyRequestVM
@{
    /**/

    ViewBag.Title = "Company";
    var trialMode = Model.IsTrialMode ? ErrorMessage.YES : ErrorMessage.NO;
}

<div class="page-body">

    <!-- Container-fluid starts-->
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">

                <div class="card">
                    <div class="card-header" style="background-color: #425C59;">
                        <h4 style="color: #FFCEA3;">View Company - @Model.CompanyName</h4>
                    </div>
                </div>

                <div class="card">

                    <div class="card-header" style="display: block;">
                        <div class="pull-left">
                            <h5>Company Information</h5>
                        </div>
                        <div class="pull-right">
                            <a href="/admin/company/registered" class="btn btn-warning pull-right"><i class="fas fa-backward"></i> Back</a>
                        </div>
                    </div>

                    <div class="card-body">

                        @*<div class="row">
                                <div class="form-group col-4" style=" background-color: #425C59; border-radius: 10px;">
                                    <label style=" color: #FFCEA3; margin-top: 8px; font-size: 17px;">Compnay Name</label>
                                </div>

                                <div class="form-group col-8">
                                    <input type="text" class="form-control" style=" border-radius: 10px;" />
                                </div>

                            </div>

                            <div class="row">
                                <div class="form-group col-4" style=" background-color: #425C59; border-radius: 10px;">
                                    <label style=" color: #FFCEA3; margin-top: 8px; font-size: 17px;">Compnay Type</label>
                                </div>

                                <div class="form-group col-8">
                                    <input type="text" class="form-control" style=" border-radius: 10px;" />
                                </div>

                            </div>

                            <div class="row">

                                <div class="form-group col-4" style=" background-color: #425C59; border-radius: 10px;">
                                    <label style=" color: #FFCEA3; margin-top: 8px; font-size: 17px;">Company Email Id</label>
                                </div>


                                <div class="form-group col-8">
                                    <input type="text" class="form-control" style=" border-radius: 10px;" />
                                </div>

                            </div>

                            <div class="row">

                                <div class="form-group col-4" style=" background-color: #425C59; border-radius: 10px;">
                                    <label style=" color: #FFCEA3; margin-top: 8px; font-size: 17px;">Company Contact No</label>
                                </div>

                                <div class="form-group col-8">
                                    <input type="text" class="form-control" style=" border-radius: 10px;" />
                                </div>

                            </div>*@

                        <div class="row">
                            <div class="form-group col-6">
                                <label style="background-color: #425C59; color: #FFCEA3; padding: 10px; border-radius: 7px; font-size: 17px;">Company Name *</label>
                                <p style="border: #000000 2px solid; padding: 5px; width: max-content; border-radius: 7px; font-size: 17px;">@Model.CompanyName</p>
                            </div>

                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.CompanyTypeId) :
                                <p>@Model.CompanyTypeText</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.CompanyEmailId) :
                                <p>@Model.CompanyEmailId</p>
                            </div>

                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.CompanyContactNo) :
                                <p>@Model.CompanyContactNo</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.CompanyAlternateContactNo) :
                                <p>@Model.CompanyAlternateContactNo</p>
                            </div>

                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.CompanyWebisteUrl) :
                                <p>@Model.CompanyWebisteUrl</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.CompanyDescription) :
                                <p>@Model.CompanyDescription</p>
                            </div>
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.CompanyAddress) :
                                <p>@Model.CompanyAddress</p>
                            </div>
                        </div>

                        <div class="row">

                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.CompanyCity) :
                                <p>@Model.CompanyCity</p>
                            </div>
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.CompanyPincode) :
                                <p>@Model.CompanyPincode</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.CompanyDistrict) :
                                <p>@Model.CompanyDistrict</p>
                            </div>
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.CompanyState) :
                                <p>@Model.CompanyState</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.IsTrialMode) :
                                <p>@trialMode</p>
                            </div>
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.TrialExpiryDate) :
                                @if (Model.IsTrialMode)
                                {
                                    <p>@Model.TrialExpiryDate.Value.ToString("dd MMM yyyy")</p>
                                }
                                else
                                {
                                    <p>@Model.AccountExpiryDate.Value.ToString("dd MMM yyyy")</p>
                                }
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.CompanyGSTNo) :
                                <p>@Model.CompanyGSTNo</p>
                            </div>

                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.CompanyGSTPhotoFile) :
                                @if (!string.IsNullOrEmpty(Model.CompanyGSTPhoto))
                                {
                                    <p><a target="_blank" href="@ErrorMessage.CompanyGSTDirectoryPath/@Model.CompanyGSTPhoto"> Click here to view image </a></p>
                                }
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.CompanyPanNo) :
                                <p>@Model.CompanyPanNo</p>
                            </div>

                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.CompanyPanPhotoFile) :
                                @if (!string.IsNullOrEmpty(Model.CompanyPanPhoto))
                                {
                                    <p><a target="_blank" href="@ErrorMessage.CompanyPanCardDirectoryPath/@Model.CompanyPanPhoto"> Click here to view image </a></p>
                                }
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.CompanyLogoImageFile) :
                                @if (!string.IsNullOrEmpty(Model.CompanyLogoImage))
                                {
                                    <p><a target="_blank" href="@ErrorMessage.CompanyLogoDirectoryPath/@Model.CompanyLogoImage"> Click here to view image </a></p>
                                }
                            </div>

                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.CompanyRegisterProofImageFile) :
                                @if (!string.IsNullOrEmpty(Model.CompanyRegisterProofImage))
                                {
                                    <p><a target="_blank" href="@ErrorMessage.CompanyRegisterProofDirectoryPath/@Model.CompanyRegisterProofImage"> Click here to view image </a></p>
                                }
                            </div>
                        </div>

                        <hr />
                        <div class="card-header" style="padding-left:0;">
                            <h5>Company Admin Information</h5>
                        </div>

                        <div class="row">
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.CompanyAdminPrefix) :
                                <p>@Model.CompanyAdminPrefix</p>
                            </div>

                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.CompanyAdminFirstName) :
                                <p>@Model.CompanyAdminFirstName</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.CompanyAdminMiddleName) :
                                <p>@Model.CompanyAdminMiddleName</p>
                            </div>

                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.CompanyAdminLastName) :
                                <p>@Model.CompanyAdminLastName</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.CompanyAdminEmailId) :
                                <p>@Model.CompanyAdminEmailId</p>
                            </div>

                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.CompanyAdminDOB) :
                                <p>@Model.dtCompanyAdminDOB.ToString("dd MMM yyyy")</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.CompanyAdminDateOfMarriageAnniversary) :
                                @if (Model.CompanyAdminDateOfMarriageAnniversary.HasValue)
                                {<p> @Model.CompanyAdminDateOfMarriageAnniversary.Value.ToString("dd MMM yyyy")</p>}
                            </div>
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.CompanyAdminMobileNo) :
                                <p>@Model.CompanyAdminMobileNo</p>
                            </div>


                        </div>

                        <div class="row">
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.CompanyAdminAlternateMobileNo) :
                                <p>@Model.CompanyAdminAlternateMobileNo</p>
                            </div>
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.CompanyAdminDesignation) :
                                <p>@Model.CompanyAdminDesignation</p>
                            </div>


                        </div>

                        <div class="row">
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.CompanyAdminAddress) :
                                <p>@Model.CompanyAdminAddress</p>
                            </div>
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.CompanyAdminCity) :
                                <p>@Model.CompanyAdminCity</p>
                            </div>

                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.CompanyAdminPincode) :
                                <p>@Model.CompanyAdminPincode</p>
                            </div>
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.CompanyAdminDistrict) :
                                <p>@Model.CompanyAdminDistrict</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.CompanyAdminState) :
                                <p>@Model.CompanyAdminState</p>
                            </div>

                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.CompanyAdminProfilePhotoFile) :
                                @if (!string.IsNullOrEmpty(Model.CompanyAdminProfilePhoto))
                                {
                                    <p><a target="_blank" href="@ErrorMessage.ProfileDirectoryPath/@Model.CompanyAdminProfilePhoto"> Click here to view image </a></p>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.CompanyAdminAadharCardNo) :
                                <p>@Model.CompanyAdminPanCardNo</p>
                            </div>

                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.CompanyAdminAadharCardPhotoFile) :
                                @if (!string.IsNullOrEmpty(Model.CompanyAdminPanCardPhoto))
                                {
                                    <p><a target="_blank" href="@ErrorMessage.AdharcardDirectoryPath/@Model.CompanyAdminAadharCardPhoto"> Click here to view image </a></p>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.CompanyAdminPanCardNo) :
                                <p>@Model.CompanyAdminPanCardNo</p>
                            </div>

                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.CompanyAdminPanCardPhotoFile) :
                                @if (!string.IsNullOrEmpty(Model.CompanyAdminPanCardPhoto))
                                {
                                    <p><a target="_blank" href="@ErrorMessage.PancardDirectoryPath/@Model.CompanyAdminPanCardPhoto"> Click here to view image </a></p>
                                }
                            </div>
                        </div>

                        @*<div class="card-footer text-center">
                                <button type="button" class="btn btn-danger" id="btnCancel">Cancel</button>
                            </div>*@

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

</div>

