@using AttendanceSystem.Helper;
@model AttendanceSystem.ViewModel.HolidayVM
@{

}

<section class="section">

    <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card">
                    <div class="card-header" style="background-color: #425C59; display: block;">
                        <div class="pull-left">
                            <h4 style="color: #FFCEA3;">@(Model.HolidayId == 0 ? "Add" : "Edit") Holiday</h4>
                        </div>
                        <div class="pull-right">
                            <a href="/admin/holiday" class="btn btn-warning pull-right"><i class="fas fa-backward"></i> Back</a>
                        </div>
                    </div>
                </div>
                  
                @using (Html.BeginForm("Add", "Holiday", FormMethod.Post, new { @id = "HolidayFormId", @class = "", enctype = "multipart/form-data", role = "form" }))
                {
                    @Html.ValidationSummary()
                    <div class="card-body">
                        <div class="row">

                            <div class="form-group col-6">
                                @Html.HiddenFor(model => model.HolidayId)
                                @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "" })
                                @Html.TextBoxFor(model => model.StartDate, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control required", @placeholder = "Holiday Start Date" })
                                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "" })
                                @Html.TextBoxFor(model => model.EndDate, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control required", @placeholder = "Holiday End Date" })
                                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.HolidayReason, htmlAttributes: new { @class = "" })
                            @Html.TextAreaFor(model => model.HolidayReason, 10, 5, new { @class = "form-control", @placeholder = "Enter Package Description", maxlength = "250" })
                            @Html.ValidationMessageFor(model => model.HolidayReason, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "" })
                            @Html.TextAreaFor(model => model.Remark, 10, 5, new { @class = "form-control", @placeholder = "Enter Package Description", maxlength = "250" })
                        </div>
                    </div>

                    <div class="card-footer text-center">
                        <button class="btn btn-success mr-1" type="submit" id="btnSubmit">Submit</button>
                        <a href="/admin/holiday" class="btn btn-secondary">Cancel</a>
                    </div>

                }

            </div>
        </div>
    </div>

</section>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
 
        $('#btnCancel').click(function () {
            window.location.href = "/admin/holiday";
        });

        $('#btnSubmit').click(function () {
            if ($("#HolidayFormId").valid()) {

                if ($("#StartDate").val() == "") {
                    alert("Please select start date.")
                    return false;
                }

                if ($("#EndDate").val() == "") {
                    alert("Please select end date.")
                    return false;
                }

                var startDate = new Date($("#StartDate").val());
                var endDate = new Date($("#EndDate").val());
                if (startDate > endDate) {
                    alert("Please select valid date range.");
                    return false;
                }
            }
        });
    })
</script>