
@using AttendanceSystem.ViewModel;
@model AttendanceSystem.ViewModel.HolidayFilterVM
@{
    ViewBag.Title = "Holiday";
    int counter = 1;
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-header" style="background-color: #425C59;">
                        <h4 style="color: #FFCEA3;">Holiday List</h4>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" style="display: block;">
                        <div class="card-header-action pull-right">
                            <a href="/admin/holiday/add/0" class="btn btn-icon icon-left btn-primary"><i class="fas fa-plus-circle"></i> Add Holiday</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-header ">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label style="font-size: 1rem">Start Month</label>
                                            @Html.DropDownListFor(model => model.StartMonth, new SelectList(Model.CalenderMonth, "Value", "Text"), "- All -", new { @class = "form-control required", style = "" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label style="font-size: 1rem">End Month</label>
                                            @Html.DropDownListFor(model => model.EndMonth, new SelectList(Model.CalenderMonth, "Value", "Text"), "- All -", new { @class = "form-control required", style = "" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label style="font-size: 1rem">Year</label>
                                            @Html.TextBoxFor(model => model.Year, new { @type = "number", @class = "form-control required", @placeholder = "Year", @max = "9999", @maxLength = 4, @style= "height: calc(2.25rem + 6px)" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="card-header-action"> 
                                            <button class="btn btn-primary mr-1" style="font-size: 1rem" id="btnSearch" type="button">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
                                <thead>
                                    <tr>
                                        <td>#</td>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Holiday Reason</th>
                                        <th>Remark</th>
                                        <th>Active</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.HolidayList.Count > 0)
                                    {
                                        foreach (HolidayVM obj in Model.HolidayList)
                                        {
                                            <tr>
                                                <td>@counter.</td>

                                                <td>@obj.StartDate.ToString("dd MMM yyyy")</td>
                                                <td>@obj.EndDate.ToString("dd MMM yyyy")</td>
                                                <td>@obj.HolidayReason</td>
                                                <td>@obj.Remark</td>
                                                @if (obj.IsActive == true)
                                                {
                                                    <td><span class="badge badge-success" style="cursor:pointer;" title="Click to Inactive" onclick="fnChangeStatus('@obj.HolidayId','InActive');">Active</span></td>
                                                }
                                                else
                                                {
                                                    <td><span class="badge badge-danger" style="cursor:pointer;" title="Click to Active" onclick="fnChangeStatus('@obj.HolidayId','Active');">InActive</span></td>
                                                }
                                                <td>

                                                    <a href="/admin/holiday/add/@obj.HolidayId" title="Edit" class="btn btn-icon btn-warning"><i class="fas fa-edit"></i></a>
                                                    <a href="javascript:void(0);" title="Delete" class="btn btn-icon btn-danger" onclick="fnDeleteHoliday('@obj.HolidayId')"><i class="fas fa-trash-alt"></i></a>

                                                </td>
                                            </tr>

                                            counter++;
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade open" id="deleteHolidayModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Confirm</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete ?
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdnDeleteHoliday" />
                <button data-dismiss="modal" class="btn btn-primary" type="button">Close</button>
                <button id="btnDeleteHoliday" class="btn btn-danger" type="button">Delete</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade open" id="activeinactiveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Status Confirm</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                Are you sure you want to active ?
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdndataId" />
                <input type="hidden" id="hdnstatus" />
                <button data-dismiss="modal" class="btn btn-primary" type="button">Close</button>
                <button id="btnChangeStatus" class="btn btn-danger" type="button">Submit</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $('#btnSearch').click(function () {
            if ($("#StartDate").val() == "" || $("#EndDate").val() == "") {
                alert("Please fill Start Date and End Date");
                return false;
            }

            var startMonth = $("#StartMonth").val();
            var endMonth = $("#EndMonth").val();
            var year = $("#Year").val();
            if (startMonth > endMonth) {
                alert("Please select valid Month.");
                return false;
            }

            StartLoading();
            window.location.href = "/admin/Holiday/Index?startMonth=" + startMonth + "&endMonth=" + endMonth + "&year=" + year;
        });

        $('#btnDeleteHoliday').click(function () {
            var HolidayImage_Id = jQuery("#hdnDeleteHoliday").val();
            if (HolidayImage_Id != "" && HolidayImage_Id != null) {
                $('#deleteHolidayModal').modal('hide');

                StartLoading();

                var URL = '@Url.Action("DeleteHoliday", "Holiday")';
                $.ajax({
                    type: 'POST',
                    async: true,
                    url: URL + "?HolidayId=" + HolidayImage_Id,
                    success: function (result) {
                        if (result == "success") {
                            alert("Holiday deleted successfully");
                            window.location.reload();
                        }
                        else if (result == "notfound") {
                            alert("Holiday Not Found");
                        }
                        else {
                            alert("Something went wrong. Please try again");
                        }

                       StopLoading();
                    },
                    error: function (resultData) {
                       StopLoading();
                    }
                });
            }
        });

        $('#btnChangeStatus').click(function () {

            var Id = jQuery("#hdndataId").val();
            if (Id != "" && Id != null) {
                $('#activeinactiveModal').modal('hide');

                StartLoading();

                var URL = '@Url.Action("ChangeStatus", "Holiday")';
                $.ajax({
                    type: 'POST',
                    async: true,
                    url: URL + "?Id=" + Id+"&Status="+jQuery("#hdnstatus").val(),
                    success: function (result) {
                        if (result == "success") {
                            alert("Status change Successfully...");
                            window.location.reload();
                        }
                        else {
                            alert("Something went wrong. Please try again");
                        }

                       StopLoading();
                    },
                    error: function (resultData) {
                        StopLoading();
                    }
                });
            }
        });


    })

    function fnDeleteHoliday(Holiday_Id) {
        jQuery("#hdnDeleteHoliday").val(Holiday_Id);
        $('#deleteHolidayModal').modal('show');
    }

    function fnChangeStatus(HomeImage_Id, status) {
        jQuery("#hdndataId").val(HomeImage_Id);
        jQuery("#hdnstatus").val(status);
        if (status == "Active") {
            $('#btnChangeStatus').html("Active");
            $('#activeinactiveModal .modal-body').html(" Are you sure you want to make active ?");
        }
        else {
            $('#btnChangeStatus').html("Inactive");
            $('#activeinactiveModal .modal-body').html(" Are you sure you want to make inactive ?");
        }
        $('#activeinactiveModal').modal('show');
    }

</script> 