@using AttendanceSystem.ViewModel;
@model List<AttendanceSystem.ViewModel.MaterialVM>
@{
    ViewBag.Title = "Deleted Material";
    int counter = 1;
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-header" style="background-color: #425C59;">
                        <h4 style="color: #FFCEA3;">Deleted Material List</h4>
                    </div>
                </div>

                <div class="card"> 
                    <div class="card-body"> 
                        <div class="table-responsive">
                            <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
                                <thead>
                                    <tr>
                                        <td>#</td>
                                        <th>Material Category Name</th>
                                        <th>Site Name</th>
                                        <th>Material Date</th>
                                        <th>Qty</th>
                                        <th>In/Out</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.Count > 0)
                                    {
                                        foreach (MaterialVM obj in Model)
                                        {
                                            <tr>
                                                <td>@counter.</td>
                                                <td>@obj.MaterialCategoryText</td>
                                                <td>@obj.SiteName</td>
                                                <td>@obj.MaterialDate</td>
                                                <td>@obj.Qty</td>
                                                <td>@obj.InOutText</td>
                                            </tr>

                                            counter++;
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 