@using AttendanceSystem.Helper
@using AttendanceSystem.ViewModel;
@model AttendanceSystem.ViewModel.MaterialInWardOutWardReportFilterVM
@{
    ViewBag.Title = "Report";
    int counter = 1;

    decimal totalInward = 0;
    decimal totalOutward = 0;
    decimal closing = 0;
    decimal opening = 0;
}


<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header" style="background-color: #425C59;">
                        <h4 style="color: #FFCEA3;">Material Report</h4>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-header ">
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="StartDate">Start Date</label>
                                            @Html.TextBoxFor(model => model.StartDate, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control", @placeholder = "Start Date", style = "height: calc(2.25rem + 6px)" })
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="EndDate">End Date</label>
                                            @Html.TextBoxFor(model => model.EndDate, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control ", @placeholder = "End Date", style = "height: calc(2.25rem + 6px)" })
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="UserRole">Material Category</label>
                                            @Html.DropDownListFor(model => model.MaterialCategoryId, new SelectList(Model.MaterialCategoryList, "Value", "Text"), "- Select -", new { @class = "form-control required", style = "" })
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="UserRole">Site Location</label>
                                            @Html.DropDownListFor(model => model.SiteId, new SelectList(Model.SiteList, "Value", "Text"), "- All -", new { @class = "form-control required", style = "" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card-header-action">
                                            <button class="btn btn-primary mr-1" style="font-size: 1rem" id="btnSearch" type="button">Search</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
                                <thead>
                                    <tr>
                                        <td>#</td>
                                        <th>Site</th>
                                        <th>Date</th>
                                        <th>Opening</th>
                                        <th>Inward</th>
                                        <th>Outward</th>
                                        <th>Closing</th>
                                        <th>Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.MaterialList.Count > 0)
                                    {
                                        opening = Model.MaterialList.Select(x => x.Opening).FirstOrDefault();
                                        foreach (MaterialInWardOutWardReportVM obj in Model.MaterialList)
                                        {
                                            <tr>
                                                <td>@counter.</td>
                                                <td>@obj.SiteName</td>
                                                <td>@obj.MaterialDate.ToString("dd MMM yyyy")</td>
                                                <td>@obj.Opening</td>
                                                <td>@obj.InWard</td>
                                                <td>@obj.OutWard</td>
                                                <td>@obj.Closing</td>
                                                <td>@obj.EmployeeName</td>
                                            </tr>
                                            totalInward = totalInward + obj.InWard;
                                            totalOutward = totalOutward + obj.OutWard;
                                            closing = obj.Closing;
                                            counter++;
                                        }
                                    }

                                </tbody>
                                <thead>
                                    <tr>
                                        <th colspan="3">Total</th>
                                        <th>@opening</th>
                                        <th>@totalInward</th>
                                        <th>@totalOutward</th>
                                        <th>@closing</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $('#btnSearch').click(function () {
            var startDate = $("#StartDate").val();
            var endDate = $("#EndDate").val();
            var materialCategoryId = $("#MaterialCategoryId").val();
            var siteId = $("#SiteId").val();

            if (startDate == "") {
                alert("Please select valid start date");
                return false;
            }

            if (endDate == "") {
                alert("Please select valid end date");
                return false;
            }

            if (materialCategoryId == "") {
                alert("Please select valid material category");
                return false;
            }

            StartLoading();
            window.location.href = "/admin/material/MaterialReport?startDate=" + startDate + "&endDate=" + endDate + "&materialCategoryId=" + materialCategoryId + "&siteId=" + siteId;
        });
    })

</script>