@using AttendanceSystem.Helper;
@model CompanyAdminSettingVM
@{
    ViewBag.Title = "Setting";

    List<SelectListItem> lstCompanyConversionType = new List<SelectListItem>();
    lstCompanyConversionType.Add(new SelectListItem { Value = Convert.ToString((int)CompanyConversionType.MonthBased), Text = "Month Based" });
    lstCompanyConversionType.Add(new SelectListItem { Value = Convert.ToString((int)CompanyConversionType.DayBased), Text = "Day Based" });
}

<section class="section">

    <div class="row">
        <div class="col-12">
            @using (Html.BeginForm("EditCompanyAdminSetting", "Setting", FormMethod.Post, new { @id = "SettingFormId", @class = "", enctype = "multipart/form-data", role = "form" }))
            {
                <div class="card">
                    <div class="card-header" style="background-color: #425C59;">
                        <h4 style="color: #FFCEA3;">Edit General Setting</h4>
                    </div>
                </div>

                <div class="card card-primary">
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-4">
                                @Html.LabelFor(model => model.NoOfLunchBreakAllowed)
                                @Html.EditorFor(model => model.NoOfLunchBreakAllowed, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter No Of Lunch Break Allowed", maxlength = "10" } })
                                @Html.ValidationMessageFor(model => model.NoOfLunchBreakAllowed, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-4">
                                @Html.LabelFor(model => model.OfficeLocationAccessPassword)
                                @Html.EditorFor(model => model.OfficeLocationAccessPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Office Location Access Password", maxlength = "200" } })
                                @Html.ValidationMessageFor(model => model.OfficeLocationAccessPassword, "", new { @class = "text-danger" })
                            </div>

                            @if (clsAdminSession.CompanyTypeId == (int)CompanyType.ConstructionCompany)
                            {
                                <div class="form-group col-4">
                                    @Html.LabelFor(model => model.SiteLocationAccessPassword)
                                    @Html.EditorFor(model => model.SiteLocationAccessPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Site Location Access Password", maxlength = "200" } })
                                    @Html.ValidationMessageFor(model => model.SiteLocationAccessPassword, "", new { @class = "text-danger" })
                                </div>
                            }

                        </div>

                        <div class="row">
                            <div class="form-group col-4">
                                @Html.LabelFor(model => model.CompanyConversionType)
                                @Html.DropDownListFor(model => model.CompanyConversionType, new SelectList(lstCompanyConversionType, "Value", "Text"), new { @class = "form-control required" })
                                @Html.ValidationMessageFor(model => model.CompanyConversionType, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card">
                    <div class="card-footer text-center">
                        <button class="btn btn-success mr-1" type="submit">Submit</button>
                        <a href="/admin/setting" class="btn btn-secondary">Cancel</a>
                    </div>
                </div>
            }
        </div>
    </div>

</section>

