@using AttendanceSystem.Helper;
@model AttendanceSystem.ViewModel.AddWorkerAttendanceVM
@{

}

<section class="section">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header" style="background-color: #425C59; display: block;">
                    <div class="pull-left">
                        <h4 style="color: #FFCEA3;">Add Worker Attendance</h4>
                    </div>
                    <div class="pull-right">
                        <a href="/admin/workerattendance" class="btn btn-warning pull-right"><i class="fas fa-backward"></i> Back</a>
                    </div>
                </div>
            </div>
            <div class="card card-primary">

                @using (Html.BeginForm("Add", "WorkerAttendance", FormMethod.Post, new { @id = "WorkerAttendanceFormId", @class = "", enctype = "multipart/form-data", role = "form" }))
                {
                    @Html.ValidationSummary()
                    <div class="card-body">
                        <div class="row">

                            <div class="form-group col-6">
                                @Html.HiddenFor(model => model.AttendanceId)
                                @Html.HiddenFor(model => model.SiteId)

                                @Html.HiddenFor(model => model.ExtraPerHourPrice)
                                @Html.HiddenFor(model => model.EmploymentCategoryId)
                                @Html.HiddenFor(model => model.AttendanceDate)
                                @Html.HiddenFor(model => model.IsMorning)
                                @Html.HiddenFor(model => model.IsAfternoon)
                                @Html.HiddenFor(model => model.IsEvening)

                                @Html.HiddenFor(model => model.PerCategoryPrice)
                                @Html.LabelFor(model => model.SiteName, htmlAttributes: new { @class = "" })
                                @Model.SiteName
                            </div>
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.AttendanceDate, htmlAttributes: new { @class = "" })
                                @Model.AttendanceDate.ToString("dd MMM yyyy")

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                @Html.HiddenFor(model => model.EmployeeId)
                                @Html.LabelFor(model => model.EmployeeCode, htmlAttributes: new { @class = "" })
                                @Model.EmployeeCode
                            </div>
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.EmployeeName, htmlAttributes: new { @class = "" })
                                @Model.EmployeeName
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.EmploymentCategoryText, htmlAttributes: new { @class = "" })
                                @Model.EmploymentCategoryText

                            </div>
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.PerCategoryPrice, htmlAttributes: new { @class = "clsPerCategoryPrice" })
                                @Model.PerCategoryPrice
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6" id="dvExtraPerHourPrice">
                                @Html.LabelFor(model => model.ExtraPerHourPrice, htmlAttributes: new { @class = "" })
                                @Model.ExtraPerHourPrice

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.IsMorning, htmlAttributes: new { @class = "" })
                                @Model.IsMorningText
                            </div>
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.IsAfternoon, htmlAttributes: new { @class = "" })
                                @Model.IsAfternoonText
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.IsEvening, htmlAttributes: new { @class = "" })
                                @Model.IsEveningText
                            </div>
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.PendingSalary, htmlAttributes: new { @class = "" })
                                @Model.PendingSalary
                                @Html.HiddenFor(model => model.PendingSalary)
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.AttendanceType, htmlAttributes: new { @class = "" })
                                @Html.DropDownListFor(model => model.AttendanceType, new SelectList(Model.WorkerAttendanceTypeList, "Value", "Text"), "- Select -", new { @class = "form-control required" })
                                @Html.ValidationMessageFor(model => model.AttendanceType, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row" id="dvExtraHours">
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.ExtraHours, htmlAttributes: new { @class = "" })
                                @Html.TextBoxFor(model => model.ExtraHours, new { @type = "number", @class = "form-control ", @placeholder = "Enter Extra Hours", @maxlength = "10", @min = "0" })
                                @Html.ValidationMessageFor(model => model.ExtraHours, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.ExtraHoursAmount, htmlAttributes: new { @class = "" })
                                @Html.TextBoxFor(model => model.ExtraHoursAmount, new { @type = "number", @class = "form-control", @readonly = true, @placeholder = "Total Extra Amount", @maxlength = "10", @min = "0" })
                                @Html.HiddenFor(model => model.ExtraHoursAmount)
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6" id="dvTodaySalary">
                                @Html.LabelFor(model => model.TodaySalary, htmlAttributes: new { @class = "" })
                                @Html.TextBoxFor(model => model.TodaySalary, new { @type = "number", @class = "form-control ", @readonly = true, @placeholder = "Today Salary", @maxlength = "10", @min = "0" })
                                @Html.HiddenFor(model => model.TodaySalary)
                            </div>
                        </div>
                        <div class="row" id="dvNoOfHoursWorked">
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.NoOfHoursWorked, htmlAttributes: new { @class = "" })
                                @Html.TextBoxFor(model => model.NoOfHoursWorked, new { @type = "number", @class = "form-control ", @placeholder = "Enter No Of Hours Worked", @maxlength = "10", @min = "1" })
                                @Html.ValidationMessageFor(model => model.NoOfHoursWorked, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.NoOfHoursWorkedAmount, htmlAttributes: new { @class = "" })
                                @Html.TextBoxFor(model => model.NoOfHoursWorkedAmount, new { @type = "number", @class = "form-control", @readonly = true, @placeholder = "Total Amount", @maxlength = "10", @min = "0" })
                            </div>
                        </div>
                        <div class="row" id="dvNoOfUnitWorked">

                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.NoOfUnitWorked, htmlAttributes: new { @class = "" })
                                @Html.TextBoxFor(model => model.NoOfUnitWorked, new { @type = "number", @class = "form-control required", @placeholder = "Enter No Of Unit Worked", @maxlength = "10", @min = "1" })
                                @Html.ValidationMessageFor(model => model.NoOfUnitWorked, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.NoOfUnitWorkedAmount, htmlAttributes: new { @class = "" })
                                @Html.TextBoxFor(model => model.NoOfUnitWorkedAmount, new { @type = "number", @class = "form-control", @readonly = true, @placeholder = "Total Amount", @maxlength = "10", @min = "0" })
                            </div>
                        </div>
                    </div>

                    <div class="card-footer text-center">
                        <button class="btn btn-success mr-1" type="submit" id="btnSubmit">Submit</button>
                        <a href="/admin/workerattendance/assignedworkerlist" class="btn btn-secondary">Cancel</a>
                    </div>

                }

            </div>
        </div>
    </div>

</section>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#dvNoOfUnitWorked").hide();
        $("#dvNoOfHoursWorked").hide();
        $("#dvTodaySalary").hide();
        $("#dvExtraHours").hide();

        var EmploymentCategory = $("#EmploymentCategoryId").val();
        if (EmploymentCategory == "1") {
            $("#dvExtraPerHourPrice").show();
            $(".clsPerCategoryPrice").html("Per Day Price")
        }
        else if (EmploymentCategory == "2") {
            $("#dvExtraPerHourPrice").hide();
            $(".clsPerCategoryPrice").html("Per Hour Price")
        }
        else if (EmploymentCategory == "3") {
            $("#dvExtraPerHourPrice").show();
            $(".clsPerCategoryPrice").html("Per Month Price")
        }
        else if (EmploymentCategory == "4") {
            $("#dvExtraPerHourPrice").hide();
            $(".clsPerCategoryPrice").html("Per Unit Price")
        }

        $('#btnCancel').click(function () {
            window.location.href = "/admin/workerattendance/assignedworkerlist";
        });

        $('#AttendanceType').change(function () {
            var attendanceType = $('#AttendanceType').val();
            if (attendanceType == "3") {
                var employmentCategory = $('#EmploymentCategoryId').val();
                if (employmentCategory == "1") {
                    $("#dvTodaySalary").show();
                    $("#dvExtraHours").show();
                    $("#dvNoOfUnitWorked").hide();
                    $("#dvNoOfHoursWorked").hide();
                    $("#NoOfHoursWorked").removeAttr("min");
                    $("#NoOfUnitWorked").removeAttr("min");
                    calulateTodaySalaryForDaily();
                }
                else if (employmentCategory == "2") {
                    $("#dvTodaySalary").hide();
                    $("#dvExtraHours").hide();
                    $("#dvNoOfUnitWorked").hide();
                    $("#dvNoOfHoursWorked").show();
                    $("#NoOfHoursWorked").attr("min", 1);
                    $("#NoOfUnitWorked").removeAttr("min");
                }
                else if (employmentCategory == "3") {
                    $("#dvTodaySalary").hide();
                    $("#dvExtraHours").show();
                    $("#dvNoOfUnitWorked").hide();
                    $("#dvNoOfHoursWorked").hide();
                    $("#NoOfHoursWorked").removeAttr("min");
                    $("#NoOfUnitWorked").removeAttr("min");
                }
                else if (employmentCategory == "4") {
                    $("#dvTodaySalary").hide();
                    $("#dvExtraHours").hide();
                    $("#dvNoOfUnitWorked").show();
                    $("#dvNoOfHoursWorked").hide();
                    $("#NoOfUnitWorked").attr("min", 1);
                    $("#NoOfHoursWorked").removeAttr("min");
                }
            } else {
                $("#dvNoOfUnitWorked").hide();
                $("#dvNoOfHoursWorked").hide();
                $("#dvTodaySalary").hide();
                $("#dvExtraHours").hide();
            }
        });

        $('#ExtraHours').change(function () {
            var extraHours = $('#ExtraHours').val();
            var extraPerHourPrice = $("#ExtraPerHourPrice").val();
            var totalExtraAmount = parseFloat(extraHours) * parseFloat(extraPerHourPrice);
            $("#ExtraHoursAmount").val(totalExtraAmount.toFixed(2));
            calulateTodaySalaryForDaily();
        });

        $('#NoOfHoursWorked').change(function () {
            var noOfHoursWorked = $('#NoOfHoursWorked').val();
            var perCategoryPrice = $("#PerCategoryPrice").val();
            var noOfHoursWorkedAmount = parseFloat(noOfHoursWorked) * parseFloat(perCategoryPrice);
            $("#NoOfHoursWorkedAmount").val(noOfHoursWorkedAmount.toFixed(2));
        });

        $('#NoOfUnitWorked').change(function () {
            var noOfUnitWorked = $('#NoOfUnitWorked').val();
            var perCategoryPrice = $("#PerCategoryPrice").val();
            var noOfUnitWorkedAmount = parseFloat(noOfUnitWorked) * parseFloat(perCategoryPrice);
            $("#NoOfUnitWorkedAmount").val(noOfUnitWorkedAmount.toFixed(2));
        });
    })

    function calulateTodaySalaryForDaily() {
        var extraHoursAmount = $("#ExtraHoursAmount").val();
        var perCategoryPrice = $("#PerCategoryPrice").val();
        var isMorning = $("#IsMorning").val();
        var isAfternoon = $("#IsAfternoon").val();

        if (isMorning == "False" && isAfternoon == "True") {
            perCategoryPrice = parseFloat(perCategoryPrice) / 2;
        }
        var todaySalary = parseFloat(perCategoryPrice) + parseFloat(extraHoursAmount);
        $("#TodaySalary").val(todaySalary.toFixed(2));
    }
</script>