@model AttendanceSystem.ViewModel.AddWorkerAttendanceVM
@{
    ViewBag.Title = "WorkerAttendance";
}

<section class="section">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header" style="background-color: #425C59; display: block;">
                    <div class="pull-left">
                        <h4 style="color: #FFCEA3;">Add Worker Attendance</h4>
                    </div>
                    <div class="pull-right">
                        <a href="/admin/workerattendance" class="btn btn-warning pull-right"><i class="fas fa-backward"></i> Back</a>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm("Add", "WorkerAttendance", FormMethod.Post, new { @id = "WorkerAttendanceFormId", @class = "", enctype = "multipart/form-data", role = "form" }))
            {
                <div class="card card-primary">


                    @Html.ValidationSummary()
                    <div class="card-body">
                        <div class="row">

                            <div class="form-group col-6">
                                @Html.HiddenFor(model => model.AttendanceId)
                                @Html.HiddenFor(model => model.SiteId)

                                @Html.HiddenFor(model => model.ExtraPerHourPrice)
                                @Html.HiddenFor(model => model.EmploymentCategoryId)
                                @Html.HiddenFor(model => model.AttendanceDate)
                                @Html.HiddenFor(model => model.IsMorning)
                                @Html.HiddenFor(model => model.IsAfternoon)
                                @Html.HiddenFor(model => model.IsEvening)

                                @Html.HiddenFor(model => model.MonthlySalary)
                                @Html.HiddenFor(model => model.PerCategoryPrice)
                                @Html.HiddenFor(model => model.AttendanceDate)
                                @Html.LabelFor(model => model.SiteName)
                                <p>@Model.SiteName</p>
                            </div>
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.AttendanceDate)
                                <p>@Model.AttendanceDate.ToString("dd MMM yyyy")</p>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                @Html.HiddenFor(model => model.EmployeeId)
                                @Html.LabelFor(model => model.EmployeeCode)
                                <p>@Model.EmployeeCode</p>
                            </div>
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.EmployeeName)
                                <p>@Model.EmployeeName</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.EmploymentCategoryText)
                                <p>@Model.EmploymentCategoryText</p>
                            </div>
                            <div class="form-group col-6" id="dvPerCategoryprice">
                                @Html.LabelFor(model => model.PerCategoryPrice, htmlAttributes: new { @class = "clsPerCategoryPrice" })
                                <p>@Model.PerCategoryPrice.ToString("#.##")</p>
                            </div>
                            <div class="form-group col-6" id="dvMonthlySalary">
                                @Html.LabelFor(model => model.MonthlySalary, htmlAttributes: new { @class = "clsPerCategoryPrice" })
                                <p>@Model.MonthlySalary</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6" id="dvExtraPerHourPrice">
                                @Html.LabelFor(model => model.ExtraPerHourPrice)
                                <p>@Model.ExtraPerHourPrice</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.IsMorning)
                                <p>@Model.IsMorningText</p>
                            </div>
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.IsAfternoon)
                                <p>@Model.IsAfternoonText</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.IsEvening)
                                <p>@Model.IsEveningText</p>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-3">
                                @Html.LabelFor(model => model.AttendanceType)
                                @Html.DropDownListFor(model => model.AttendanceType, new SelectList(Model.WorkerAttendanceTypeList, "Value", "Text"), "- Select -", new { @class = "form-control required" })
                                @Html.ValidationMessageFor(model => model.AttendanceType, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div id="dvEveningRow">
                            <div class="row">
                                <div class="form-group col-6">
                                    @Html.LabelFor(model => model.PendingSalary)
                                    @Html.TextBoxFor(model => model.PendingSalary, new { @type = "number", @class = "form-control ", @readonly = true, @placeholder = "Pending Salary" })
                                    @Html.HiddenFor(model => model.PendingSalary)
                                </div>
                            </div>

                            <div class="row" id="dvExtraHours">
                                <div class="form-group col-6">
                                    @Html.LabelFor(model => model.ExtraHours)
                                    @Html.TextBoxFor(model => model.ExtraHours, new { @type = "number", @class = "form-control ", @placeholder = "Enter Extra Hours", @maxlength = "10", @min = "0" })
                                    @Html.ValidationMessageFor(model => model.ExtraHours, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-6">
                                    @Html.LabelFor(model => model.ExtraHoursAmount)
                                    @Html.TextBoxFor(model => model.ExtraHoursAmount, new { @type = "number", @class = "form-control", @readonly = true, @placeholder = "Total Extra Amount", @maxlength = "10", @min = "0" })
                                    @Html.HiddenFor(model => model.ExtraHoursAmount)
                                </div>
                            </div>

                            <div class="row" id="dvNoOfHoursWorked">
                                <div class="form-group col-6">
                                    @Html.LabelFor(model => model.NoOfHoursWorked)
                                    @Html.TextBoxFor(model => model.NoOfHoursWorked, new { @type = "number", @class = "form-control ", @placeholder = "Enter No Of Hours Worked", @maxlength = "10", @min = "1" })
                                    @Html.ValidationMessageFor(model => model.NoOfHoursWorked, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-6">
                                    @Html.LabelFor(model => model.NoOfHoursWorkedAmount)
                                    @Html.TextBoxFor(model => model.NoOfHoursWorkedAmount, new { @type = "number", @class = "form-control", @readonly = true, @placeholder = "Total Amount", @maxlength = "10", @min = "0" })
                                </div>
                            </div>
                            <div class="row" id="dvNoOfUnitWorked">

                                <div class="form-group col-6">
                                    @Html.LabelFor(model => model.NoOfUnitWorked)
                                    @Html.TextBoxFor(model => model.NoOfUnitWorked, new { @type = "number", @class = "form-control required", @placeholder = "Enter No Of Unit Worked", @maxlength = "10", @min = "1" })
                                    @Html.ValidationMessageFor(model => model.NoOfUnitWorked, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-6">
                                    @Html.LabelFor(model => model.NoOfUnitWorkedAmount)
                                    @Html.TextBoxFor(model => model.NoOfUnitWorkedAmount, new { @type = "number", @class = "form-control", @readonly = true, @placeholder = "Total Amount", @maxlength = "10", @min = "0" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-6" id="dvTodaySalary">
                                    @Html.LabelFor(model => model.TodaySalary)
                                    @Html.TextBoxFor(model => model.TodaySalary, new { @type = "number", @class = "form-control ", @readonly = true, @placeholder = "Today Salary", @maxlength = "10", @min = "0" })
                                    @Html.HiddenFor(model => model.TodaySalary)
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    @Html.LabelFor(model => model.TotalPendingSalary)
                                    @Html.TextBoxFor(model => model.TotalPendingSalary, new { @type = "number", @class = "form-control", @readonly = true, @placeholder = "Total Pending Salary" })
                                    @Html.HiddenFor(model => model.TotalPendingSalary)
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    @Html.LabelFor(model => model.SalaryGiven)
                                    @Html.TextBoxFor(model => model.SalaryGiven, new { @type = "number", @class = "form-control", @placeholder = "Salary Given", @maxlength = "10", @min = "0" })
                                    @Html.HiddenFor(model => model.SalaryGiven)
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    @Html.LabelFor(model => model.RemainingBalance)
                                    @Html.TextBoxFor(model => model.RemainingBalance, new { @type = "number", @class = "form-control", @readonly = true, @placeholder = "Remaining Balance" })
                                    @Html.HiddenFor(model => model.RemainingBalance)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <button class="btn btn-success mr-1" type="submit" id="btnSubmit">Submit</button>
                        <a href="/admin/workerattendance/assignedworkerlist" class="btn btn-secondary">Cancel</a>
                    </div>
                </div>
            }
        </div>
    </div>

</section>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#dvNoOfUnitWorked").hide();
        $("#dvNoOfHoursWorked").hide();
        $("#dvEveningRow").hide();
        $("#dvExtraHours").hide();

        var EmploymentCategory = $("#EmploymentCategoryId").val();
        if (EmploymentCategory == "1") {
            $("#dvExtraPerHourPrice").show();
            $(".clsPerCategoryPrice").html("Per Day Salary")
            $("#dvPerCategoryprice").show();
            $("#dvMonthlySalary").hide();
        }
        else if (EmploymentCategory == "2") {
            $("#dvExtraPerHourPrice").hide();
            $(".clsPerCategoryPrice").html("Per Hour Price")
            $("#dvPerCategoryprice").show();
            $("#dvMonthlySalary").hide();
        }
        else if (EmploymentCategory == "3") {
            $("#dvExtraPerHourPrice").show();
            $(".clsPerCategoryPrice").html("Per Month Price")
            $("#dvPerCategoryprice").hide();
            $("#dvMonthlySalary").show();
        }
        else if (EmploymentCategory == "4") {
            $("#dvExtraPerHourPrice").hide();
            $(".clsPerCategoryPrice").html("Per Unit Price")
            $("#dvPerCategoryprice").show();
            $("#dvMonthlySalary").hide();
        }

        $('#btnCancel').click(function () {
            window.location.href = "/admin/workerattendance/assignedworkerlist";
        });

        $('#AttendanceType').change(function () {
            var attendanceType = $('#AttendanceType').val();
            if (attendanceType == "3") {
                $("#dvEveningRow").show();
                var employmentCategory = $('#EmploymentCategoryId').val();
                if (employmentCategory == "1") {
                    //$("#dvTodaySalary").show();
                    $("#dvExtraHours").show();
                    $("#dvNoOfUnitWorked").hide();
                    $("#dvNoOfHoursWorked").hide();
                    $("#NoOfHoursWorked").removeAttr("min");
                    $("#NoOfUnitWorked").removeAttr("min");
                    //calulateTodaySalaryForDaily();
                }
                else if (employmentCategory == "2") {
                    //$("#dvTodaySalary").hide();
                    $("#dvExtraHours").hide();
                    $("#dvNoOfUnitWorked").hide();
                    $("#dvNoOfHoursWorked").show();
                    $("#NoOfHoursWorked").attr("min", 1);
                    $("#NoOfUnitWorked").removeAttr("min");
                }
                else if (employmentCategory == "3") {
                    //$("#dvTodaySalary").hide();
                    $("#dvExtraHours").show();
                    $("#dvNoOfUnitWorked").hide();
                    $("#dvNoOfHoursWorked").hide();
                    $("#NoOfHoursWorked").removeAttr("min");
                    $("#NoOfUnitWorked").removeAttr("min");
                }
                else if (employmentCategory == "4") {
                    //$("#dvTodaySalary").hide();
                    $("#dvExtraHours").hide();
                    $("#dvNoOfUnitWorked").show();
                    $("#dvNoOfHoursWorked").hide();
                    $("#NoOfUnitWorked").attr("min", 1);
                    $("#NoOfHoursWorked").removeAttr("min");
                }
                calulateTodaySalary();
            } else {
                $("#dvNoOfUnitWorked").hide();
                $("#dvNoOfHoursWorked").hide();
                // $("#dvTodaySalary").hide();
                $("#dvExtraHours").hide();
                $("#dvEveningRow").hide();
            }


        });

        $('#ExtraHours').change(function () {
            var extraHours = $('#ExtraHours').val();
            var extraPerHourPrice = $("#ExtraPerHourPrice").val();
             
            //var totalExtraAmount = parseFloat(extraHours) * parseFloat(extraPerHourPrice);
            var totalExtraAmount = getHourBasedAmount(parseFloat(extraHours), parseFloat(extraPerHourPrice));

            $("#ExtraHoursAmount").val(parseFloat(totalExtraAmount).toFixed(2));
            calulateTodaySalary();
        });

        $('#NoOfHoursWorked').change(function () {
            var noOfHoursWorked = $('#NoOfHoursWorked').val();
            var perCategoryPrice = $("#PerCategoryPrice").val();

            //var noOfHoursWorkedAmount = parseFloat(noOfHoursWorked) * parseFloat(perCategoryPrice); 
            var noOfHoursWorkedAmount = getHourBasedAmount(parseFloat(noOfHoursWorked), parseFloat(perCategoryPrice));

            $("#NoOfHoursWorkedAmount").val(parseFloat(noOfHoursWorkedAmount).toFixed(2));
            calulateTodaySalary();
        });

        $('#NoOfUnitWorked').change(function () {
            var noOfUnitWorked = $('#NoOfUnitWorked').val();
            var perCategoryPrice = $("#PerCategoryPrice").val(); 
            var noOfUnitWorkedAmount = parseFloat(noOfUnitWorked) * parseFloat(perCategoryPrice);
            $("#NoOfUnitWorkedAmount").val(noOfUnitWorkedAmount.toFixed(2));
            calulateTodaySalary();
        });

        function getHourBasedAmount(noOfHours, perPrice) { 
            var totalPrice = 0;
            var ArrnoOfHours = noOfHours.toString().split(".");

            if (ArrnoOfHours != null && ArrnoOfHours.length > 0) {
                if (ArrnoOfHours.length == 1) {
                    totalPrice = perPrice * noOfHours;
                }
                else {
                    var decimalValue = parseFloat(ArrnoOfHours[0]);
                    var strfractionValue = parseFloat(ArrnoOfHours[1]);
                    var fractionValue = parseFloat("0." + strfractionValue);

                    var hourPrice = (decimalValue * perPrice);
                    var minPrice = (fractionValue * 100) * (perPrice / 60);

                    totalPrice = hourPrice + minPrice;
                }
            }
            return totalPrice.toFixed(2);
        }

        $('#SalaryGiven').change(function () {
            var totalPendingSalary = $("#TotalPendingSalary").val();
            var salaryGiven = $('#SalaryGiven').val();
            var remainingBalance = parseFloat(totalPendingSalary) - parseFloat(salaryGiven);
            $("#RemainingBalance").val(remainingBalance.toFixed(2));
        });

    })

    function calulateTodaySalary() {
        var employmentCategory = $('#EmploymentCategoryId').val();
        var pendingSalary = $('#PendingSalary').val();

        if (employmentCategory == "1" || employmentCategory == "3") {
            var extraHoursAmount = $("#ExtraHoursAmount").val();
            var perCategoryPrice = $("#PerCategoryPrice").val();
            var isMorning = $("#IsMorning").val();
            var isAfternoon = $("#IsAfternoon").val();

            if (isMorning == "False" && isAfternoon == "True") {
                perCategoryPrice = parseFloat(perCategoryPrice) / 2;
            }

            var todaySalary = parseFloat(perCategoryPrice);
            $("#TodaySalary").val(todaySalary.toFixed(2));
            var totalPendingSalary = parseFloat(pendingSalary) + parseFloat(todaySalary) + parseFloat(extraHoursAmount);
            $("#TotalPendingSalary").val(totalPendingSalary.toFixed(2));
            var salaryGiven = $('#SalaryGiven').val();
            var remainingBalance = parseFloat(totalPendingSalary) - parseFloat(salaryGiven);
            $("#RemainingBalance").val(remainingBalance.toFixed(2));
        } else if (employmentCategory == "2") {
            var todaySalary = parseFloat($("#NoOfHoursWorkedAmount").val());
            $("#TodaySalary").val(todaySalary);
            var totalPendingSalary = parseFloat(pendingSalary) + parseFloat(todaySalary);
            $("#TotalPendingSalary").val(totalPendingSalary.toFixed(2));
            var salaryGiven = $('#SalaryGiven').val();
            var remainingBalance = parseFloat(totalPendingSalary) - parseFloat(salaryGiven);
            $("#RemainingBalance").val(remainingBalance.toFixed(2));
        } else if (employmentCategory == "4") {
            var todaySalary = parseFloat($("#NoOfUnitWorkedAmount").val());
            $("#TodaySalary").val(todaySalary);
            var totalPendingSalary = parseFloat(pendingSalary) + parseFloat(todaySalary);
            $("#TotalPendingSalary").val(totalPendingSalary.toFixed(2));
            var salaryGiven = $('#SalaryGiven').val();
            var remainingBalance = parseFloat(totalPendingSalary) - parseFloat(salaryGiven);
            $("#RemainingBalance").val(remainingBalance.toFixed(2));
        }


    }
</script>