@using AttendanceSystem.ViewModel;
@model AttendanceSystem.ViewModel.AssignedWorkerFilterVM
@{
    ViewBag.Title = "WorkerAttendance";
    int counter = 1;
    DateTime today = CommonMethod.CurrentIndianDateTime().Date;
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header" style="background-color: #425C59;">
                        <h4 style="color: #FFCEA3;">Assigned Worker List</h4>
                    </div>
                </div>
                <div class="card">

                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Date</label>
                                    @Html.TextBoxFor(model => model.Date, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control", @placeholder = "Date" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Site Location</label>
                                    @Html.DropDownListFor(model => model.SiteId, new SelectList(Model.SiteList, "Value", "Text"), "- Select -", new { @class = "form-control col-md-8", style = "" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Worker</label>
                                    @Html.DropDownListFor(model => model.EmployeeId, new SelectList(Model.EmployeeList, "Value", "Text"), "- All -", new { @class = "form-control col-md-8", style = "" })

                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label style="padding-top:45px"></label>
                                    <button class="btn btn-primary mr-1" id="btnSearch" type="button">Search</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Attendance</label>
                                    @Html.DropDownListFor(model => model.AttendanceType, new SelectList(Model.AttendanceTypeList, "Value", "Text"), "- Select -", new { @class = "form-control col-md-8", style = "" })

                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label style="padding-top:45px"></label>
                                    <button class="btn btn-primary mr-1" id="btnAddAttendance" type="button">Add Attendance</button>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover" id="" style="width:100%;">
                                <thead>
                                    <tr>
                                        <td>#</td>
                                        <td>Select <br /><input type="checkbox" class="chkBox" id='chkAll' name="Select"></td>
                                        <th>Date</th>
                                        <th>Site Location</th>
                                        <th>Worker Name</th>
                                        <th>Worker Code</th>
                                        <th>Worker Type</th>
                                        <th>Category</th>
                                        <th>Morning</th>
                                        <th>Afternoon</th>
                                        <th>Evening</th>
                                        <th>Add Attendance</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.AssignedWorkerList.Count > 0)
                                    {
                                        foreach (AssignedWorkerVM obj in Model.AssignedWorkerList)
                                        {
                                            <tr>
                                                <td>
                                                    @counter.
                                                    @Html.HiddenFor(x => obj.EmployeeId, new { id = "EmployeeId_" + counter })
                                                    @Html.HiddenFor(x => obj.EmploymentCategory, new { id = "EmploymentCategory_" + counter })
                                                    @Html.HiddenFor(x => obj.WorkerAttendanceId, new { id = "WorkerAttendanceId_" + counter })
                                                </td>
                                                <td>
                                                    @if (obj.Date.Date == today && !obj.IsClosed)
                                                    {
                                                        <input type="checkbox" class="chkBox" id='chk_@counter' name="Select">
                                                    }
                                                </td>
                                                <td>@obj.Date.ToString("dd MMM yyyy")</td>
                                                <td>@obj.SiteName</td>
                                                <td>@obj.EmployeeName</td>
                                                <td>@obj.EmployeeCode</td>
                                                <td>@obj.WorkerTypeName</td>
                                                <td>@obj.EmploymentCategoryText</td>
                                                <td>
                                                    @obj.IsMorningText
                                                    @Html.HiddenFor(x => obj.IsMorning, new { id = "IsMorning_" + counter })
                                                </td>
                                                <td>
                                                    @obj.IsAfternoonText
                                                    @Html.HiddenFor(x => obj.IsAfternoon, new { id = "IsAfternoon_" + counter })
                                                </td>
                                                <td>
                                                    @obj.IsEveningText
                                                    @Html.HiddenFor(x => obj.IsEvening, new { id = "IsEvening_" + counter })
                                                </td>
                                                <td>
                                                    @if (!obj.IsClosed)
                                                    {
                                                        <a href="/admin/workerattendance/add?siteId=@obj.SiteId&employeeId=@obj.EmployeeId&workerAttendanceId=@obj.WorkerAttendanceId" title="View" class="btn btn-icon btn-success"><i class="fas fa-eye"></i></a>
                                                    }
                                                </td>
                                            </tr>

                                            counter++;
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $('#tableExport1').DataTable({
            dom: 'Bfrtip',
            "columnDefs": [
                { "sortable": false, "targets": [0] }
            ],
            buttons: [
                'excel' //'copy', 'csv', , 'pdf', 'print'
            ]
        });

        $('#btnSearch').click(function () {
            if ($("#Date").val() == "") {
                alert("Please fill Date");
                return false;
            }

            if ($("#SiteId").val() == "" || $("#SiteId").val() == "0") {
                alert("Please select site");
                return false;
            }

            var date = $("#Date").val();
            var siteId = $("#SiteId").val();
            var employeeId = $("#EmployeeId").val();

            StartLoading();
            window.location.href = "/admin/workerattendance/assignedworkerlist?siteId=" + siteId + "&date=" + date + "&employeeId=" + employeeId;
        });

        $('#btnAddAttendance').click(function () {
            var employeeIds = [];
            var count = 0;
            var attendanceType = $('#AttendanceType').val();
            var siteId = $('#SiteId').val();
            if (attendanceType == "" || attendanceType == "0") {
                alert("Please select valid attendance type.");
                return false;
            }

            $(".chkBox").each(function () {
                if ($(this).prop("checked")) {
                    var id = $(this).attr("Id");
                    var employeeid = id.replace("chk", "EmployeeId");

                    employeeIds.push($("#" + employeeid).val());
                    count = parseFloat(count) + 1;
                }
            });

            if (count == 0) {
                alert("Please select alteast one employee to add attendance");
                return false;
            }

            StartLoading();

                var URL = '@Url.Action("AddAttendance", "WorkerAttendance")';
                $.ajax({
                    type: 'POST',
                    async: true,
                    url: URL + "?siteId=" + siteId + "&attendanceType=" + attendanceType + "&ids=" + employeeIds,
                    success: function (result) {
                        if (result == "success") {
                            alert("Attendance Added Successfully...");
                            window.location.reload();
                        }
                        else {
                            alert("Something went wrong. Please try again");
                        }

                       StopLoading();
                    },
                    error: function (result) {
                        StopLoading();
                    }
                });
        });


        $('#AttendanceType').change(function () {

            var AttendanceType = $(this).val();

            $(".chkBox").each(function () {
                var id = $(this).attr("Id");
                var isMorningId = id.replace("chk", "IsMorning");
                var isAfternoon = id.replace("chk", "IsAfternoon");
                var isEveningId = id.replace("chk", "IsEvening");
                var employmentCategoryId = id.replace("chk", "EmploymentCategory");

                var morningVal = $("#" + isMorningId).val()
                var afternoonVal = $("#" + isAfternoon).val()
                var eveningIdVal = $("#" + isEveningId).val()
                var employmentCategoryVal = $("#" + employmentCategoryId).val()

                if (AttendanceType == "1" && morningVal == "True") {
                    $("#" + id).attr("disabled", true);
                    $("#" + id).prop("checked", false);
                }
                else if (AttendanceType == "1" && morningVal == "False" && afternoonVal == "True") {
                    $("#" + id).attr("disabled", true);
                    $("#" + id).prop("checked", false);
                }
                else if (AttendanceType == "2" && afternoonVal == "True") {
                    $("#" + id).attr("disabled", true);
                    $("#" + id).prop("checked", false);
                }
                else if (AttendanceType == "3" && eveningIdVal == "True") {
                    $("#" + id).attr("disabled", true);
                    $("#" + id).prop("checked", false);
                }
                else if (AttendanceType == "3" && morningVal == "False" && afternoonVal == "False") {
                    $("#" + id).attr("disabled", true);
                    $("#" + id).prop("checked", false);
                }
                else if (AttendanceType == "3" && morningVal == "True" && afternoonVal == "False") {
                    $("#" + id).attr("disabled", true);
                    $("#" + id).prop("checked", false);
                }
                else if (AttendanceType == "3" && (employmentCategoryVal == "2" || employmentCategoryVal == "4")) {
                    $("#" + id).attr("disabled", true);
                    $("#" + id).prop("checked", false);
                }
                else {
                    $("#" + id).removeAttr("disabled");
                }
            });
        });

        $('#chkAll').click(function () {
            var checked = $(this).prop("checked");
            $(".chkBox").each(function () {
                if (!$(this).hasAttr("disabled")) {
                    $(this).prop("checked", checked);
                }

            });
        });

        $.fn.hasAttr = function (name) {
            return this.attr(name) !== undefined;
        };

    });


</script> 