@using AttendanceSystem.Helper;
@model AttendanceSystem.ViewModel.WorkerAttendanceViewVM
@{

    ViewBag.Title = "WorkerAttendance";
}

<div class="page-body">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header" style="background-color: #425C59; display: block;">
                        <div class="pull-left">
                            <h4 style="color: #FFCEA3;">View Worker Attendance</h4>
                        </div>
                        <div class="pull-right">
                            <a href="/admin/workerattendance" class="btn btn-warning pull-right"><i class="fas fa-backward"></i> Back</a>
                        </div>
                    </div>
                </div>
                <div class="card">

                    <div class="card-body">

                        @Html.HiddenFor(model => model.AttendanceId)

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.EmployeeName)
                                    <p>@Model.EmployeeName</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AttendanceDate)
                                    <p>@Model.AttendanceDate.ToString("dd MMM yyyy")</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Employment Category</label>
                                    <p>@Model.EmploymentCategoryText</p>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Employment Category</label>
                                    <p>@Model.EmployeeCode</p>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.IsMorningText)
                                    <p>@Model.IsMorningText</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.MorningSite)
                                    <p> @Model.MorningSite</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.MorningAttendanceByName)
                                    <p>@Model.MorningAttendanceByName</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.MorningAttendanceDate)
                                    <p>@Model.MorningAttendanceDate</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.MorningLatitude)
                                    <p>@Model.MorningLatitude</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.MorningLongitude)
                                    <p>@Model.MorningLongitude</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.MorningLocationFrom)
                                    <p>@Model.MorningLocationFrom</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.IsAfternoonText)
                                    <p>@Model.IsAfternoonText</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AfternoonSite)
                                    <p>@Model.AfternoonSite</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AfternoonAttendanceByName)
                                    <p>@Model.AfternoonAttendanceByName</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AfternoonAttendanceDate)
                                    <p>@Model.AfternoonAttendanceDate</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AfternoonLatitude)
                                    <p>@Model.AfternoonLatitude</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AfternoonLongitude)
                                    <p>@Model.AfternoonLongitude</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AfternoonLocationFrom)
                                    <p>@Model.AfternoonLocationFrom</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.IsEveningText)
                                    <p>@Model.IsEveningText</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.EveningSite)
                                    <p>@Model.EveningSite</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.EveningAttendanceByName)
                                    <p>@Model.EveningAttendanceByName</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.EveningAttendanceDate)
                                    <p>@Model.EveningAttendanceDate</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.EveningLatitude)
                                    <p>@Model.EveningLatitude</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.EveningLongitude)
                                    <p>@Model.EveningLongitude</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.EveningLocationFrom)
                                    <p>@Model.EveningLocationFrom</p>
                                </div>
                            </div>
                        </div>

                        @if (Model.EmploymentCategory == (int)EmploymentCategory.MonthlyBased || Model.EmploymentCategory == (int)EmploymentCategory.DailyBased)
                        {
                            if (Model.EmploymentCategory == (int)EmploymentCategory.MonthlyBased)
                            {
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Monthly Salary Price</label>
                                            <p>@Model.MonthlySalaryPrice</p>
                                        </div>
                                    </div>
                                </div>
                            }

                            if (Model.EmploymentCategory == (int)EmploymentCategory.DailyBased)
                            {
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Per Day Price</label>
                                            <p>@Model.PerCategoryPrice</p>
                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ExtraHours)
                                        <p>@Model.ExtraHours</p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Extra Per Hour Price</label>
                                        <p>@Model.ExtraPerHourPrice</p>
                                    </div>
                                </div>
                            </div>
                        }
                        else if (Model.EmploymentCategory == (int)EmploymentCategory.HourlyBased)
                        {
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.NoOfHoursWorked)
                                        <p>@Model.NoOfHoursWorked</p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Per Hour Price</label>
                                        <p>@Model.PerCategoryPrice</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.WorkedHoursAmount)
                                        <p>@Model.WorkedHoursAmount</p>
                                    </div>
                                </div>
                            </div>
                        }
                        else if (Model.EmploymentCategory == (int)EmploymentCategory.UnitBased)
                        {
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.NoOfUnitWorked)
                                        <p>@Model.NoOfUnitWorked</p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Per Unit Price</label>
                                        <p>@Model.PerCategoryPrice</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.WorkedUnitAmount)
                                        <p>@Model.WorkedUnitAmount</p>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnCancel').click(function () {
            window.location.href = "/admin/workerattendance";
        });
    })
</script>
