@using AttendanceSystem.Helper
@using AttendanceSystem.ViewModel;
@model AttendanceSystem.ViewModel.EmployeeRatingFilterVM
@{
    ViewBag.Title = "EmployeeRating";
    int counter = 1;

    List<SelectListItem> lstRateYear = new List<SelectListItem>();
    lstRateYear.Add(new SelectListItem { Value = CommonMethod.CurrentIndianDateTime().Year.ToString(), Text = CommonMethod.CurrentIndianDateTime().Year.ToString() });
    lstRateYear.Add(new SelectListItem { Value = (CommonMethod.CurrentIndianDateTime().Year - 1).ToString(), Text = (CommonMethod.CurrentIndianDateTime().Year - 1).ToString() });
    lstRateYear.Add(new SelectListItem { Value = (CommonMethod.CurrentIndianDateTime().Year - 2).ToString(), Text = (CommonMethod.CurrentIndianDateTime().Year - 2).ToString() });
    lstRateYear.Add(new SelectListItem { Value = (CommonMethod.CurrentIndianDateTime().Year - 3).ToString(), Text = (CommonMethod.CurrentIndianDateTime().Year - 3).ToString() });
    lstRateYear.Add(new SelectListItem { Value = (CommonMethod.CurrentIndianDateTime().Year - 4).ToString(), Text = (CommonMethod.CurrentIndianDateTime().Year - 4).ToString() });
}


<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header" style="background-color: #425C59;">
                        <h4 style="color: #FFCEA3;">Employee Rating List</h4>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" style="display: block;">
                        <div class="card-header-action pull-right">
                            <a href="/admin/employeerating/add/0" class="btn btn-icon icon-left btn-primary"><i class="fas fa-plus-circle"></i> Add Employee Rating</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Employee Role</label>
                                    @Html.DropDownListFor(model => model.UserRole, new SelectList(Model.UserRoleList, "Value", "Text"), "- All -", new { @class = "form-control col-md-8 required", style = "" })
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Start Month</label>
                                    @Html.DropDownListFor(model => model.StartMonth, new SelectList(Model.CalenderMonth, "Value", "Text"), "- All -", new { @class = "form-control col-md-8 required", style = "" })
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>End Month</label>
                                    @Html.DropDownListFor(model => model.EndMonth, new SelectList(Model.CalenderMonth, "Value", "Text"), "- All -", new { @class = "form-control col-md-8 required", style = "" })
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Year</label>
                                    @Html.TextBoxFor(model => model.Year, new { @type = "number", @class = "form-control required", @placeholder = "Year", @max = "9999", @maxLength = 4 })
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Employee Code</label>
                                    @Html.TextBoxFor(model => model.EmployeeCode, new { @type = "text", @class = "form-control", @placeholder = "Enter Employee Code" })
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label style="padding-top:45px"></label>
                                    <button class="btn btn-primary mr-1" id="btnSearch" type="button">Search</button>
                                </div>
                            </div>

                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
                                <thead>
                                    <tr>
                                        <td>#</td>
                                        <th>Date</th>
                                        <th>Employee Code</th>
                                        <th>Employee Name</th>
                                        <th>Month</th>
                                        <th>Year</th>
                                        <th>Behaviour</th>
                                        <th>Ragularity</th>
                                        <th>Work</th>
                                        <th>Avg. Rate</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.EmployeeRatingList.Count > 0)
                                    {
                                        foreach (EmployeeRatingVM obj in Model.EmployeeRatingList)
                                        {
                                            <tr>
                                                <td>@counter.</td>
                                                <td>@obj.CreatedDate.ToString("dd MMM yyyy")</td>
                                                <td>@obj.EmployeeCode</td>
                                                <td>@obj.EmployeeName</td>
                                                <td>@obj.RateMonthText</td>
                                                <td>@obj.RateYear</td>
                                                <td>@obj.BehaviourRate</td>
                                                <td>@obj.RegularityRate</td>
                                                <td>@obj.WorkRate</td>
                                                <td>@obj.AvgRate</td>
                                                <td>
                                                    @if ((CommonMethod.CurrentIndianDateTime() - obj.CreatedDate).TotalDays <= 7)
                                                    {
                                                        <a href="/admin/employeerating/add/@obj.EmployeeRatingId" title="Edit" class="btn btn-icon btn-warning"><i class="fas fa-edit"></i></a>
                                                        <a href="javascript:void(0);" title="Delete" class="btn btn-icon btn-danger" onclick="fnDeleteEmployeeRating('@obj.EmployeeRatingId')"><i class="fas fa-trash-alt"></i></a>
                                                    }
                                                    <a href="/admin/employeerating/view/@obj.EmployeeRatingId" title="View" class="btn btn-icon btn-success"><i class="fas fa-eye"></i></a>

                                                </td>
                                            </tr>

                                            counter++;
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade open" id="deleteEmployeeRatingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Confirm</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete ?
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdnDeleteEmployeeRating" />
                <button data-dismiss="modal" class="btn btn-primary" type="button">Close</button>
                <button id="btnDeleteEmployeeRating" class="btn btn-danger" type="button">Delete</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $('#btnSearch').click(function () {
            var userRole = $("#UserRole").val();
            var startMonth = $("#StartMonth").val();
            var endMonth = $("#EndMonth").val();
            var year = $("#Year").val();
            if (startMonth > endMonth) {
                alert("Please select valid Month.");
                return false;
            }
            var employeeCode = $("#EmployeeCode").val();
            StartLoading();
            window.location.href = "/admin/employeeRating/index?startMonth=" + startMonth + "&endMonth=" + endMonth + "&year=" + year + "&userRole=" + userRole + "&employeeCode=" + employeeCode;
        });



        $('#btnDeleteEmployeeRating').click(function () {
            var EmployeeRating_Id = $("#hdnDeleteEmployeeRating").val();
            if (EmployeeRating_Id != "" && EmployeeRating_Id != null) {
                $('#deleteEmployeeRatingModal').modal('hide');

                StartLoading();

                var URL = '@Url.Action("DeleteEmployeeRating", "EmployeeRating")';
                $.ajax({
                    type: 'POST',
                    async: true,
                    url: URL + "?employeeRatingId=" + EmployeeRating_Id ,
                    success: function (result) {
                        if (result == "success") {
                            alert("Employee rating deleted successfully");
                            window.location.reload();
                        }
                        else if (result == "notfound") {
                            alert("Employee Not Found");
                        }
                        else {
                            alert("Something went wrong. Please try again");
                        }

                       StopLoading();
                    },
                    error: function (resultData) {
                       StopLoading();
                    }
                });
            }
        });
    })

    function fnDeleteEmployeeRating(EmployeeRating_Id) {
        $("#hdnDeleteEmployeeRating").val(EmployeeRating_Id);
        $('#deleteEmployeeRatingModal').modal('show');
    }
</script> 