@model AttendanceSystem.ViewModel.EmployeeRatingVM
@{
    ViewBag.Title = "Employee Rating";
}

<section class="section">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header" style="background-color: #425C59; display: block;">
                    <div class="pull-left">
                        <h4 style="color: #FFCEA3;">View Employee Rating</h4>
                    </div>
                    <div class="pull-right">
                        <a href="/admin/employeerating" class="btn btn-warning pull-right"><i class="fas fa-backward"></i> Back</a>
                    </div>
                </div>
            </div>

            <div class="card card-primary"> 
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-6">
                            @Html.LabelFor(model => model.EmployeeId)
                            <p>@Model.EmployeeName</p>
                        </div>
                        <div class="form-group col-6">
                            @Html.LabelFor(model => model.RateYear)
                            <p>@Model.RateYear</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            @Html.LabelFor(model => model.RateMonth)
                            <p>@Model.RateMonthText</p>
                        </div>
                        <div class="form-group col-6">
                            @Html.LabelFor(model => model.BehaviourRate)
                            <p>@Model.BehaviourRate</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            @Html.LabelFor(model => model.RegularityRate)
                            <p>@Model.RegularityRate</p>
                        </div>
                        <div class="form-group col-6">
                            @Html.LabelFor(model => model.WorkRate)
                            <p>@Model.WorkRate</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-12">
                            @Html.LabelFor(model => model.Remarks)
                            <p>@Model.Remarks</p>
                        </div>
                    </div> 
                </div> 
            </div>
        </div>
    </div>

</section> 